/*表格内容上下居中显示*/
.table td {
  vertical-align: middle !important;
}
.testswitch {
  position: relative;
  float: left;
  width: 80px;
  margin: 0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.testswitch-checkbox {
  display: none;
}
.testswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  /*border: 2px solid #999999;*/
  border-radius: 20px;
}
.testswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.testswitch-inner::before, .testswitch-inner::after {
  display: block;
  float: right;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family:
          Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.testswitch-inner::after {
  content: attr(data-on);
  padding-left: 15px;
  background-color: #6FAED9;
  color: #FFFFFF;
}
.testswitch-inner::before {
  content: attr(data-off);
  padding-right: 15px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.testswitch-switch {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  margin: 4px;
  background: #FFFFFF;
  top: 0;
  bottom: 0;
  right: 46px;
  /*border: 2px solid #999999;*/
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
  margin-left: 0;
}
.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
  right: 5px;
}
.add-input>i{
  display:inline-block;
  position:absolute;
  top:7px;
  height:20px;
  width:20px;
  background-image:url('../image/add-gray.png');
  cursor:pointer;
}
.add-input input:disabled, .add-input input[readonly] {
  color: #848484!important;
  background-color: #fff!important;
}
.ztree *{
  font-size: 15px;
}