

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>地址选点</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.10/lib/index.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.10/lib/vant.min.js"></script>
    <script type="text/javascript"
            src="https://webapi.amap.com/maps?v=1.4.15&key=5a7e61d356499dc86719d0b4960a1ad8&plugin=AMap.Geolocation,AMap.Autocomplete"></script>
    <script src="../js/session-storage.js"></script>
    <style type="text/css">
        #container {
            width: 100%;
            height: 13em;
            position: absolute;
            top: 0;
            left: 0
        }

        .mapSearch {
            position: absolute;
            top: 13em;
            height: 3.5em;
            left: 0;
            width: 100%
        }

        .locations {
            position: absolute;
            top: 16.5em;
            bottom: 0em;
            overflow: auto;
            width: 100%;
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 3em;
            width: 100%;
        }

        .footer button {
            height: 3em;
            width: 96%;
            margin: 0 auto;
        }

        .van-search__action {
            color: white;
        }
    </style>
</head>
<body>
<div id="app">
    <div v-if="showMap">
        <div id="container"></div>
        <div class="mapSearch">
            <van-search @focus="toSearch" v-model="value" shape="round"
                        background="linear-gradient(to right, #43CBFF,#9708CC)"
                        placeholder="请输入搜索地址关键词"/>
        </div>
        <div class="locations">
            <van-radio-group v-model="radio">
                <van-cell-group>
                    <van-cell clickable v-for="(list,i) in lists" icon="location-o" :title="list.name"
                              :label="list.address" @click="getlocation(i)">
                        <template #right-icon>
                            <van-radio :name="i"/>
                        </template>
                    </van-cell>
                </van-cell-group>
            </van-radio-group>
        </div>
    </div>
    <div v-else>
        <div>
            <van-search
                    background="linear-gradient(to right, #43CBFF,#9708CC)"
                    v-model="search_key"
                    show-action
                    placeholder="请输入搜索地址关键词"
                    @input="keySearch"
                    autofocus
            >
                <template #action>
                    <div @click="keySearch">搜索</div>
                </template>
            </van-search>
        </div>
        <div v-if="search_list.length>0">
            <van-radio-group v-model="radio2">
                <van-cell-group>
                    <van-cell clickable v-for="(list,i) in search_list" icon="location-o" :title="list.name"
                              :label="list.address" @click="getSearchLocation(i)">
                        <template #right-icon>
                            <van-radio :name="i"/>
                        </template>
                    </van-cell>
                </van-cell-group>
            </van-radio-group>
        </div>
        <div v-else>
            <van-empty description="暂无内容！"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    var Vue = window.Vue;
    var vant = window.vant;
    // 注册组件
    Vue.use(vant);
    var vm = new Vue({
        el: '#app',
        data: {
            radio: '0',
            radio2: '0',
            value: '',
            center: [110.198286,20.044412], //经度+纬度
            search_key: "", //搜索值
            lists: [], //地点列表
            search_list: [], //搜索结果列表
            marker: "",
            showMap: true,
            showSearch: false,
        },
        mounted() {
            let _this =this;
                    _this.radio= '0';
                    _this.radio2= '0';
                    _this.value= '';
                    _this.center= [110.198286,20.044412]; //经度+纬度
                    _this.search_key= "";//搜索值
                    _this. lists= []; //地点列表
                    _this.search_list= []; //搜索结果列表
                    _this.marker= "";
                    _this.showMap= true;
                    _this.showSearch= false;
            SessionStorage.remove("CFD_MANE");//出发地名字
            SessionStorage.remove("CFD_ZB");//坐标
            SessionStorage.remove("MDD_MANE");//目的地地名字
            SessionStorage.remove("MDD_ZB");//坐标


            setTimeout(() => {
                this.adMap();
            }, 250);
        },
        methods: {
            //跳转搜索页面
            toSearch() {
                this.showMap = false;
            },
            //选定搜索地址
            getSearchLocation(i) {
                    this.radio2 = i;
                      let checktype =   SessionStorage.get("CHECK_TYPE");
                      console.log(this.search_list[i]);
                        if (checktype === '1') {
                            SessionStorage.set("CFD_MANE",this.search_list[i].name);//出发地名字
                            SessionStorage.set("CFD_ZB",this.search_list[i].location.lng+","+this.search_list[i].location.lat);//坐标
                        } else if (checktype === '2') {
                            SessionStorage.set("MDD_MANE",this.search_list[i].name);//出发地名字
                            SessionStorage.set("MDD_ZB",this.search_list[i].location.lng+","+this.search_list[i].location.lat);//坐标
                        }


            },
            //选定地址
            getlocation(i) {
                this.radio = i;

                let checktype =   SessionStorage.get("CHECK_TYPE");
                console.log(this.lists[i]);
                if (checktype === '1') {
                    SessionStorage.set("CFD_MANE",this.lists[i].name);//出发地名字
                    SessionStorage.set("CFD_ZB",this.lists[i].location.lng+","+this.lists[i].location.lat);//坐标
                } else if (checktype === '2') {
                    SessionStorage.set("MDD_MANE",this.lists[i].name);//出发地名字
                    SessionStorage.set("MDD_ZB",this.lists[i].location.lng+","+this.lists[i].location.lat);//坐标
                }
            },
            adMap() {
                this.loading = true;
                //初始化地图
                var map = new AMap.Map("container", {
                    zoom: 14, //缩放级别
                    center: this.center //设置地图中心点
                });
                //获取定位
                var geolocation = new AMap.Geolocation({
                    enableHighAccuracy: true,//是否使用高精度定位，默认:true
                    timeout: 10000,          //超过10秒后停止定位，默认：5s
                    buttonPosition: 'RB',    //定位按钮的停靠位置
                    buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                    zoomToAccuracy: true,   //定位成功后是否自动调整地图视野到定位点
                });
                geolocation.getCurrentPosition(function (status, result) {
                    if (status == 'complete') {
                        console.log(result)
                    } else {
                        console.log(result)
                    }
                });
                //获取初始中心点并赋值
                var currentCenter = map.getCenter(); //此方法是获取当前地图的中心点
                this.center = [currentCenter.lng, currentCenter.lat]; //将获取到的中心点的纬度经度赋值给data的center
                //创建标记
                this.marker = new AMap.Marker({
                    position: new AMap.LngLat(currentCenter.lng, currentCenter.lat) // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                });
                // 将创建的点标记添加到已有的地图实例：
                map.add(this.marker);

                //根据地图中心点查附近地点，此方法在下方
                this.centerSearch();
                //监听地图移动事件，并在移动结束后获取地图中心点并更新地点列表
                var moveendFun = e => {
                    // 获取地图中心点
                    currentCenter = map.getCenter();
                    this.center = [currentCenter.lng, currentCenter.lat];
                    this.marker.setPosition([currentCenter.lng, currentCenter.lat]); //更新标记的位置
                    //根据地图中心点查附近地点
                };
                //更新数据
                var centerSearch = () => {
                    this.loading = true;
                    this.centerSearch();
                };

                // 绑定事件移动地图事件
                map.on("mapmove", moveendFun); //更新标记
                map.on("moveend", centerSearch); //更新数据
            },
            centerSearch() {
                vant.Toast.loading({
                    position: 'bottom',
                    message: '加载中...',
                    duration: 0,
                    forbidClick: true,
                });
                this.radio = '';
                AMap.service(["AMap.PlaceSearch"], () => {
                    //构造地点查询类
                    var placeSearch = new AMap.PlaceSearch({
                        type:
                            "汽车服务|汽车销售|汽车维修|摩托车服务|餐饮服务|购物服务|生活服务|体育休闲服务|医疗保健服务|住宿服务|风景名胜|商务住宅|政府机构及社会团体|科教文化服务|交通设施服务|金融保险服务|公司企业|道路附属设施|地名地址信息|公共设施", // 兴趣点类别
                        pageSize: 30, // 单页显示结果条数
                        pageIndex: 1, // 页码
                        city: "hai", // 兴趣点城市
                        autoFitView: false // 是否自动调整地图视野使绘制的 Marker点都处于视口的可见范围
                    });
                    //根据地图中心点查附近地点
                    placeSearch.searchNearBy(
                        "",
                        [this.center[0], this.center[1]],
                        200,
                        (status, result) => {
                            if (status == "complete") {
                                this.lists = result.poiList.pois; //将查询到的地点赋值
                                vant.Toast.clear();
                            }
                        }
                    );
                });
            },
            keySearch() {
                if (this.search_key) {
                    AMap.service(["AMap.PlaceSearch"], () => {
                        //构造地点查询类
                        var placeSearch = new AMap.PlaceSearch({
                            type:
                                "汽车服务|餐饮服务|购物服务|生活服务|体育休闲服务|医疗保健服务|住宿服务|风景名胜|商务住宅|政府机构及社会团体|科教文化服务|交通设施服务|金融保险服务|公司企业|地名地址信息", // 兴趣点类别
                            pageSize: 30, // 单页显示结果条数
                            pageIndex: 1, // 页码
                            city: "海口市", // 兴趣点城市
                            citylimit: false, //是否强制限制在设置的城市内搜索
                            autoFitView: false // 是否自动调整地图视野使绘制的 Marker点都处于视口的可见范围
                        });
                        //关键字查询
                        placeSearch.search(this.search_key, (status, result) => {
                            if (status == "complete") {
                                if (result.poiList.count === 0) {
                                } else {
                                    this.search_list = result.poiList.pois; //将查询到的地点赋值
                                }
                            } else {
                                this.search_list = [];
                            }
                        });
                    });
                } else {
                    this.search_list = [];
                }
            },
            onAddressLi(e) {
                console.log(e);
                this.marker.setPosition([e.location.lng, e.location.lat]); //更新标记的位置
            },
        }
    });
</script>
</body>
</html>

