<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.my.MyDeptMapper">
    <resultMap id="getAllMumResult"   type="com.pd.server.main.dto.KvIntDto">
        <result property="key" column="key" jdbcType="VARCHAR" />
        <result property="value" column="value" jdbcType="INTEGER"/>
    </resultMap>

    <!--  部门上下级关联拆线呢-->
    <select id="getUpdeptcode"    parameterType="java.lang.String" resultType="java.lang.String" >
        select getDeptList(#{deptcode,jdbcType=VARCHAR}) from dual
    </select>



</mapper>