<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.AppearNumbersMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.AppearNumbers">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sbbh" jdbcType="VARCHAR" property="sbbh" />
    <result column="bjsj" jdbcType="VARCHAR" property="bjsj" />
    <result column="alarm_num" jdbcType="INTEGER" property="alarmNum" />
    <result column="xs" jdbcType="VARCHAR" property="xs" />
    <result column="fz" jdbcType="VARCHAR" property="fz" />
    <result column="deptcode" jdbcType="VARCHAR" property="deptcode" />
    <result column="xmbh" jdbcType="VARCHAR" property="xmbh" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sm1" jdbcType="VARCHAR" property="sm1" />
    <result column="sm2" jdbcType="VARCHAR" property="sm2" />
    <result column="sm3" jdbcType="VARCHAR" property="sm3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sbbh, bjsj, alarm_num, xs, fz, deptcode, xmbh, sm, bz, sm1, sm2, sm3
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.AppearNumbersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from appear_numbers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleSpecial"  parameterType="map" resultMap="BaseResultMap">
    select a.* from appear_numbers a LEFT JOIN water_pro_equip b
    ON a.sbbh = b.sbsn where b.xmbh = #{record.xmbh,jdbcType=VARCHAR}
    <if test="record.sbbh != null and record.sbbh !=''">
      AND a.sbbh = #{record.sbbh,jdbcType=VARCHAR}
    </if>
    <if test="record.stime != null and record.stime !=''">
      AND a.fz &gt;= #{record.stime,jdbcType=VARCHAR}
    </if>
    <if test="record.etime != null and record.etime !=''">
      AND a.fz &lt;= #{record.etime,jdbcType=VARCHAR}
    </if>
    order by fz desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appear_numbers
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from appear_numbers
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.AppearNumbersExample">
    delete from appear_numbers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.AppearNumbers">
    insert into appear_numbers (id, sbbh, bjsj, 
      alarm_num, xs, fz, deptcode, 
      xmbh, sm, bz, sm1, 
      sm2, sm3)
    values (#{id,jdbcType=VARCHAR}, #{sbbh,jdbcType=VARCHAR}, #{bjsj,jdbcType=VARCHAR}, 
      #{alarmNum,jdbcType=INTEGER}, #{xs,jdbcType=VARCHAR}, #{fz,jdbcType=VARCHAR}, #{deptcode,jdbcType=VARCHAR}, 
      #{xmbh,jdbcType=VARCHAR}, #{sm,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{sm1,jdbcType=VARCHAR}, 
      #{sm2,jdbcType=VARCHAR}, #{sm3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.AppearNumbers">
    insert into appear_numbers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sbbh != null">
        sbbh,
      </if>
      <if test="bjsj != null">
        bjsj,
      </if>
      <if test="alarmNum != null">
        alarm_num,
      </if>
      <if test="xs != null">
        xs,
      </if>
      <if test="fz != null">
        fz,
      </if>
      <if test="deptcode != null">
        deptcode,
      </if>
      <if test="xmbh != null">
        xmbh,
      </if>
      <if test="sm != null">
        sm,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sm1 != null">
        sm1,
      </if>
      <if test="sm2 != null">
        sm2,
      </if>
      <if test="sm3 != null">
        sm3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sbbh != null">
        #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="bjsj != null">
        #{bjsj,jdbcType=VARCHAR},
      </if>
      <if test="alarmNum != null">
        #{alarmNum,jdbcType=INTEGER},
      </if>
      <if test="xs != null">
        #{xs,jdbcType=VARCHAR},
      </if>
      <if test="fz != null">
        #{fz,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null">
        #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="xmbh != null">
        #{xmbh,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        #{sm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm1 != null">
        #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        #{sm2,jdbcType=VARCHAR},
      </if>
      <if test="sm3 != null">
        #{sm3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.AppearNumbersExample" resultType="java.lang.Long">
    select count(*) from appear_numbers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update appear_numbers
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sbbh != null">
        sbbh = #{record.sbbh,jdbcType=VARCHAR},
      </if>
      <if test="record.bjsj != null">
        bjsj = #{record.bjsj,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmNum != null">
        alarm_num = #{record.alarmNum,jdbcType=INTEGER},
      </if>
      <if test="record.xs != null">
        xs = #{record.xs,jdbcType=VARCHAR},
      </if>
      <if test="record.fz != null">
        fz = #{record.fz,jdbcType=VARCHAR},
      </if>
      <if test="record.deptcode != null">
        deptcode = #{record.deptcode,jdbcType=VARCHAR},
      </if>
      <if test="record.xmbh != null">
        xmbh = #{record.xmbh,jdbcType=VARCHAR},
      </if>
      <if test="record.sm != null">
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sm1 != null">
        sm1 = #{record.sm1,jdbcType=VARCHAR},
      </if>
      <if test="record.sm2 != null">
        sm2 = #{record.sm2,jdbcType=VARCHAR},
      </if>
      <if test="record.sm3 != null">
        sm3 = #{record.sm3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update appear_numbers
    set id = #{record.id,jdbcType=VARCHAR},
      sbbh = #{record.sbbh,jdbcType=VARCHAR},
      bjsj = #{record.bjsj,jdbcType=VARCHAR},
      alarm_num = #{record.alarmNum,jdbcType=INTEGER},
      xs = #{record.xs,jdbcType=VARCHAR},
      fz = #{record.fz,jdbcType=VARCHAR},
      deptcode = #{record.deptcode,jdbcType=VARCHAR},
      xmbh = #{record.xmbh,jdbcType=VARCHAR},
      sm = #{record.sm,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      sm1 = #{record.sm1,jdbcType=VARCHAR},
      sm2 = #{record.sm2,jdbcType=VARCHAR},
      sm3 = #{record.sm3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.AppearNumbers">
    update appear_numbers
    <set>
      <if test="sbbh != null">
        sbbh = #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="bjsj != null">
        bjsj = #{bjsj,jdbcType=VARCHAR},
      </if>
      <if test="alarmNum != null">
        alarm_num = #{alarmNum,jdbcType=INTEGER},
      </if>
      <if test="xs != null">
        xs = #{xs,jdbcType=VARCHAR},
      </if>
      <if test="fz != null">
        fz = #{fz,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null">
        deptcode = #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="xmbh != null">
        xmbh = #{xmbh,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        sm = #{sm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm1 != null">
        sm1 = #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        sm2 = #{sm2,jdbcType=VARCHAR},
      </if>
      <if test="sm3 != null">
        sm3 = #{sm3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.AppearNumbers">
    update appear_numbers
    set sbbh = #{sbbh,jdbcType=VARCHAR},
      bjsj = #{bjsj,jdbcType=VARCHAR},
      alarm_num = #{alarmNum,jdbcType=INTEGER},
      xs = #{xs,jdbcType=VARCHAR},
      fz = #{fz,jdbcType=VARCHAR},
      deptcode = #{deptcode,jdbcType=VARCHAR},
      xmbh = #{xmbh,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      sm1 = #{sm1,jdbcType=VARCHAR},
      sm2 = #{sm2,jdbcType=VARCHAR},
      sm3 = #{sm3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>