<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.AppMonitorInfoMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.AppMonitorInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="kcclx" jdbcType="VARCHAR" property="kcclx" />
    <result column="gczxm" jdbcType="VARCHAR" property="gczxm" />
    <result column="gcqy" jdbcType="VARCHAR" property="gcqy" />
    <result column="gcdw" jdbcType="VARCHAR" property="gcdw" />
    <result column="ksgcsj" jdbcType="TIMESTAMP" property="ksgcsj" />
    <result column="p_zfgcz" jdbcType="VARCHAR" property="pZfgcz" />
    <result column="p_jlz" jdbcType="VARCHAR" property="pJlz" />
    <result column="p_yfgcz" jdbcType="VARCHAR" property="pYfgcz" />
    <result column="p_dlgcz" jdbcType="VARCHAR" property="pDlgcz" />
    <result column="p_dlgczsyff" jdbcType="VARCHAR" property="pDlgczsyff" />
    <result column="p_fjgcz" jdbcType="VARCHAR" property="pFjgcz" />
    <result column="w_ztgczk" jdbcType="VARCHAR" property="wZtgczk" />
    <result column="w_xgszfw" jdbcType="VARCHAR" property="wXgszfw" />
    <result column="w_xgzk" jdbcType="VARCHAR" property="wXgzk" />
    <result column="n_jajl" jdbcType="VARCHAR" property="nJajl" />
    <result column="n_ss" jdbcType="VARCHAR" property="nSs" />
    <result column="n_cs" jdbcType="VARCHAR" property="nCs" />
    <result column="n_jafx" jdbcType="VARCHAR" property="nJafx" />
    <result column="n_fx" jdbcType="VARCHAR" property="nFx" />
    <result column="jsgcsj" jdbcType="TIMESTAMP" property="jsgcsj" />
    <result column="scsj" jdbcType="TIMESTAMP" property="scsj" />
    <result column="gxsj" jdbcType="TIMESTAMP" property="gxsj" />
    <result column="deptcode" jdbcType="VARCHAR" property="deptcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, kcclx, gczxm, gcqy, gcdw, ksgcsj, p_zfgcz, p_jlz, p_yfgcz, p_dlgcz, p_dlgczsyff, 
    p_fjgcz, w_ztgczk, w_xgszfw, w_xgzk, n_jajl, n_ss, n_cs, n_jafx, n_fx, jsgcsj, scsj, 
    gxsj, deptcode
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.AppMonitorInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_monitor_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_monitor_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_monitor_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.AppMonitorInfoExample">
    delete from app_monitor_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.AppMonitorInfo">
    insert into app_monitor_info (id, kcclx, gczxm, 
      gcqy, gcdw, ksgcsj, 
      p_zfgcz, p_jlz, p_yfgcz, 
      p_dlgcz, p_dlgczsyff, p_fjgcz, 
      w_ztgczk, w_xgszfw, w_xgzk, 
      n_jajl, n_ss, n_cs, n_jafx, 
      n_fx, jsgcsj, scsj, 
      gxsj, deptcode)
    values (#{id,jdbcType=VARCHAR}, #{kcclx,jdbcType=VARCHAR}, #{gczxm,jdbcType=VARCHAR}, 
      #{gcqy,jdbcType=VARCHAR}, #{gcdw,jdbcType=VARCHAR}, #{ksgcsj,jdbcType=TIMESTAMP}, 
      #{pZfgcz,jdbcType=VARCHAR}, #{pJlz,jdbcType=VARCHAR}, #{pYfgcz,jdbcType=VARCHAR}, 
      #{pDlgcz,jdbcType=VARCHAR}, #{pDlgczsyff,jdbcType=VARCHAR}, #{pFjgcz,jdbcType=VARCHAR}, 
      #{wZtgczk,jdbcType=VARCHAR}, #{wXgszfw,jdbcType=VARCHAR}, #{wXgzk,jdbcType=VARCHAR}, 
      #{nJajl,jdbcType=VARCHAR}, #{nSs,jdbcType=VARCHAR}, #{nCs,jdbcType=VARCHAR}, #{nJafx,jdbcType=VARCHAR}, 
      #{nFx,jdbcType=VARCHAR}, #{jsgcsj,jdbcType=TIMESTAMP}, #{scsj,jdbcType=TIMESTAMP}, 
      #{gxsj,jdbcType=TIMESTAMP}, #{deptcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.AppMonitorInfo">
    insert into app_monitor_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kcclx != null">
        kcclx,
      </if>
      <if test="gczxm != null">
        gczxm,
      </if>
      <if test="gcqy != null">
        gcqy,
      </if>
      <if test="gcdw != null">
        gcdw,
      </if>
      <if test="ksgcsj != null">
        ksgcsj,
      </if>
      <if test="pZfgcz != null">
        p_zfgcz,
      </if>
      <if test="pJlz != null">
        p_jlz,
      </if>
      <if test="pYfgcz != null">
        p_yfgcz,
      </if>
      <if test="pDlgcz != null">
        p_dlgcz,
      </if>
      <if test="pDlgczsyff != null">
        p_dlgczsyff,
      </if>
      <if test="pFjgcz != null">
        p_fjgcz,
      </if>
      <if test="wZtgczk != null">
        w_ztgczk,
      </if>
      <if test="wXgszfw != null">
        w_xgszfw,
      </if>
      <if test="wXgzk != null">
        w_xgzk,
      </if>
      <if test="nJajl != null">
        n_jajl,
      </if>
      <if test="nSs != null">
        n_ss,
      </if>
      <if test="nCs != null">
        n_cs,
      </if>
      <if test="nJafx != null">
        n_jafx,
      </if>
      <if test="nFx != null">
        n_fx,
      </if>
      <if test="jsgcsj != null">
        jsgcsj,
      </if>
      <if test="scsj != null">
        scsj,
      </if>
      <if test="gxsj != null">
        gxsj,
      </if>
      <if test="deptcode != null">
        deptcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="kcclx != null">
        #{kcclx,jdbcType=VARCHAR},
      </if>
      <if test="gczxm != null">
        #{gczxm,jdbcType=VARCHAR},
      </if>
      <if test="gcqy != null">
        #{gcqy,jdbcType=VARCHAR},
      </if>
      <if test="gcdw != null">
        #{gcdw,jdbcType=VARCHAR},
      </if>
      <if test="ksgcsj != null">
        #{ksgcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="pZfgcz != null">
        #{pZfgcz,jdbcType=VARCHAR},
      </if>
      <if test="pJlz != null">
        #{pJlz,jdbcType=VARCHAR},
      </if>
      <if test="pYfgcz != null">
        #{pYfgcz,jdbcType=VARCHAR},
      </if>
      <if test="pDlgcz != null">
        #{pDlgcz,jdbcType=VARCHAR},
      </if>
      <if test="pDlgczsyff != null">
        #{pDlgczsyff,jdbcType=VARCHAR},
      </if>
      <if test="pFjgcz != null">
        #{pFjgcz,jdbcType=VARCHAR},
      </if>
      <if test="wZtgczk != null">
        #{wZtgczk,jdbcType=VARCHAR},
      </if>
      <if test="wXgszfw != null">
        #{wXgszfw,jdbcType=VARCHAR},
      </if>
      <if test="wXgzk != null">
        #{wXgzk,jdbcType=VARCHAR},
      </if>
      <if test="nJajl != null">
        #{nJajl,jdbcType=VARCHAR},
      </if>
      <if test="nSs != null">
        #{nSs,jdbcType=VARCHAR},
      </if>
      <if test="nCs != null">
        #{nCs,jdbcType=VARCHAR},
      </if>
      <if test="nJafx != null">
        #{nJafx,jdbcType=VARCHAR},
      </if>
      <if test="nFx != null">
        #{nFx,jdbcType=VARCHAR},
      </if>
      <if test="jsgcsj != null">
        #{jsgcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="scsj != null">
        #{scsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gxsj != null">
        #{gxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="deptcode != null">
        #{deptcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.AppMonitorInfoExample" resultType="java.lang.Long">
    select count(*) from app_monitor_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_monitor_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.kcclx != null">
        kcclx = #{record.kcclx,jdbcType=VARCHAR},
      </if>
      <if test="record.gczxm != null">
        gczxm = #{record.gczxm,jdbcType=VARCHAR},
      </if>
      <if test="record.gcqy != null">
        gcqy = #{record.gcqy,jdbcType=VARCHAR},
      </if>
      <if test="record.gcdw != null">
        gcdw = #{record.gcdw,jdbcType=VARCHAR},
      </if>
      <if test="record.ksgcsj != null">
        ksgcsj = #{record.ksgcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pZfgcz != null">
        p_zfgcz = #{record.pZfgcz,jdbcType=VARCHAR},
      </if>
      <if test="record.pJlz != null">
        p_jlz = #{record.pJlz,jdbcType=VARCHAR},
      </if>
      <if test="record.pYfgcz != null">
        p_yfgcz = #{record.pYfgcz,jdbcType=VARCHAR},
      </if>
      <if test="record.pDlgcz != null">
        p_dlgcz = #{record.pDlgcz,jdbcType=VARCHAR},
      </if>
      <if test="record.pDlgczsyff != null">
        p_dlgczsyff = #{record.pDlgczsyff,jdbcType=VARCHAR},
      </if>
      <if test="record.pFjgcz != null">
        p_fjgcz = #{record.pFjgcz,jdbcType=VARCHAR},
      </if>
      <if test="record.wZtgczk != null">
        w_ztgczk = #{record.wZtgczk,jdbcType=VARCHAR},
      </if>
      <if test="record.wXgszfw != null">
        w_xgszfw = #{record.wXgszfw,jdbcType=VARCHAR},
      </if>
      <if test="record.wXgzk != null">
        w_xgzk = #{record.wXgzk,jdbcType=VARCHAR},
      </if>
      <if test="record.nJajl != null">
        n_jajl = #{record.nJajl,jdbcType=VARCHAR},
      </if>
      <if test="record.nSs != null">
        n_ss = #{record.nSs,jdbcType=VARCHAR},
      </if>
      <if test="record.nCs != null">
        n_cs = #{record.nCs,jdbcType=VARCHAR},
      </if>
      <if test="record.nJafx != null">
        n_jafx = #{record.nJafx,jdbcType=VARCHAR},
      </if>
      <if test="record.nFx != null">
        n_fx = #{record.nFx,jdbcType=VARCHAR},
      </if>
      <if test="record.jsgcsj != null">
        jsgcsj = #{record.jsgcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.scsj != null">
        scsj = #{record.scsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gxsj != null">
        gxsj = #{record.gxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deptcode != null">
        deptcode = #{record.deptcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_monitor_info
    set id = #{record.id,jdbcType=VARCHAR},
      kcclx = #{record.kcclx,jdbcType=VARCHAR},
      gczxm = #{record.gczxm,jdbcType=VARCHAR},
      gcqy = #{record.gcqy,jdbcType=VARCHAR},
      gcdw = #{record.gcdw,jdbcType=VARCHAR},
      ksgcsj = #{record.ksgcsj,jdbcType=TIMESTAMP},
      p_zfgcz = #{record.pZfgcz,jdbcType=VARCHAR},
      p_jlz = #{record.pJlz,jdbcType=VARCHAR},
      p_yfgcz = #{record.pYfgcz,jdbcType=VARCHAR},
      p_dlgcz = #{record.pDlgcz,jdbcType=VARCHAR},
      p_dlgczsyff = #{record.pDlgczsyff,jdbcType=VARCHAR},
      p_fjgcz = #{record.pFjgcz,jdbcType=VARCHAR},
      w_ztgczk = #{record.wZtgczk,jdbcType=VARCHAR},
      w_xgszfw = #{record.wXgszfw,jdbcType=VARCHAR},
      w_xgzk = #{record.wXgzk,jdbcType=VARCHAR},
      n_jajl = #{record.nJajl,jdbcType=VARCHAR},
      n_ss = #{record.nSs,jdbcType=VARCHAR},
      n_cs = #{record.nCs,jdbcType=VARCHAR},
      n_jafx = #{record.nJafx,jdbcType=VARCHAR},
      n_fx = #{record.nFx,jdbcType=VARCHAR},
      jsgcsj = #{record.jsgcsj,jdbcType=TIMESTAMP},
      scsj = #{record.scsj,jdbcType=TIMESTAMP},
      gxsj = #{record.gxsj,jdbcType=TIMESTAMP},
      deptcode = #{record.deptcode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.AppMonitorInfo">
    update app_monitor_info
    <set>
      <if test="kcclx != null">
        kcclx = #{kcclx,jdbcType=VARCHAR},
      </if>
      <if test="gczxm != null">
        gczxm = #{gczxm,jdbcType=VARCHAR},
      </if>
      <if test="gcqy != null">
        gcqy = #{gcqy,jdbcType=VARCHAR},
      </if>
      <if test="gcdw != null">
        gcdw = #{gcdw,jdbcType=VARCHAR},
      </if>
      <if test="ksgcsj != null">
        ksgcsj = #{ksgcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="pZfgcz != null">
        p_zfgcz = #{pZfgcz,jdbcType=VARCHAR},
      </if>
      <if test="pJlz != null">
        p_jlz = #{pJlz,jdbcType=VARCHAR},
      </if>
      <if test="pYfgcz != null">
        p_yfgcz = #{pYfgcz,jdbcType=VARCHAR},
      </if>
      <if test="pDlgcz != null">
        p_dlgcz = #{pDlgcz,jdbcType=VARCHAR},
      </if>
      <if test="pDlgczsyff != null">
        p_dlgczsyff = #{pDlgczsyff,jdbcType=VARCHAR},
      </if>
      <if test="pFjgcz != null">
        p_fjgcz = #{pFjgcz,jdbcType=VARCHAR},
      </if>
      <if test="wZtgczk != null">
        w_ztgczk = #{wZtgczk,jdbcType=VARCHAR},
      </if>
      <if test="wXgszfw != null">
        w_xgszfw = #{wXgszfw,jdbcType=VARCHAR},
      </if>
      <if test="wXgzk != null">
        w_xgzk = #{wXgzk,jdbcType=VARCHAR},
      </if>
      <if test="nJajl != null">
        n_jajl = #{nJajl,jdbcType=VARCHAR},
      </if>
      <if test="nSs != null">
        n_ss = #{nSs,jdbcType=VARCHAR},
      </if>
      <if test="nCs != null">
        n_cs = #{nCs,jdbcType=VARCHAR},
      </if>
      <if test="nJafx != null">
        n_jafx = #{nJafx,jdbcType=VARCHAR},
      </if>
      <if test="nFx != null">
        n_fx = #{nFx,jdbcType=VARCHAR},
      </if>
      <if test="jsgcsj != null">
        jsgcsj = #{jsgcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="scsj != null">
        scsj = #{scsj,jdbcType=TIMESTAMP},
      </if>
      <if test="gxsj != null">
        gxsj = #{gxsj,jdbcType=TIMESTAMP},
      </if>
      <if test="deptcode != null">
        deptcode = #{deptcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.AppMonitorInfo">
    update app_monitor_info
    set kcclx = #{kcclx,jdbcType=VARCHAR},
      gczxm = #{gczxm,jdbcType=VARCHAR},
      gcqy = #{gcqy,jdbcType=VARCHAR},
      gcdw = #{gcdw,jdbcType=VARCHAR},
      ksgcsj = #{ksgcsj,jdbcType=TIMESTAMP},
      p_zfgcz = #{pZfgcz,jdbcType=VARCHAR},
      p_jlz = #{pJlz,jdbcType=VARCHAR},
      p_yfgcz = #{pYfgcz,jdbcType=VARCHAR},
      p_dlgcz = #{pDlgcz,jdbcType=VARCHAR},
      p_dlgczsyff = #{pDlgczsyff,jdbcType=VARCHAR},
      p_fjgcz = #{pFjgcz,jdbcType=VARCHAR},
      w_ztgczk = #{wZtgczk,jdbcType=VARCHAR},
      w_xgszfw = #{wXgszfw,jdbcType=VARCHAR},
      w_xgzk = #{wXgzk,jdbcType=VARCHAR},
      n_jajl = #{nJajl,jdbcType=VARCHAR},
      n_ss = #{nSs,jdbcType=VARCHAR},
      n_cs = #{nCs,jdbcType=VARCHAR},
      n_jafx = #{nJafx,jdbcType=VARCHAR},
      n_fx = #{nFx,jdbcType=VARCHAR},
      jsgcsj = #{jsgcsj,jdbcType=TIMESTAMP},
      scsj = #{scsj,jdbcType=TIMESTAMP},
      gxsj = #{gxsj,jdbcType=TIMESTAMP},
      deptcode = #{deptcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>