<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.BodyAssessMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.BodyAssess">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="volume" jdbcType="VARCHAR" property="volume" />
    <result column="bai" jdbcType="VARCHAR" property="bai" />
    <result column="body_length" jdbcType="VARCHAR" property="bodyLength" />
    <result column="age_group" jdbcType="VARCHAR" property="ageGroup" />
    <result column="total_weight" jdbcType="VARCHAR" property="totalWeight" />
    <result column="total_bmi" jdbcType="VARCHAR" property="totalBmi" />
    <result column="fat_thin" jdbcType="VARCHAR" property="fatThin" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, volume, bai, body_length, age_group, total_weight, total_bmi, fat_thin, img_url, 
    cjsj, bz, sm
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.BodyAssessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from body_assess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from body_assess
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from body_assess
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.BodyAssessExample">
    delete from body_assess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.BodyAssess">
    insert into body_assess (id, volume, bai, 
      body_length, age_group, total_weight, 
      total_bmi, fat_thin, img_url, 
      cjsj, bz, sm)
    values (#{id,jdbcType=VARCHAR}, #{volume,jdbcType=VARCHAR}, #{bai,jdbcType=VARCHAR}, 
      #{bodyLength,jdbcType=VARCHAR}, #{ageGroup,jdbcType=VARCHAR}, #{totalWeight,jdbcType=VARCHAR}, 
      #{totalBmi,jdbcType=VARCHAR}, #{fatThin,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{cjsj,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}, #{sm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.BodyAssess">
    insert into body_assess
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="volume != null">
        volume,
      </if>
      <if test="bai != null">
        bai,
      </if>
      <if test="bodyLength != null">
        body_length,
      </if>
      <if test="ageGroup != null">
        age_group,
      </if>
      <if test="totalWeight != null">
        total_weight,
      </if>
      <if test="totalBmi != null">
        total_bmi,
      </if>
      <if test="fatThin != null">
        fat_thin,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sm != null">
        sm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=VARCHAR},
      </if>
      <if test="bai != null">
        #{bai,jdbcType=VARCHAR},
      </if>
      <if test="bodyLength != null">
        #{bodyLength,jdbcType=VARCHAR},
      </if>
      <if test="ageGroup != null">
        #{ageGroup,jdbcType=VARCHAR},
      </if>
      <if test="totalWeight != null">
        #{totalWeight,jdbcType=VARCHAR},
      </if>
      <if test="totalBmi != null">
        #{totalBmi,jdbcType=VARCHAR},
      </if>
      <if test="fatThin != null">
        #{fatThin,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        #{sm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.BodyAssessExample" resultType="java.lang.Long">
    select count(*) from body_assess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update body_assess
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.volume != null">
        volume = #{record.volume,jdbcType=VARCHAR},
      </if>
      <if test="record.bai != null">
        bai = #{record.bai,jdbcType=VARCHAR},
      </if>
      <if test="record.bodyLength != null">
        body_length = #{record.bodyLength,jdbcType=VARCHAR},
      </if>
      <if test="record.ageGroup != null">
        age_group = #{record.ageGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.totalWeight != null">
        total_weight = #{record.totalWeight,jdbcType=VARCHAR},
      </if>
      <if test="record.totalBmi != null">
        total_bmi = #{record.totalBmi,jdbcType=VARCHAR},
      </if>
      <if test="record.fatThin != null">
        fat_thin = #{record.fatThin,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sm != null">
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update body_assess
    set id = #{record.id,jdbcType=VARCHAR},
      volume = #{record.volume,jdbcType=VARCHAR},
      bai = #{record.bai,jdbcType=VARCHAR},
      body_length = #{record.bodyLength,jdbcType=VARCHAR},
      age_group = #{record.ageGroup,jdbcType=VARCHAR},
      total_weight = #{record.totalWeight,jdbcType=VARCHAR},
      total_bmi = #{record.totalBmi,jdbcType=VARCHAR},
      fat_thin = #{record.fatThin,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      bz = #{record.bz,jdbcType=VARCHAR},
      sm = #{record.sm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.BodyAssess">
    update body_assess
    <set>
      <if test="volume != null">
        volume = #{volume,jdbcType=VARCHAR},
      </if>
      <if test="bai != null">
        bai = #{bai,jdbcType=VARCHAR},
      </if>
      <if test="bodyLength != null">
        body_length = #{bodyLength,jdbcType=VARCHAR},
      </if>
      <if test="ageGroup != null">
        age_group = #{ageGroup,jdbcType=VARCHAR},
      </if>
      <if test="totalWeight != null">
        total_weight = #{totalWeight,jdbcType=VARCHAR},
      </if>
      <if test="totalBmi != null">
        total_bmi = #{totalBmi,jdbcType=VARCHAR},
      </if>
      <if test="fatThin != null">
        fat_thin = #{fatThin,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        sm = #{sm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.BodyAssess">
    update body_assess
    set volume = #{volume,jdbcType=VARCHAR},
      bai = #{bai,jdbcType=VARCHAR},
      body_length = #{bodyLength,jdbcType=VARCHAR},
      age_group = #{ageGroup,jdbcType=VARCHAR},
      total_weight = #{totalWeight,jdbcType=VARCHAR},
      total_bmi = #{totalBmi,jdbcType=VARCHAR},
      fat_thin = #{fatThin,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>