<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.CameraMiddleMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.CameraMiddle">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sbbh" jdbcType="VARCHAR" property="sbbh" />
    <result column="jqsj" jdbcType="VARCHAR" property="jqsj" />
    <result column="jgsj" jdbcType="VARCHAR" property="jgsj" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="camerapws" jdbcType="VARCHAR" property="camerapws" />
    <result column="tdh" jdbcType="VARCHAR" property="tdh" />
    <result column="dvrip" jdbcType="VARCHAR" property="dvrip" />
    <result column="sfjq" jdbcType="VARCHAR" property="sfjq" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sbbh, jqsj, jgsj, ip, port, username, camerapws, tdh, dvrip, sfjq, bz, sm
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.CameraMiddleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from camera_middle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera_middle
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from camera_middle
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.CameraMiddleExample">
    delete from camera_middle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.CameraMiddle">
    insert into camera_middle (id, sbbh, jqsj, 
      jgsj, ip, port, username, 
      camerapws, tdh, dvrip, 
      sfjq, bz, sm)
    values (#{id,jdbcType=VARCHAR}, #{sbbh,jdbcType=VARCHAR}, #{jqsj,jdbcType=VARCHAR}, 
      #{jgsj,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{camerapws,jdbcType=VARCHAR}, #{tdh,jdbcType=VARCHAR}, #{dvrip,jdbcType=VARCHAR}, 
      #{sfjq,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{sm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.CameraMiddle">
    insert into camera_middle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sbbh != null">
        sbbh,
      </if>
      <if test="jqsj != null">
        jqsj,
      </if>
      <if test="jgsj != null">
        jgsj,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="camerapws != null">
        camerapws,
      </if>
      <if test="tdh != null">
        tdh,
      </if>
      <if test="dvrip != null">
        dvrip,
      </if>
      <if test="sfjq != null">
        sfjq,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sm != null">
        sm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sbbh != null">
        #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="jqsj != null">
        #{jqsj,jdbcType=VARCHAR},
      </if>
      <if test="jgsj != null">
        #{jgsj,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="camerapws != null">
        #{camerapws,jdbcType=VARCHAR},
      </if>
      <if test="tdh != null">
        #{tdh,jdbcType=VARCHAR},
      </if>
      <if test="dvrip != null">
        #{dvrip,jdbcType=VARCHAR},
      </if>
      <if test="sfjq != null">
        #{sfjq,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        #{sm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.CameraMiddleExample" resultType="java.lang.Long">
    select count(*) from camera_middle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update camera_middle
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sbbh != null">
        sbbh = #{record.sbbh,jdbcType=VARCHAR},
      </if>
      <if test="record.jqsj != null">
        jqsj = #{record.jqsj,jdbcType=VARCHAR},
      </if>
      <if test="record.jgsj != null">
        jgsj = #{record.jgsj,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null">
        port = #{record.port,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.camerapws != null">
        camerapws = #{record.camerapws,jdbcType=VARCHAR},
      </if>
      <if test="record.tdh != null">
        tdh = #{record.tdh,jdbcType=VARCHAR},
      </if>
      <if test="record.dvrip != null">
        dvrip = #{record.dvrip,jdbcType=VARCHAR},
      </if>
      <if test="record.sfjq != null">
        sfjq = #{record.sfjq,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sm != null">
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update camera_middle
    set id = #{record.id,jdbcType=VARCHAR},
      sbbh = #{record.sbbh,jdbcType=VARCHAR},
      jqsj = #{record.jqsj,jdbcType=VARCHAR},
      jgsj = #{record.jgsj,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      camerapws = #{record.camerapws,jdbcType=VARCHAR},
      tdh = #{record.tdh,jdbcType=VARCHAR},
      dvrip = #{record.dvrip,jdbcType=VARCHAR},
      sfjq = #{record.sfjq,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      sm = #{record.sm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.CameraMiddle">
    update camera_middle
    <set>
      <if test="sbbh != null">
        sbbh = #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="jqsj != null">
        jqsj = #{jqsj,jdbcType=VARCHAR},
      </if>
      <if test="jgsj != null">
        jgsj = #{jgsj,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="camerapws != null">
        camerapws = #{camerapws,jdbcType=VARCHAR},
      </if>
      <if test="tdh != null">
        tdh = #{tdh,jdbcType=VARCHAR},
      </if>
      <if test="dvrip != null">
        dvrip = #{dvrip,jdbcType=VARCHAR},
      </if>
      <if test="sfjq != null">
        sfjq = #{sfjq,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        sm = #{sm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.CameraMiddle">
    update camera_middle
    set sbbh = #{sbbh,jdbcType=VARCHAR},
      jqsj = #{jqsj,jdbcType=VARCHAR},
      jgsj = #{jgsj,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      camerapws = #{camerapws,jdbcType=VARCHAR},
      tdh = #{tdh,jdbcType=VARCHAR},
      dvrip = #{dvrip,jdbcType=VARCHAR},
      sfjq = #{sfjq,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>