<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.CurrentMeterMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.CurrentMeter">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="product_number" jdbcType="VARCHAR" property="productNumber" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="abs_speed" jdbcType="VARCHAR" property="absSpeed" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="north" jdbcType="VARCHAR" property="north" />
    <result column="east" jdbcType="VARCHAR" property="east" />
    <result column="heading" jdbcType="VARCHAR" property="heading" />
    <result column="tilt_x" jdbcType="VARCHAR" property="tiltX" />
    <result column="tilt_y" jdbcType="VARCHAR" property="tiltY" />
    <result column="sp_std" jdbcType="VARCHAR" property="spStd" />
    <result column="strength" jdbcType="VARCHAR" property="strength" />
    <result column="ping_count" jdbcType="VARCHAR" property="pingCount" />
    <result column="abs_tilt" jdbcType="VARCHAR" property="absTilt" />
    <result column="max_tilt" jdbcType="VARCHAR" property="maxTilt" />
    <result column="std_tilt" jdbcType="VARCHAR" property="stdTilt" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
    <result column="uspeed" jdbcType="DOUBLE" property="uspeed" />
    <result column="vspeed" jdbcType="DOUBLE" property="vspeed" />
    <result column="zeta_data" jdbcType="DOUBLE" property="zetaData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_number, serial_number, abs_speed, direction, north, east, heading, tilt_x, 
    tilt_y, sp_std, strength, ping_count, abs_tilt, max_tilt, std_tilt, cjsj, bz, sm, uspeed, vspeed, zeta_data
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.CurrentMeterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from current_meter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from current_meter
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from current_meter
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.CurrentMeterExample">
    delete from current_meter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.CurrentMeter">
    insert into current_meter (id, product_number, serial_number, 
      abs_speed, direction, north, 
      east, heading, tilt_x, 
      tilt_y, sp_std, strength, 
      ping_count, abs_tilt, max_tilt, 
      std_tilt, cjsj, bz, 
      sm, uspeed, vspeed, zeta_data)
    values (#{id,jdbcType=VARCHAR}, #{productNumber,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, 
      #{absSpeed,jdbcType=VARCHAR}, #{direction,jdbcType=VARCHAR}, #{north,jdbcType=VARCHAR}, 
      #{east,jdbcType=VARCHAR}, #{heading,jdbcType=VARCHAR}, #{tiltX,jdbcType=VARCHAR}, 
      #{tiltY,jdbcType=VARCHAR}, #{spStd,jdbcType=VARCHAR}, #{strength,jdbcType=VARCHAR}, 
      #{pingCount,jdbcType=VARCHAR}, #{absTilt,jdbcType=VARCHAR}, #{maxTilt,jdbcType=VARCHAR}, 
      #{stdTilt,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}, 
      #{sm,jdbcType=VARCHAR}, #{uspeed,jdbcType=DOUBLE}, #{vspeed,jdbcType=DOUBLE}, #{zetaData,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.CurrentMeter">
    insert into current_meter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productNumber != null">
        product_number,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="absSpeed != null">
        abs_speed,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="north != null">
        north,
      </if>
      <if test="east != null">
        east,
      </if>
      <if test="heading != null">
        heading,
      </if>
      <if test="tiltX != null">
        tilt_x,
      </if>
      <if test="tiltY != null">
        tilt_y,
      </if>
      <if test="spStd != null">
        sp_std,
      </if>
      <if test="strength != null">
        strength,
      </if>
      <if test="pingCount != null">
        ping_count,
      </if>
      <if test="absTilt != null">
        abs_tilt,
      </if>
      <if test="maxTilt != null">
        max_tilt,
      </if>
      <if test="stdTilt != null">
        std_tilt,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sm != null">
        sm,
      </if>
      <if test="sm != null">
        uspeed,
      </if>
      <if test="sm != null">
        vspeed,
      </if>
      <if test="sm != null">
        zeta_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="absSpeed != null">
        #{absSpeed,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="north != null">
        #{north,jdbcType=VARCHAR},
      </if>
      <if test="east != null">
        #{east,jdbcType=VARCHAR},
      </if>
      <if test="heading != null">
        #{heading,jdbcType=VARCHAR},
      </if>
      <if test="tiltX != null">
        #{tiltX,jdbcType=VARCHAR},
      </if>
      <if test="tiltY != null">
        #{tiltY,jdbcType=VARCHAR},
      </if>
      <if test="spStd != null">
        #{spStd,jdbcType=VARCHAR},
      </if>
      <if test="strength != null">
        #{strength,jdbcType=VARCHAR},
      </if>
      <if test="pingCount != null">
        #{pingCount,jdbcType=VARCHAR},
      </if>
      <if test="absTilt != null">
        #{absTilt,jdbcType=VARCHAR},
      </if>
      <if test="maxTilt != null">
        #{maxTilt,jdbcType=VARCHAR},
      </if>
      <if test="stdTilt != null">
        #{stdTilt,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        #{sm,jdbcType=VARCHAR},
      </if>
      <if test="uspeed != null">
        #{uspeed,jdbcType=DOUBLE},
      </if>
      <if test="vspeed != null">
        #{vspeed,jdbcType=DOUBLE},
      </if>
      <if test="zetaData != null">
        #{zetaData,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.CurrentMeterExample" resultType="java.lang.Long">
    select count(*) from current_meter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update current_meter
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.productNumber != null">
        product_number = #{record.productNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumber != null">
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.absSpeed != null">
        abs_speed = #{record.absSpeed,jdbcType=VARCHAR},
      </if>
      <if test="record.direction != null">
        direction = #{record.direction,jdbcType=VARCHAR},
      </if>
      <if test="record.north != null">
        north = #{record.north,jdbcType=VARCHAR},
      </if>
      <if test="record.east != null">
        east = #{record.east,jdbcType=VARCHAR},
      </if>
      <if test="record.heading != null">
        heading = #{record.heading,jdbcType=VARCHAR},
      </if>
      <if test="record.tiltX != null">
        tilt_x = #{record.tiltX,jdbcType=VARCHAR},
      </if>
      <if test="record.tiltY != null">
        tilt_y = #{record.tiltY,jdbcType=VARCHAR},
      </if>
      <if test="record.spStd != null">
        sp_std = #{record.spStd,jdbcType=VARCHAR},
      </if>
      <if test="record.strength != null">
        strength = #{record.strength,jdbcType=VARCHAR},
      </if>
      <if test="record.pingCount != null">
        ping_count = #{record.pingCount,jdbcType=VARCHAR},
      </if>
      <if test="record.absTilt != null">
        abs_tilt = #{record.absTilt,jdbcType=VARCHAR},
      </if>
      <if test="record.maxTilt != null">
        max_tilt = #{record.maxTilt,jdbcType=VARCHAR},
      </if>
      <if test="record.stdTilt != null">
        std_tilt = #{record.stdTilt,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sm != null">
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
      <if test="record.uspeed != null">
        uspeed = #{record.uspeed,jdbcType=DOUBLE},
      </if>
      <if test="record.vspeed != null">
        vspeed = #{record.vspeed,jdbcType=DOUBLE},
      </if>
      <if test="record.zetaData != null">
        zeta_data = #{record.zetaData,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update current_meter
    set id = #{record.id,jdbcType=VARCHAR},
      product_number = #{record.productNumber,jdbcType=VARCHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      abs_speed = #{record.absSpeed,jdbcType=VARCHAR},
      direction = #{record.direction,jdbcType=VARCHAR},
      north = #{record.north,jdbcType=VARCHAR},
      east = #{record.east,jdbcType=VARCHAR},
      heading = #{record.heading,jdbcType=VARCHAR},
      tilt_x = #{record.tiltX,jdbcType=VARCHAR},
      tilt_y = #{record.tiltY,jdbcType=VARCHAR},
      sp_std = #{record.spStd,jdbcType=VARCHAR},
      strength = #{record.strength,jdbcType=VARCHAR},
      ping_count = #{record.pingCount,jdbcType=VARCHAR},
      abs_tilt = #{record.absTilt,jdbcType=VARCHAR},
      max_tilt = #{record.maxTilt,jdbcType=VARCHAR},
      std_tilt = #{record.stdTilt,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      bz = #{record.bz,jdbcType=VARCHAR},
      sm = #{record.sm,jdbcType=VARCHAR},
      uspeed = #{record.uspeed,jdbcType=DOUBLE},
      vspeed = #{record.vspeed,jdbcType=DOUBLE},
      zeta_data = #{record.zetaData,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.CurrentMeter">
    update current_meter
    <set>
      <if test="productNumber != null">
        product_number = #{productNumber,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="absSpeed != null">
        abs_speed = #{absSpeed,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="north != null">
        north = #{north,jdbcType=VARCHAR},
      </if>
      <if test="east != null">
        east = #{east,jdbcType=VARCHAR},
      </if>
      <if test="heading != null">
        heading = #{heading,jdbcType=VARCHAR},
      </if>
      <if test="tiltX != null">
        tilt_x = #{tiltX,jdbcType=VARCHAR},
      </if>
      <if test="tiltY != null">
        tilt_y = #{tiltY,jdbcType=VARCHAR},
      </if>
      <if test="spStd != null">
        sp_std = #{spStd,jdbcType=VARCHAR},
      </if>
      <if test="strength != null">
        strength = #{strength,jdbcType=VARCHAR},
      </if>
      <if test="pingCount != null">
        ping_count = #{pingCount,jdbcType=VARCHAR},
      </if>
      <if test="absTilt != null">
        abs_tilt = #{absTilt,jdbcType=VARCHAR},
      </if>
      <if test="maxTilt != null">
        max_tilt = #{maxTilt,jdbcType=VARCHAR},
      </if>
      <if test="stdTilt != null">
        std_tilt = #{stdTilt,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        sm = #{sm,jdbcType=VARCHAR},
      </if>
      <if test="uspeed != null">
        uspeed = #{uspeed,jdbcType=DOUBLE},
      </if>
      <if test="vspeed != null">
        vspeed = #{vspeed,jdbcType=DOUBLE},
      </if>
      <if test="zetaData != null">
        zeta_data = #{zetaData,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.CurrentMeter">
    update current_meter
    set product_number = #{productNumber,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      abs_speed = #{absSpeed,jdbcType=VARCHAR},
      direction = #{direction,jdbcType=VARCHAR},
      north = #{north,jdbcType=VARCHAR},
      east = #{east,jdbcType=VARCHAR},
      heading = #{heading,jdbcType=VARCHAR},
      tilt_x = #{tiltX,jdbcType=VARCHAR},
      tilt_y = #{tiltY,jdbcType=VARCHAR},
      sp_std = #{spStd,jdbcType=VARCHAR},
      strength = #{strength,jdbcType=VARCHAR},
      ping_count = #{pingCount,jdbcType=VARCHAR},
      abs_tilt = #{absTilt,jdbcType=VARCHAR},
      max_tilt = #{maxTilt,jdbcType=VARCHAR},
      std_tilt = #{stdTilt,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR},
      uspeed = #{uspeed,jdbcType=DOUBLE},
      vspeed = #{vspeed,jdbcType=DOUBLE},
      zeta_data = #{zetaData,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>