<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.DeptYwlxMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.DeptYwlx">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="deptcode" jdbcType="VARCHAR" property="deptcode" />
    <result column="ywfl" jdbcType="VARCHAR" property="ywfl" />
    <result column="ywlx" jdbcType="VARCHAR" property="ywlx" />
    <result column="bslc" jdbcType="VARCHAR" property="bslc" />
    <result column="sxzl" jdbcType="VARCHAR" property="sxzl" />
    <result column="lcto" jdbcType="VARCHAR" property="lcto" />
    <result column="lctt" jdbcType="VARCHAR" property="lctt" />
    <result column="lcth" jdbcType="VARCHAR" property="lcth" />
    <result column="lctf" jdbcType="VARCHAR" property="lctf" />
    <result column="lctfi" jdbcType="VARCHAR" property="lctfi" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="zt" jdbcType="CHAR" property="zt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deptcode, ywfl, ywlx, bslc, sxzl, lcto, lctt, lcth, lctf, lctfi, bz, zt
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.DeptYwlxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dept_ywlx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dept_ywlx
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dept_ywlx
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.DeptYwlxExample">
    delete from dept_ywlx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.DeptYwlx">
    insert into dept_ywlx (id, deptcode, ywfl, 
      ywlx, bslc, sxzl, lcto, 
      lctt, lcth, lctf, lctfi, 
      bz, zt)
    values (#{id,jdbcType=VARCHAR}, #{deptcode,jdbcType=VARCHAR}, #{ywfl,jdbcType=VARCHAR}, 
      #{ywlx,jdbcType=VARCHAR}, #{bslc,jdbcType=VARCHAR}, #{sxzl,jdbcType=VARCHAR}, #{lcto,jdbcType=VARCHAR}, 
      #{lctt,jdbcType=VARCHAR}, #{lcth,jdbcType=VARCHAR}, #{lctf,jdbcType=VARCHAR}, #{lctfi,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR}, #{zt,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.DeptYwlx">
    insert into dept_ywlx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptcode != null">
        deptcode,
      </if>
      <if test="ywfl != null">
        ywfl,
      </if>
      <if test="ywlx != null">
        ywlx,
      </if>
      <if test="bslc != null">
        bslc,
      </if>
      <if test="sxzl != null">
        sxzl,
      </if>
      <if test="lcto != null">
        lcto,
      </if>
      <if test="lctt != null">
        lctt,
      </if>
      <if test="lcth != null">
        lcth,
      </if>
      <if test="lctf != null">
        lctf,
      </if>
      <if test="lctfi != null">
        lctfi,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="zt != null">
        zt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null">
        #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="ywfl != null">
        #{ywfl,jdbcType=VARCHAR},
      </if>
      <if test="ywlx != null">
        #{ywlx,jdbcType=VARCHAR},
      </if>
      <if test="bslc != null">
        #{bslc,jdbcType=VARCHAR},
      </if>
      <if test="sxzl != null">
        #{sxzl,jdbcType=VARCHAR},
      </if>
      <if test="lcto != null">
        #{lcto,jdbcType=VARCHAR},
      </if>
      <if test="lctt != null">
        #{lctt,jdbcType=VARCHAR},
      </if>
      <if test="lcth != null">
        #{lcth,jdbcType=VARCHAR},
      </if>
      <if test="lctf != null">
        #{lctf,jdbcType=VARCHAR},
      </if>
      <if test="lctfi != null">
        #{lctfi,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.DeptYwlxExample" resultType="java.lang.Long">
    select count(*) from dept_ywlx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dept_ywlx
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deptcode != null">
        deptcode = #{record.deptcode,jdbcType=VARCHAR},
      </if>
      <if test="record.ywfl != null">
        ywfl = #{record.ywfl,jdbcType=VARCHAR},
      </if>
      <if test="record.ywlx != null">
        ywlx = #{record.ywlx,jdbcType=VARCHAR},
      </if>
      <if test="record.bslc != null">
        bslc = #{record.bslc,jdbcType=VARCHAR},
      </if>
      <if test="record.sxzl != null">
        sxzl = #{record.sxzl,jdbcType=VARCHAR},
      </if>
      <if test="record.lcto != null">
        lcto = #{record.lcto,jdbcType=VARCHAR},
      </if>
      <if test="record.lctt != null">
        lctt = #{record.lctt,jdbcType=VARCHAR},
      </if>
      <if test="record.lcth != null">
        lcth = #{record.lcth,jdbcType=VARCHAR},
      </if>
      <if test="record.lctf != null">
        lctf = #{record.lctf,jdbcType=VARCHAR},
      </if>
      <if test="record.lctfi != null">
        lctfi = #{record.lctfi,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dept_ywlx
    set id = #{record.id,jdbcType=VARCHAR},
      deptcode = #{record.deptcode,jdbcType=VARCHAR},
      ywfl = #{record.ywfl,jdbcType=VARCHAR},
      ywlx = #{record.ywlx,jdbcType=VARCHAR},
      bslc = #{record.bslc,jdbcType=VARCHAR},
      sxzl = #{record.sxzl,jdbcType=VARCHAR},
      lcto = #{record.lcto,jdbcType=VARCHAR},
      lctt = #{record.lctt,jdbcType=VARCHAR},
      lcth = #{record.lcth,jdbcType=VARCHAR},
      lctf = #{record.lctf,jdbcType=VARCHAR},
      lctfi = #{record.lctfi,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.DeptYwlx">
    update dept_ywlx
    <set>
      <if test="deptcode != null">
        deptcode = #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="ywfl != null">
        ywfl = #{ywfl,jdbcType=VARCHAR},
      </if>
      <if test="ywlx != null">
        ywlx = #{ywlx,jdbcType=VARCHAR},
      </if>
      <if test="bslc != null">
        bslc = #{bslc,jdbcType=VARCHAR},
      </if>
      <if test="sxzl != null">
        sxzl = #{sxzl,jdbcType=VARCHAR},
      </if>
      <if test="lcto != null">
        lcto = #{lcto,jdbcType=VARCHAR},
      </if>
      <if test="lctt != null">
        lctt = #{lctt,jdbcType=VARCHAR},
      </if>
      <if test="lcth != null">
        lcth = #{lcth,jdbcType=VARCHAR},
      </if>
      <if test="lctf != null">
        lctf = #{lctf,jdbcType=VARCHAR},
      </if>
      <if test="lctfi != null">
        lctfi = #{lctfi,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.DeptYwlx">
    update dept_ywlx
    set deptcode = #{deptcode,jdbcType=VARCHAR},
      ywfl = #{ywfl,jdbcType=VARCHAR},
      ywlx = #{ywlx,jdbcType=VARCHAR},
      bslc = #{bslc,jdbcType=VARCHAR},
      sxzl = #{sxzl,jdbcType=VARCHAR},
      lcto = #{lcto,jdbcType=VARCHAR},
      lctt = #{lctt,jdbcType=VARCHAR},
      lcth = #{lcth,jdbcType=VARCHAR},
      lctf = #{lctf,jdbcType=VARCHAR},
      lctfi = #{lctfi,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>