<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.DrvExamrecordMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.DrvExamrecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="kskm" jdbcType="VARCHAR" property="kskm" />
    <result column="dtlb" jdbcType="VARCHAR" property="dtlb" />
    <result column="tmbt" jdbcType="VARCHAR" property="tmbt" />
    <result column="a" jdbcType="VARCHAR" property="a" />
    <result column="b" jdbcType="VARCHAR" property="b" />
    <result column="c" jdbcType="VARCHAR" property="c" />
    <result column="d" jdbcType="VARCHAR" property="d" />
    <result column="tp1" jdbcType="VARCHAR" property="tp1" />
    <result column="tp2" jdbcType="VARCHAR" property="tp2" />
    <result column="zqda" jdbcType="VARCHAR" property="zqda" />
    <result column="xzda" jdbcType="VARCHAR" property="xzda" />
    <result column="wxid" jdbcType="VARCHAR" property="wxid" />
    <result column="dtsm" jdbcType="VARCHAR" property="dtsm" />
    <result column="ktsx" jdbcType="INTEGER" property="ktsx" />
    <result column="examlogid" jdbcType="VARCHAR" property="examlogid" />
    <result column="examid" jdbcType="VARCHAR" property="examid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, kskm, dtlb, tmbt, `a`, b, `c`, d, tp1, tp2, zqda, xzda, wxid, dtsm, ktsx, examlogid, 
    examid
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.DrvExamrecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drv_examrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drv_examrecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drv_examrecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.DrvExamrecordExample">
    delete from drv_examrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.DrvExamrecord">
    insert into drv_examrecord (id, kskm, dtlb, 
      tmbt, `a`, b, `c`, 
      d, tp1, tp2, zqda, 
      xzda, wxid, dtsm, ktsx, 
      examlogid, examid)
    values (#{id,jdbcType=VARCHAR}, #{kskm,jdbcType=VARCHAR}, #{dtlb,jdbcType=VARCHAR}, 
      #{tmbt,jdbcType=VARCHAR}, #{a,jdbcType=VARCHAR}, #{b,jdbcType=VARCHAR}, #{c,jdbcType=VARCHAR}, 
      #{d,jdbcType=VARCHAR}, #{tp1,jdbcType=VARCHAR}, #{tp2,jdbcType=VARCHAR}, #{zqda,jdbcType=VARCHAR}, 
      #{xzda,jdbcType=VARCHAR}, #{wxid,jdbcType=VARCHAR}, #{dtsm,jdbcType=VARCHAR}, #{ktsx,jdbcType=INTEGER}, 
      #{examlogid,jdbcType=VARCHAR}, #{examid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.DrvExamrecord">
    insert into drv_examrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kskm != null">
        kskm,
      </if>
      <if test="dtlb != null">
        dtlb,
      </if>
      <if test="tmbt != null">
        tmbt,
      </if>
      <if test="a != null">
        `a`,
      </if>
      <if test="b != null">
        b,
      </if>
      <if test="c != null">
        `c`,
      </if>
      <if test="d != null">
        d,
      </if>
      <if test="tp1 != null">
        tp1,
      </if>
      <if test="tp2 != null">
        tp2,
      </if>
      <if test="zqda != null">
        zqda,
      </if>
      <if test="xzda != null">
        xzda,
      </if>
      <if test="wxid != null">
        wxid,
      </if>
      <if test="dtsm != null">
        dtsm,
      </if>
      <if test="ktsx != null">
        ktsx,
      </if>
      <if test="examlogid != null">
        examlogid,
      </if>
      <if test="examid != null">
        examid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="kskm != null">
        #{kskm,jdbcType=VARCHAR},
      </if>
      <if test="dtlb != null">
        #{dtlb,jdbcType=VARCHAR},
      </if>
      <if test="tmbt != null">
        #{tmbt,jdbcType=VARCHAR},
      </if>
      <if test="a != null">
        #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null">
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null">
        #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null">
        #{d,jdbcType=VARCHAR},
      </if>
      <if test="tp1 != null">
        #{tp1,jdbcType=VARCHAR},
      </if>
      <if test="tp2 != null">
        #{tp2,jdbcType=VARCHAR},
      </if>
      <if test="zqda != null">
        #{zqda,jdbcType=VARCHAR},
      </if>
      <if test="xzda != null">
        #{xzda,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="dtsm != null">
        #{dtsm,jdbcType=VARCHAR},
      </if>
      <if test="ktsx != null">
        #{ktsx,jdbcType=INTEGER},
      </if>
      <if test="examlogid != null">
        #{examlogid,jdbcType=VARCHAR},
      </if>
      <if test="examid != null">
        #{examid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.DrvExamrecordExample" resultType="java.lang.Long">
    select count(*) from drv_examrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update drv_examrecord
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.kskm != null">
        kskm = #{record.kskm,jdbcType=VARCHAR},
      </if>
      <if test="record.dtlb != null">
        dtlb = #{record.dtlb,jdbcType=VARCHAR},
      </if>
      <if test="record.tmbt != null">
        tmbt = #{record.tmbt,jdbcType=VARCHAR},
      </if>
      <if test="record.a != null">
        `a` = #{record.a,jdbcType=VARCHAR},
      </if>
      <if test="record.b != null">
        b = #{record.b,jdbcType=VARCHAR},
      </if>
      <if test="record.c != null">
        `c` = #{record.c,jdbcType=VARCHAR},
      </if>
      <if test="record.d != null">
        d = #{record.d,jdbcType=VARCHAR},
      </if>
      <if test="record.tp1 != null">
        tp1 = #{record.tp1,jdbcType=VARCHAR},
      </if>
      <if test="record.tp2 != null">
        tp2 = #{record.tp2,jdbcType=VARCHAR},
      </if>
      <if test="record.zqda != null">
        zqda = #{record.zqda,jdbcType=VARCHAR},
      </if>
      <if test="record.xzda != null">
        xzda = #{record.xzda,jdbcType=VARCHAR},
      </if>
      <if test="record.wxid != null">
        wxid = #{record.wxid,jdbcType=VARCHAR},
      </if>
      <if test="record.dtsm != null">
        dtsm = #{record.dtsm,jdbcType=VARCHAR},
      </if>
      <if test="record.ktsx != null">
        ktsx = #{record.ktsx,jdbcType=INTEGER},
      </if>
      <if test="record.examlogid != null">
        examlogid = #{record.examlogid,jdbcType=VARCHAR},
      </if>
      <if test="record.examid != null">
        examid = #{record.examid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update drv_examrecord
    set id = #{record.id,jdbcType=VARCHAR},
      kskm = #{record.kskm,jdbcType=VARCHAR},
      dtlb = #{record.dtlb,jdbcType=VARCHAR},
      tmbt = #{record.tmbt,jdbcType=VARCHAR},
      `a` = #{record.a,jdbcType=VARCHAR},
      b = #{record.b,jdbcType=VARCHAR},
      `c` = #{record.c,jdbcType=VARCHAR},
      d = #{record.d,jdbcType=VARCHAR},
      tp1 = #{record.tp1,jdbcType=VARCHAR},
      tp2 = #{record.tp2,jdbcType=VARCHAR},
      zqda = #{record.zqda,jdbcType=VARCHAR},
      xzda = #{record.xzda,jdbcType=VARCHAR},
      wxid = #{record.wxid,jdbcType=VARCHAR},
      dtsm = #{record.dtsm,jdbcType=VARCHAR},
      ktsx = #{record.ktsx,jdbcType=INTEGER},
      examlogid = #{record.examlogid,jdbcType=VARCHAR},
      examid = #{record.examid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.DrvExamrecord">
    update drv_examrecord
    <set>
      <if test="kskm != null">
        kskm = #{kskm,jdbcType=VARCHAR},
      </if>
      <if test="dtlb != null">
        dtlb = #{dtlb,jdbcType=VARCHAR},
      </if>
      <if test="tmbt != null">
        tmbt = #{tmbt,jdbcType=VARCHAR},
      </if>
      <if test="a != null">
        `a` = #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null">
        b = #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null">
        `c` = #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null">
        d = #{d,jdbcType=VARCHAR},
      </if>
      <if test="tp1 != null">
        tp1 = #{tp1,jdbcType=VARCHAR},
      </if>
      <if test="tp2 != null">
        tp2 = #{tp2,jdbcType=VARCHAR},
      </if>
      <if test="zqda != null">
        zqda = #{zqda,jdbcType=VARCHAR},
      </if>
      <if test="xzda != null">
        xzda = #{xzda,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        wxid = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="dtsm != null">
        dtsm = #{dtsm,jdbcType=VARCHAR},
      </if>
      <if test="ktsx != null">
        ktsx = #{ktsx,jdbcType=INTEGER},
      </if>
      <if test="examlogid != null">
        examlogid = #{examlogid,jdbcType=VARCHAR},
      </if>
      <if test="examid != null">
        examid = #{examid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.DrvExamrecord">
    update drv_examrecord
    set kskm = #{kskm,jdbcType=VARCHAR},
      dtlb = #{dtlb,jdbcType=VARCHAR},
      tmbt = #{tmbt,jdbcType=VARCHAR},
      `a` = #{a,jdbcType=VARCHAR},
      b = #{b,jdbcType=VARCHAR},
      `c` = #{c,jdbcType=VARCHAR},
      d = #{d,jdbcType=VARCHAR},
      tp1 = #{tp1,jdbcType=VARCHAR},
      tp2 = #{tp2,jdbcType=VARCHAR},
      zqda = #{zqda,jdbcType=VARCHAR},
      xzda = #{xzda,jdbcType=VARCHAR},
      wxid = #{wxid,jdbcType=VARCHAR},
      dtsm = #{dtsm,jdbcType=VARCHAR},
      ktsx = #{ktsx,jdbcType=INTEGER},
      examlogid = #{examlogid,jdbcType=VARCHAR},
      examid = #{examid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByLogid" parameterType="java.lang.String">
    delete from drv_examrecord
    where examlogid = #{logid,jdbcType=VARCHAR}
  </delete>
</mapper>