<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.DrvQxksMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.DrvQxks">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="xm" jdbcType="VARCHAR" property="xm" />
    <result column="zjlx" jdbcType="VARCHAR" property="zjlx" />
    <result column="sfzmhm" jdbcType="VARCHAR" property="sfzmhm" />
    <result column="sjhm" jdbcType="VARCHAR" property="sjhm" />
    <result column="qxkm" jdbcType="VARCHAR" property="qxkm" />
    <result column="yykssj" jdbcType="TIMESTAMP" property="yykssj" />
    <result column="sqsm" jdbcType="VARCHAR" property="sqsm" />
    <result column="shr" jdbcType="VARCHAR" property="shr" />
    <result column="shsj" jdbcType="TIMESTAMP" property="shsj" />
    <result column="shsm" jdbcType="VARCHAR" property="shsm" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, sys_org_code, xm, zjlx, sfzmhm, 
    sjhm, qxkm, yykssj, sqsm, shr, shsj, shsm, bz, openid, lsh, zt
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.DrvQxksExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drv_qxks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drv_qxks
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from drv_qxks
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.DrvQxksExample">
    delete from drv_qxks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.DrvQxks">
    insert into drv_qxks (id, create_by, create_time, 
      update_by, update_time, sys_org_code, 
      xm, zjlx, sfzmhm, sjhm, 
      qxkm, yykssj, sqsm, 
      shr, shsj, shsm, 
      bz, openid, lsh, zt
      )
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{sysOrgCode,jdbcType=VARCHAR}, 
      #{xm,jdbcType=VARCHAR}, #{zjlx,jdbcType=VARCHAR}, #{sfzmhm,jdbcType=VARCHAR}, #{sjhm,jdbcType=VARCHAR}, 
      #{qxkm,jdbcType=VARCHAR}, #{yykssj,jdbcType=TIMESTAMP}, #{sqsm,jdbcType=VARCHAR}, 
      #{shr,jdbcType=VARCHAR}, #{shsj,jdbcType=TIMESTAMP}, #{shsm,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{lsh,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.DrvQxks">
    insert into drv_qxks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="xm != null">
        xm,
      </if>
      <if test="zjlx != null">
        zjlx,
      </if>
      <if test="sfzmhm != null">
        sfzmhm,
      </if>
      <if test="sjhm != null">
        sjhm,
      </if>
      <if test="qxkm != null">
        qxkm,
      </if>
      <if test="yykssj != null">
        yykssj,
      </if>
      <if test="sqsm != null">
        sqsm,
      </if>
      <if test="shr != null">
        shr,
      </if>
      <if test="shsj != null">
        shsj,
      </if>
      <if test="shsm != null">
        shsm,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="zt != null">
        zt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null">
        #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="qxkm != null">
        #{qxkm,jdbcType=VARCHAR},
      </if>
      <if test="yykssj != null">
        #{yykssj,jdbcType=TIMESTAMP},
      </if>
      <if test="sqsm != null">
        #{sqsm,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.DrvQxksExample" resultType="java.lang.Long">
    select count(*) from drv_qxks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update drv_qxks
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysOrgCode != null">
        sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.xm != null">
        xm = #{record.xm,jdbcType=VARCHAR},
      </if>
      <if test="record.zjlx != null">
        zjlx = #{record.zjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzmhm != null">
        sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="record.sjhm != null">
        sjhm = #{record.sjhm,jdbcType=VARCHAR},
      </if>
      <if test="record.qxkm != null">
        qxkm = #{record.qxkm,jdbcType=VARCHAR},
      </if>
      <if test="record.yykssj != null">
        yykssj = #{record.yykssj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sqsm != null">
        sqsm = #{record.sqsm,jdbcType=VARCHAR},
      </if>
      <if test="record.shr != null">
        shr = #{record.shr,jdbcType=VARCHAR},
      </if>
      <if test="record.shsj != null">
        shsj = #{record.shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shsm != null">
        shsm = #{record.shsm,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update drv_qxks
    set id = #{record.id,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      xm = #{record.xm,jdbcType=VARCHAR},
      zjlx = #{record.zjlx,jdbcType=VARCHAR},
      sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      sjhm = #{record.sjhm,jdbcType=VARCHAR},
      qxkm = #{record.qxkm,jdbcType=VARCHAR},
      yykssj = #{record.yykssj,jdbcType=TIMESTAMP},
      sqsm = #{record.sqsm,jdbcType=VARCHAR},
      shr = #{record.shr,jdbcType=VARCHAR},
      shsj = #{record.shsj,jdbcType=TIMESTAMP},
      shsm = #{record.shsm,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.DrvQxks">
    update drv_qxks
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        xm = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        zjlx = #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null">
        sjhm = #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="qxkm != null">
        qxkm = #{qxkm,jdbcType=VARCHAR},
      </if>
      <if test="yykssj != null">
        yykssj = #{yykssj,jdbcType=TIMESTAMP},
      </if>
      <if test="sqsm != null">
        sqsm = #{sqsm,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        shr = #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        shsj = #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        shsm = #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.DrvQxks">
    update drv_qxks
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      xm = #{xm,jdbcType=VARCHAR},
      zjlx = #{zjlx,jdbcType=VARCHAR},
      sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      sjhm = #{sjhm,jdbcType=VARCHAR},
      qxkm = #{qxkm,jdbcType=VARCHAR},
      yykssj = #{yykssj,jdbcType=TIMESTAMP},
      sqsm = #{sqsm,jdbcType=VARCHAR},
      shr = #{shr,jdbcType=VARCHAR},
      shsj = #{shsj,jdbcType=TIMESTAMP},
      shsm = #{shsm,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      lsh = #{lsh,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>