<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.EquipmentFileMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.EquipmentFile">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sbbh" jdbcType="VARCHAR" property="sbbh" />
    <result column="tplj" jdbcType="VARCHAR" property="tplj" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="nf" jdbcType="VARCHAR" property="nf" />
    <result column="yf" jdbcType="VARCHAR" property="yf" />
    <result column="rq" jdbcType="VARCHAR" property="rq" />
    <result column="xs" jdbcType="VARCHAR" property="xs" />
    <result column="fz" jdbcType="VARCHAR" property="fz" />
    <result column="deptcode" jdbcType="VARCHAR" property="deptcode" />
    <result column="xmbh" jdbcType="VARCHAR" property="xmbh" />
    <result column="wjlx" jdbcType="VARCHAR" property="wjlx" />
    <result column="jczl" jdbcType="VARCHAR" property="jczl" />
    <result column="ly" jdbcType="VARCHAR" property="ly" />
    <result column="sm1" jdbcType="VARCHAR" property="sm1" />
    <result column="sm2" jdbcType="VARCHAR" property="sm2" />
    <result column="sm3" jdbcType="VARCHAR" property="sm3" />
    <result column="sm4" jdbcType="VARCHAR" property="sm4" />
    <result column="sm5" jdbcType="VARCHAR" property="sm5" />
    <result column="sm6" jdbcType="VARCHAR" property="sm6" />
  </resultMap>
  <resultMap id="StatisticsResultMap" type="com.pd.server.main.dto.basewx.my.AlarmNumbersDto">
    <result column="sbbh" jdbcType="VARCHAR" property="sbbh" />
    <result column="bjsj" jdbcType="VARCHAR" property="bjsj" />
    <result column="alarmNum" jdbcType="INTEGER" property="alarmNum" />
  </resultMap>

  <resultMap id="BaseResultMapKV" type="com.pd.server.main.dto.WelcomeKvDto">
    <result column="deptname" jdbcType="VARCHAR" property="deptname" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>

  <resultMap id="BaseResultMapKVint" type="com.pd.server.main.dto.KvIntDto">
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sbbh, tplj, cjsj, create_time, nf, yf, rq, xs, fz, deptcode, xmbh, wjlx, jczl, 
    ly, sm1, sm2, sm3, sm4, sm5, sm6
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from equipment_file
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from equipment_file
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.EquipmentFileExample">
    delete from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.EquipmentFile">
    insert into equipment_file (id, sbbh, tplj, 
      cjsj, create_time, nf, 
      yf, rq, xs, fz, 
      deptcode, xmbh, wjlx, 
      jczl, ly, sm1, sm2, 
      sm3, sm4, sm5, sm6
      )
    values (#{id,jdbcType=VARCHAR}, #{sbbh,jdbcType=VARCHAR}, #{tplj,jdbcType=VARCHAR}, 
      #{cjsj,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{nf,jdbcType=VARCHAR}, 
      #{yf,jdbcType=VARCHAR}, #{rq,jdbcType=VARCHAR}, #{xs,jdbcType=VARCHAR}, #{fz,jdbcType=VARCHAR}, 
      #{deptcode,jdbcType=VARCHAR}, #{xmbh,jdbcType=VARCHAR}, #{wjlx,jdbcType=VARCHAR}, 
      #{jczl,jdbcType=VARCHAR}, #{ly,jdbcType=VARCHAR}, #{sm1,jdbcType=VARCHAR}, #{sm2,jdbcType=VARCHAR}, 
      #{sm3,jdbcType=VARCHAR}, #{sm4,jdbcType=VARCHAR}, #{sm5,jdbcType=VARCHAR}, #{sm6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.EquipmentFile">
    insert into equipment_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sbbh != null">
        sbbh,
      </if>
      <if test="tplj != null">
        tplj,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="nf != null">
        nf,
      </if>
      <if test="yf != null">
        yf,
      </if>
      <if test="rq != null">
        rq,
      </if>
      <if test="xs != null">
        xs,
      </if>
      <if test="fz != null">
        fz,
      </if>
      <if test="deptcode != null">
        deptcode,
      </if>
      <if test="xmbh != null">
        xmbh,
      </if>
      <if test="wjlx != null">
        wjlx,
      </if>
      <if test="jczl != null">
        jczl,
      </if>
      <if test="ly != null">
        ly,
      </if>
      <if test="sm1 != null">
        sm1,
      </if>
      <if test="sm2 != null">
        sm2,
      </if>
      <if test="sm3 != null">
        sm3,
      </if>
      <if test="sm4 != null">
        sm4,
      </if>
      <if test="sm5 != null">
        sm5,
      </if>
      <if test="sm6 != null">
        sm6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sbbh != null">
        #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="tplj != null">
        #{tplj,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nf != null">
        #{nf,jdbcType=VARCHAR},
      </if>
      <if test="yf != null">
        #{yf,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        #{rq,jdbcType=VARCHAR},
      </if>
      <if test="xs != null">
        #{xs,jdbcType=VARCHAR},
      </if>
      <if test="fz != null">
        #{fz,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null">
        #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="xmbh != null">
        #{xmbh,jdbcType=VARCHAR},
      </if>
      <if test="wjlx != null">
        #{wjlx,jdbcType=VARCHAR},
      </if>
      <if test="jczl != null">
        #{jczl,jdbcType=VARCHAR},
      </if>
      <if test="ly != null">
        #{ly,jdbcType=VARCHAR},
      </if>
      <if test="sm1 != null">
        #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        #{sm2,jdbcType=VARCHAR},
      </if>
      <if test="sm3 != null">
        #{sm3,jdbcType=VARCHAR},
      </if>
      <if test="sm4 != null">
        #{sm4,jdbcType=VARCHAR},
      </if>
      <if test="sm5 != null">
        #{sm5,jdbcType=VARCHAR},
      </if>
      <if test="sm6 != null">
        #{sm6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultType="java.lang.Long">
    select count(*) from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update equipment_file
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sbbh != null">
        sbbh = #{record.sbbh,jdbcType=VARCHAR},
      </if>
      <if test="record.tplj != null">
        tplj = #{record.tplj,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nf != null">
        nf = #{record.nf,jdbcType=VARCHAR},
      </if>
      <if test="record.yf != null">
        yf = #{record.yf,jdbcType=VARCHAR},
      </if>
      <if test="record.rq != null">
        rq = #{record.rq,jdbcType=VARCHAR},
      </if>
      <if test="record.xs != null">
        xs = #{record.xs,jdbcType=VARCHAR},
      </if>
      <if test="record.fz != null">
        fz = #{record.fz,jdbcType=VARCHAR},
      </if>
      <if test="record.deptcode != null">
        deptcode = #{record.deptcode,jdbcType=VARCHAR},
      </if>
      <if test="record.xmbh != null">
        xmbh = #{record.xmbh,jdbcType=VARCHAR},
      </if>
      <if test="record.wjlx != null">
        wjlx = #{record.wjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.jczl != null">
        jczl = #{record.jczl,jdbcType=VARCHAR},
      </if>
      <if test="record.ly != null">
        ly = #{record.ly,jdbcType=VARCHAR},
      </if>
      <if test="record.sm1 != null">
        sm1 = #{record.sm1,jdbcType=VARCHAR},
      </if>
      <if test="record.sm2 != null">
        sm2 = #{record.sm2,jdbcType=VARCHAR},
      </if>
      <if test="record.sm3 != null">
        sm3 = #{record.sm3,jdbcType=VARCHAR},
      </if>
      <if test="record.sm4 != null">
        sm4 = #{record.sm4,jdbcType=VARCHAR},
      </if>
      <if test="record.sm5 != null">
        sm5 = #{record.sm5,jdbcType=VARCHAR},
      </if>
      <if test="record.sm6 != null">
        sm6 = #{record.sm6,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update equipment_file
    set id = #{record.id,jdbcType=VARCHAR},
      sbbh = #{record.sbbh,jdbcType=VARCHAR},
      tplj = #{record.tplj,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      nf = #{record.nf,jdbcType=VARCHAR},
      yf = #{record.yf,jdbcType=VARCHAR},
      rq = #{record.rq,jdbcType=VARCHAR},
      xs = #{record.xs,jdbcType=VARCHAR},
      fz = #{record.fz,jdbcType=VARCHAR},
      deptcode = #{record.deptcode,jdbcType=VARCHAR},
      xmbh = #{record.xmbh,jdbcType=VARCHAR},
      wjlx = #{record.wjlx,jdbcType=VARCHAR},
      jczl = #{record.jczl,jdbcType=VARCHAR},
      ly = #{record.ly,jdbcType=VARCHAR},
      sm1 = #{record.sm1,jdbcType=VARCHAR},
      sm2 = #{record.sm2,jdbcType=VARCHAR},
      sm3 = #{record.sm3,jdbcType=VARCHAR},
      sm4 = #{record.sm4,jdbcType=VARCHAR},
      sm5 = #{record.sm5,jdbcType=VARCHAR},
      sm6 = #{record.sm6,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.EquipmentFile">
    update equipment_file
    <set>
      <if test="sbbh != null">
        sbbh = #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="tplj != null">
        tplj = #{tplj,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nf != null">
        nf = #{nf,jdbcType=VARCHAR},
      </if>
      <if test="yf != null">
        yf = #{yf,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        rq = #{rq,jdbcType=VARCHAR},
      </if>
      <if test="xs != null">
        xs = #{xs,jdbcType=VARCHAR},
      </if>
      <if test="fz != null">
        fz = #{fz,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null">
        deptcode = #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="xmbh != null">
        xmbh = #{xmbh,jdbcType=VARCHAR},
      </if>
      <if test="wjlx != null">
        wjlx = #{wjlx,jdbcType=VARCHAR},
      </if>
      <if test="jczl != null">
        jczl = #{jczl,jdbcType=VARCHAR},
      </if>
      <if test="ly != null">
        ly = #{ly,jdbcType=VARCHAR},
      </if>
      <if test="sm1 != null">
        sm1 = #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        sm2 = #{sm2,jdbcType=VARCHAR},
      </if>
      <if test="sm3 != null">
        sm3 = #{sm3,jdbcType=VARCHAR},
      </if>
      <if test="sm4 != null">
        sm4 = #{sm4,jdbcType=VARCHAR},
      </if>
      <if test="sm5 != null">
        sm5 = #{sm5,jdbcType=VARCHAR},
      </if>
      <if test="sm6 != null">
        sm6 = #{sm6,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.EquipmentFile">
    update equipment_file
    set sbbh = #{sbbh,jdbcType=VARCHAR},
      tplj = #{tplj,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      nf = #{nf,jdbcType=VARCHAR},
      yf = #{yf,jdbcType=VARCHAR},
      rq = #{rq,jdbcType=VARCHAR},
      xs = #{xs,jdbcType=VARCHAR},
      fz = #{fz,jdbcType=VARCHAR},
      deptcode = #{deptcode,jdbcType=VARCHAR},
      xmbh = #{xmbh,jdbcType=VARCHAR},
      wjlx = #{wjlx,jdbcType=VARCHAR},
      jczl = #{jczl,jdbcType=VARCHAR},
      ly = #{ly,jdbcType=VARCHAR},
      sm1 = #{sm1,jdbcType=VARCHAR},
      sm2 = #{sm2,jdbcType=VARCHAR},
      sm3 = #{sm3,jdbcType=VARCHAR},
      sm4 = #{sm4,jdbcType=VARCHAR},
      sm5 = #{sm5,jdbcType=VARCHAR},
      sm6 = #{sm6,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAudioByExample" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultType="java.lang.String">
    select
    tplj
    from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectSbbhByExample" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultType="java.lang.String">
    select
    distinct sbbh
    from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="statisticsAlarmNums" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultMap="StatisticsResultMap">
    select
    sbbh,rq bjsj,count(*) alarmNum, xs, fz, deptcode
    from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by sbbh, rq, xs, fz, deptcode
    order by sbbh, rq, xs, fz, deptcode
  </select>
  <select id="statisticsAlarmNumsByPage" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultMap="StatisticsResultMap">
    select
    sbbh,rq bjsj,count(*) alarmNum, xs, fz, deptcode
    from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by sbbh, rq, xs, fz, deptcode
    order by sbbh, rq, xs, fz, deptcode
  </select>
  <select id="getWarningDate"  resultMap="BaseResultMapKV" parameterType="com.pd.server.main.domain.EquipmentFileExample">
    SELECT  b.`deptname`  , c.`text`  , c.`code` FROM     water_equipment a , dept  b , (
    SELECT sbbh  `text` ,COUNT(*)  `code`  FROM   equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    and   TO_DAYS(cjsj) = TO_DAYS(NOW())  AND tplj LIKE '%.png' GROUP BY sbbh ) c  WHERE a.sbsn = c.text AND  a.deptcode = b.deptcode
  </select>



  <select id="getAlljcsjByDept" parameterType="com.pd.server.main.domain.EquipmentFileExample"  resultMap="BaseResultMapKVint">
    SELECT deptcode `key` ,COUNT(*)  `value` FROM  equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    and   TO_DAYS(cjsj) = TO_DAYS(NOW())  and  tplj LIKE '%.png'  GROUP  BY  deptcode

  </select>


  <select id="getthisDeptjxsjJT" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultMap="BaseResultMap">
    SELECT  b. * , a. sbmc   FROM  water_equipment a, (
    select * from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    AND  TO_DAYS(cjsj) = TO_DAYS(NOW()) and  tplj LIKE '%.png'   ) b WHERE a.sbsn = b.sbbh ORDER BY b.sbbh  , b.cjsj DESC
  </select>

  <select id="statisticsAlarmNumsByHour" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultMap="StatisticsResultMap">
    select
    sbbh,rq bjsj,count(*) alarmNum, xs, deptcode
    from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by sbbh, rq, xs, deptcode
    order by rq,xs
  </select>

  <select id="statisticsAlarmNumsByHourAndDP" parameterType="com.pd.server.main.domain.EquipmentFileExample" resultMap="StatisticsResultMap">
    select
    rq bjsj,count(*) alarmNum, xs, deptcode
    from equipment_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by rq, xs, deptcode
    order by rq,xs
  </select>

</mapper>