<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.FinlessPorpoiseTraverseMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.FinlessPorpoiseTraverse">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="xmbh" jdbcType="VARCHAR" property="xmbh" />
    <result column="xmbhmc" jdbcType="VARCHAR" property="xmbhmc" />
    <result column="cjsj" jdbcType="VARCHAR" property="cjsj" />
    <result column="tplj" jdbcType="VARCHAR" property="tplj" />
    <result column="rq" jdbcType="VARCHAR" property="rq" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, xmbh, xmbhmc, cjsj, tplj, rq, bz, sm
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.FinlessPorpoiseTraverseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finless_porpoise_traverse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finless_porpoise_traverse
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from finless_porpoise_traverse
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.FinlessPorpoiseTraverseExample">
    delete from finless_porpoise_traverse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.FinlessPorpoiseTraverse">
    insert into finless_porpoise_traverse (id, xmbh, xmbhmc, 
      cjsj, tplj, rq, bz, 
      sm)
    values (#{id,jdbcType=VARCHAR}, #{xmbh,jdbcType=VARCHAR}, #{xmbhmc,jdbcType=VARCHAR}, 
      #{cjsj,jdbcType=VARCHAR}, #{tplj,jdbcType=VARCHAR}, #{rq,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{sm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.FinlessPorpoiseTraverse">
    insert into finless_porpoise_traverse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="xmbh != null">
        xmbh,
      </if>
      <if test="xmbhmc != null">
        xmbhmc,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="tplj != null">
        tplj,
      </if>
      <if test="rq != null">
        rq,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sm != null">
        sm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="xmbh != null">
        #{xmbh,jdbcType=VARCHAR},
      </if>
      <if test="xmbhmc != null">
        #{xmbhmc,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="tplj != null">
        #{tplj,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        #{rq,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        #{sm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.FinlessPorpoiseTraverseExample" resultType="java.lang.Long">
    select count(*) from finless_porpoise_traverse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update finless_porpoise_traverse
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.xmbh != null">
        xmbh = #{record.xmbh,jdbcType=VARCHAR},
      </if>
      <if test="record.xmbhmc != null">
        xmbhmc = #{record.xmbhmc,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=VARCHAR},
      </if>
      <if test="record.tplj != null">
        tplj = #{record.tplj,jdbcType=VARCHAR},
      </if>
      <if test="record.rq != null">
        rq = #{record.rq,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sm != null">
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update finless_porpoise_traverse
    set id = #{record.id,jdbcType=VARCHAR},
      xmbh = #{record.xmbh,jdbcType=VARCHAR},
      xmbhmc = #{record.xmbhmc,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=VARCHAR},
      tplj = #{record.tplj,jdbcType=VARCHAR},
      rq = #{record.rq,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      sm = #{record.sm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.FinlessPorpoiseTraverse">
    update finless_porpoise_traverse
    <set>
      <if test="xmbh != null">
        xmbh = #{xmbh,jdbcType=VARCHAR},
      </if>
      <if test="xmbhmc != null">
        xmbhmc = #{xmbhmc,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="tplj != null">
        tplj = #{tplj,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        rq = #{rq,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        sm = #{sm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.FinlessPorpoiseTraverse">
    update finless_porpoise_traverse
    set xmbh = #{xmbh,jdbcType=VARCHAR},
      xmbhmc = #{xmbhmc,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=VARCHAR},
      tplj = #{tplj,jdbcType=VARCHAR},
      rq = #{rq,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>