<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.LdTaskListMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.LdTaskList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ICCID" jdbcType="VARCHAR" property="iccid" />
    <result column="task" jdbcType="VARCHAR" property="task" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="fsdate" jdbcType="TIMESTAMP" property="fsdate" />
    <result column="jsdate" jdbcType="TIMESTAMP" property="jsdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ICCID, task, `state`, fsdate, jsdate
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.LdTaskListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ld_task_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ld_task_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ld_task_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.LdTaskListExample">
    delete from ld_task_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.LdTaskList">
    insert into ld_task_list (id, ICCID, task, 
      `state`, fsdate, jsdate
      )
    values (#{id,jdbcType=INTEGER}, #{iccid,jdbcType=VARCHAR}, #{task,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{fsdate,jdbcType=TIMESTAMP}, #{jsdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.LdTaskList">
    insert into ld_task_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="iccid != null">
        ICCID,
      </if>
      <if test="task != null">
        task,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="fsdate != null">
        fsdate,
      </if>
      <if test="jsdate != null">
        jsdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="iccid != null">
        #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="task != null">
        #{task,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="fsdate != null">
        #{fsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jsdate != null">
        #{jsdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.LdTaskListExample" resultType="java.lang.Long">
    select count(*) from ld_task_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ld_task_list
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.iccid != null">
        ICCID = #{record.iccid,jdbcType=VARCHAR},
      </if>
      <if test="record.task != null">
        task = #{record.task,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        `state` = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.fsdate != null">
        fsdate = #{record.fsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jsdate != null">
        jsdate = #{record.jsdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ld_task_list
    set id = #{record.id,jdbcType=INTEGER},
      ICCID = #{record.iccid,jdbcType=VARCHAR},
      task = #{record.task,jdbcType=VARCHAR},
      `state` = #{record.state,jdbcType=INTEGER},
      fsdate = #{record.fsdate,jdbcType=TIMESTAMP},
      jsdate = #{record.jsdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.LdTaskList">
    update ld_task_list
    <set>
      <if test="iccid != null">
        ICCID = #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="task != null">
        task = #{task,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="fsdate != null">
        fsdate = #{fsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jsdate != null">
        jsdate = #{jsdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.LdTaskList">
    update ld_task_list
    set ICCID = #{iccid,jdbcType=VARCHAR},
      task = #{task,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=INTEGER},
      fsdate = #{fsdate,jdbcType=TIMESTAMP},
      jsdate = #{jsdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>