<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.PointerDayMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.PointerDay">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="decibel_value" jdbcType="VARCHAR" property="decibelValue" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="bz1" jdbcType="VARCHAR" property="bz1" />
    <result column="bz2" jdbcType="VARCHAR" property="bz2" />
    <result column="bz3" jdbcType="VARCHAR" property="bz3" />
  </resultMap>
  <resultMap id="OtherResultMap" type="com.pd.server.main.dto.basewx.my.PointerCommenDto">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="decibel_value" jdbcType="VARCHAR" property="decibelValue" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="bz1" jdbcType="VARCHAR" property="bz1" />
    <result column="bz2" jdbcType="VARCHAR" property="bz2" />
    <result column="bz3" jdbcType="VARCHAR" property="bz3" />
    <result column="create_time_max" jdbcType="TIMESTAMP" property="createTimeMax"  />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, decibel_value, cjsj, create_time, sm, bz, bz1, bz2, bz3
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.PointerDayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pointer_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectAll" parameterType="com.pd.server.main.domain.PointerDayExample" resultMap="OtherResultMap">
    SELECT
    max.*,
    MAX( max.cjsj ) create_time_max
    FROM
    ( SELECT DISTINCT ( id ), decibel_value, cjsj, create_time, sm
    FROM pointer_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    ORDER BY cjsj DESC ) max
    GROUP BY
    sm;
  </select>
  <select id="selectAllSpecial" resultMap="OtherResultMap">
    SELECT
    max.*,
    MAX( max.cjsj ) create_time_max
    FROM
    ( SELECT DISTINCT ( a.id ), a.decibel_value, a.cjsj, a.create_time, a.sm
    FROM pointer_day a inner join water_pro_equip b
    ON a.sm = b.sbsn where b.xmbh = #{record.xmbh,jdbcType=VARCHAR}
    <if test="record.bz3 != null and record.bz3 !=''">
      AND DATE_FORMAT(a.cjsj,'%Y-%m-%d') = #{record.bz3,jdbcType=VARCHAR}
    </if>
    ORDER BY cjsj DESC ) max
    GROUP BY
    sm;
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pointer_day
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByDp" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pointer_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by cjsj desc limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pointer_day
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.PointerDayExample">
    delete from pointer_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.PointerDay">
    insert into pointer_day (id, decibel_value, cjsj, 
      create_time, sm, bz, 
      bz1, bz2, bz3)
    values (#{id,jdbcType=VARCHAR}, #{decibelValue,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{sm,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{bz1,jdbcType=VARCHAR}, #{bz2,jdbcType=VARCHAR}, #{bz3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.PointerDay">
    insert into pointer_day
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="decibelValue != null">
        decibel_value,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="sm != null">
        sm,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="bz1 != null">
        bz1,
      </if>
      <if test="bz2 != null">
        bz2,
      </if>
      <if test="bz3 != null">
        bz3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="decibelValue != null">
        #{decibelValue,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sm != null">
        #{sm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null">
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null">
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null">
        #{bz3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.PointerDayExample" resultType="java.lang.Long">
    select count(*) from pointer_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pointer_day
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.decibelValue != null">
        decibel_value = #{record.decibelValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sm != null">
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.bz1 != null">
        bz1 = #{record.bz1,jdbcType=VARCHAR},
      </if>
      <if test="record.bz2 != null">
        bz2 = #{record.bz2,jdbcType=VARCHAR},
      </if>
      <if test="record.bz3 != null">
        bz3 = #{record.bz3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pointer_day
    set id = #{record.id,jdbcType=VARCHAR},
      decibel_value = #{record.decibelValue,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      sm = #{record.sm,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      bz1 = #{record.bz1,jdbcType=VARCHAR},
      bz2 = #{record.bz2,jdbcType=VARCHAR},
      bz3 = #{record.bz3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.PointerDay">
    update pointer_day
    <set>
      <if test="decibelValue != null">
        decibel_value = #{decibelValue,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sm != null">
        sm = #{sm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null">
        bz1 = #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null">
        bz2 = #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="bz3 != null">
        bz3 = #{bz3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.PointerDay">
    update pointer_day
    set decibel_value = #{decibelValue,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sm = #{sm,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      bz1 = #{bz1,jdbcType=VARCHAR},
      bz2 = #{bz2,jdbcType=VARCHAR},
      bz3 = #{bz3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>