<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.VehImpawnQueryMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.VehImpawnQuery">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="xh" jdbcType="VARCHAR" property="xh" />
    <result column="clsbdh" jdbcType="VARCHAR" property="clsbdh" />
    <result column="zhth" jdbcType="VARCHAR" property="zhth" />
    <result column="dyhth" jdbcType="VARCHAR" property="dyhth" />
    <result column="dyje" jdbcType="DOUBLE" property="dyje" />
    <result column="dydjrq" jdbcType="TIMESTAMP" property="dydjrq" />
    <result column="jbr" jdbcType="VARCHAR" property="jbr" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="sfzmmc" jdbcType="VARCHAR" property="sfzmmc" />
    <result column="sfzmhm" jdbcType="VARCHAR" property="sfzmhm" />
    <result column="xzqh" jdbcType="VARCHAR" property="xzqh" />
    <result column="xxdz" jdbcType="VARCHAR" property="xxdz" />
    <result column="yzbm" jdbcType="VARCHAR" property="yzbm" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="jcrq" jdbcType="TIMESTAMP" property="jcrq" />
    <result column="glbm" jdbcType="VARCHAR" property="glbm" />
    <result column="xgzl" jdbcType="VARCHAR" property="xgzl" />
    <result column="shr" jdbcType="VARCHAR" property="shr" />
    <result column="shsj" jdbcType="TIMESTAMP" property="shsj" />
    <result column="shsm" jdbcType="VARCHAR" property="shsm" />
    <result column="shyy" jdbcType="VARCHAR" property="shyy" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="dyqrdm" jdbcType="VARCHAR" property="dyqrdm" />
    <result column="dyqrlx" jdbcType="VARCHAR" property="dyqrlx" />
    <result column="dyqrsfzmmc" jdbcType="VARCHAR" property="dyqrsfzmmc" />
    <result column="dyqrsfzmhm" jdbcType="VARCHAR" property="dyqrsfzmhm" />
    <result column="sjhm" jdbcType="VARCHAR" property="sjhm" />
    <result column="hpzl" jdbcType="VARCHAR" property="hpzl" />
    <result column="hphm" jdbcType="VARCHAR" property="hphm" />
    <result column="dyzt" jdbcType="VARCHAR" property="dyzt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, sys_org_code, xh, clsbdh, zhth,
    dyhth, dyje, dydjrq, jbr, lsh, sfzmmc, sfzmhm, xzqh, xxdz, yzbm, lxdh, jcrq,
    glbm, xgzl, shr, shsj, shsm, shyy, bz, zt, dyqrdm, dyqrlx, dyqrsfzmmc, dyqrsfzmhm,
    sjhm, hpzl, hphm, dyzt
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.VehImpawnQueryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from veh_impawn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from veh_impawn
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from veh_impawn
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.VehImpawnQueryExample">
    delete from veh_impawn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.VehImpawnCheck">
    insert into veh_impawn (id, create_by, create_time,
                            update_by, update_time, sys_org_code,
                            xh, clsbdh, zhth, dyhth,
                            dyje, dydjrq, jbr,
                            lsh, sfzmmc,
                            sfzmhm, xzqh, xxdz,
                            yzbm, lxdh, jcrq,
                            glbm, xgzl, shr,
                            shsj, shsm, shyy,
                            bz, zt, dyqrdm, dyqrlx,
                            dyqrsfzmmc, dyqrsfzmhm, sjhm,
                            hpzl, hphm, dyzt
    )
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{sysOrgCode,jdbcType=VARCHAR},
            #{xh,jdbcType=VARCHAR}, #{clsbdh,jdbcType=VARCHAR}, #{zhth,jdbcType=VARCHAR}, #{dyhth,jdbcType=VARCHAR},
            #{dyje,jdbcType=DOUBLE}, #{dydjrq,jdbcType=TIMESTAMP}, #{jbr,jdbcType=VARCHAR},
            #{lsh,jdbcType=VARCHAR}, #{sfzmmc,jdbcType=VARCHAR},
            #{sfzmhm,jdbcType=VARCHAR}, #{xzqh,jdbcType=VARCHAR}, #{xxdz,jdbcType=VARCHAR},
            #{yzbm,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, #{jcrq,jdbcType=TIMESTAMP},
            #{glbm,jdbcType=VARCHAR}, #{xgzl,jdbcType=VARCHAR}, #{shr,jdbcType=VARCHAR},
            #{shsj,jdbcType=TIMESTAMP}, #{shsm,jdbcType=VARCHAR}, #{shyy,jdbcType=VARCHAR},
            #{bz,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, #{dyqrdm,jdbcType=VARCHAR}, #{dyqrlx,jdbcType=VARCHAR},
            #{dyqrsfzmmc,jdbcType=VARCHAR}, #{dyqrsfzmhm,jdbcType=VARCHAR}, #{sjhm,jdbcType=VARCHAR},
            #{hpzl,jdbcType=VARCHAR}, #{hphm,jdbcType=VARCHAR}, #{dyzt,jdbcType=VARCHAR}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.VehImpawnQuery">
    insert into veh_impawn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="xh != null">
        xh,
      </if>
      <if test="clsbdh != null">
        clsbdh,
      </if>
      <if test="zhth != null">
        zhth,
      </if>
      <if test="dyhth != null">
        dyhth,
      </if>
      <if test="dyje != null">
        dyje,
      </if>
      <if test="dydjrq != null">
        dydjrq,
      </if>
      <if test="jbr != null">
        jbr,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="sfzmmc != null">
        sfzmmc,
      </if>
      <if test="sfzmhm != null">
        sfzmhm,
      </if>
      <if test="xzqh != null">
        xzqh,
      </if>
      <if test="xxdz != null">
        xxdz,
      </if>
      <if test="yzbm != null">
        yzbm,
      </if>
      <if test="lxdh != null">
        lxdh,
      </if>
      <if test="jcrq != null">
        jcrq,
      </if>
      <if test="glbm != null">
        glbm,
      </if>
      <if test="xgzl != null">
        xgzl,
      </if>
      <if test="shr != null">
        shr,
      </if>
      <if test="shsj != null">
        shsj,
      </if>
      <if test="shsm != null">
        shsm,
      </if>
      <if test="shyy != null">
        shyy,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="dyqrdm != null">
        dyqrdm,
      </if>
      <if test="dyqrlx != null">
        dyqrlx,
      </if>
      <if test="dyqrsfzmmc != null">
        dyqrsfzmmc,
      </if>
      <if test="dyqrsfzmhm != null">
        dyqrsfzmhm,
      </if>
      <if test="sjhm != null">
        sjhm,
      </if>
      <if test="hpzl != null">
        hpzl,
      </if>
      <if test="hphm != null">
        hphm,
      </if>
      <if test="dyzt != null">
        dyzt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="clsbdh != null">
        #{clsbdh,jdbcType=VARCHAR},
      </if>
      <if test="zhth != null">
        #{zhth,jdbcType=VARCHAR},
      </if>
      <if test="dyhth != null">
        #{dyhth,jdbcType=VARCHAR},
      </if>
      <if test="dyje != null">
        #{dyje,jdbcType=DOUBLE},
      </if>
      <if test="dydjrq != null">
        #{dydjrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jbr != null">
        #{jbr,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="sfzmmc != null">
        #{sfzmmc,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="xzqh != null">
        #{xzqh,jdbcType=VARCHAR},
      </if>
      <if test="xxdz != null">
        #{xxdz,jdbcType=VARCHAR},
      </if>
      <if test="yzbm != null">
        #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="jcrq != null">
        #{jcrq,jdbcType=TIMESTAMP},
      </if>
      <if test="glbm != null">
        #{glbm,jdbcType=VARCHAR},
      </if>
      <if test="xgzl != null">
        #{xgzl,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="shyy != null">
        #{shyy,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="dyqrdm != null">
        #{dyqrdm,jdbcType=VARCHAR},
      </if>
      <if test="dyqrlx != null">
        #{dyqrlx,jdbcType=VARCHAR},
      </if>
      <if test="dyqrsfzmmc != null">
        #{dyqrsfzmmc,jdbcType=VARCHAR},
      </if>
      <if test="dyqrsfzmhm != null">
        #{dyqrsfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null">
        #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="hpzl != null">
        #{hpzl,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="dyzt != null">
        #{dyzt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.VehImpawnQueryExample" resultType="java.lang.Long">
    select count(*) from veh_impawn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update veh_impawn
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysOrgCode != null">
        sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.xh != null">
        xh = #{record.xh,jdbcType=VARCHAR},
      </if>
      <if test="record.clsbdh != null">
        clsbdh = #{record.clsbdh,jdbcType=VARCHAR},
      </if>
      <if test="record.zhth != null">
        zhth = #{record.zhth,jdbcType=VARCHAR},
      </if>
      <if test="record.dyhth != null">
        dyhth = #{record.dyhth,jdbcType=VARCHAR},
      </if>
      <if test="record.dyje != null">
        dyje = #{record.dyje,jdbcType=DOUBLE},
      </if>
      <if test="record.dydjrq != null">
        dydjrq = #{record.dydjrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jbr != null">
        jbr = #{record.jbr,jdbcType=VARCHAR},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzmmc != null">
        sfzmmc = #{record.sfzmmc,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzmhm != null">
        sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="record.xzqh != null">
        xzqh = #{record.xzqh,jdbcType=VARCHAR},
      </if>
      <if test="record.xxdz != null">
        xxdz = #{record.xxdz,jdbcType=VARCHAR},
      </if>
      <if test="record.yzbm != null">
        yzbm = #{record.yzbm,jdbcType=VARCHAR},
      </if>
      <if test="record.lxdh != null">
        lxdh = #{record.lxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.jcrq != null">
        jcrq = #{record.jcrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.glbm != null">
        glbm = #{record.glbm,jdbcType=VARCHAR},
      </if>
      <if test="record.xgzl != null">
        xgzl = #{record.xgzl,jdbcType=VARCHAR},
      </if>
      <if test="record.shr != null">
        shr = #{record.shr,jdbcType=VARCHAR},
      </if>
      <if test="record.shsj != null">
        shsj = #{record.shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shsm != null">
        shsm = #{record.shsm,jdbcType=VARCHAR},
      </if>
      <if test="record.shyy != null">
        shyy = #{record.shyy,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.dyqrdm != null">
        dyqrdm = #{record.dyqrdm,jdbcType=VARCHAR},
      </if>
      <if test="record.dyqrlx != null">
        dyqrlx = #{record.dyqrlx,jdbcType=VARCHAR},
      </if>
      <if test="record.dyqrsfzmmc != null">
        dyqrsfzmmc = #{record.dyqrsfzmmc,jdbcType=VARCHAR},
      </if>
      <if test="record.dyqrsfzmhm != null">
        dyqrsfzmhm = #{record.dyqrsfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="record.sjhm != null">
        sjhm = #{record.sjhm,jdbcType=VARCHAR},
      </if>
      <if test="record.hpzl != null">
        hpzl = #{record.hpzl,jdbcType=VARCHAR},
      </if>
      <if test="record.hphm != null">
        hphm = #{record.hphm,jdbcType=VARCHAR},
      </if>
      <if test="record.dyzt != null">
        dyzt = #{record.dyzt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update veh_impawn
    set id = #{record.id,jdbcType=VARCHAR},
    create_by = #{record.createBy,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_by = #{record.updateBy,jdbcType=VARCHAR},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
    xh = #{record.xh,jdbcType=VARCHAR},
    clsbdh = #{record.clsbdh,jdbcType=VARCHAR},
    zhth = #{record.zhth,jdbcType=VARCHAR},
    dyhth = #{record.dyhth,jdbcType=VARCHAR},
    dyje = #{record.dyje,jdbcType=DOUBLE},
    dydjrq = #{record.dydjrq,jdbcType=TIMESTAMP},
    jbr = #{record.jbr,jdbcType=VARCHAR},
    lsh = #{record.lsh,jdbcType=VARCHAR},
    sfzmmc = #{record.sfzmmc,jdbcType=VARCHAR},
    sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
    xzqh = #{record.xzqh,jdbcType=VARCHAR},
    xxdz = #{record.xxdz,jdbcType=VARCHAR},
    yzbm = #{record.yzbm,jdbcType=VARCHAR},
    lxdh = #{record.lxdh,jdbcType=VARCHAR},
    jcrq = #{record.jcrq,jdbcType=TIMESTAMP},
    glbm = #{record.glbm,jdbcType=VARCHAR},
    xgzl = #{record.xgzl,jdbcType=VARCHAR},
    shr = #{record.shr,jdbcType=VARCHAR},
    shsj = #{record.shsj,jdbcType=TIMESTAMP},
    shsm = #{record.shsm,jdbcType=VARCHAR},
    shyy = #{record.shyy,jdbcType=VARCHAR},
    bz = #{record.bz,jdbcType=VARCHAR},
    zt = #{record.zt,jdbcType=VARCHAR},
    dyqrdm = #{record.dyqrdm,jdbcType=VARCHAR},
    dyqrlx = #{record.dyqrlx,jdbcType=VARCHAR},
    dyqrsfzmmc = #{record.dyqrsfzmmc,jdbcType=VARCHAR},
    dyqrsfzmhm = #{record.dyqrsfzmhm,jdbcType=VARCHAR},
    sjhm = #{record.sjhm,jdbcType=VARCHAR},
    hpzl = #{record.hpzl,jdbcType=VARCHAR},
    hphm = #{record.hphm,jdbcType=VARCHAR},
    dyzt = #{record.dyzt,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.VehImpawnQuery">
    update veh_impawn
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        xh = #{xh,jdbcType=VARCHAR},
      </if>
      <if test="clsbdh != null">
        clsbdh = #{clsbdh,jdbcType=VARCHAR},
      </if>
      <if test="zhth != null">
        zhth = #{zhth,jdbcType=VARCHAR},
      </if>
      <if test="dyhth != null">
        dyhth = #{dyhth,jdbcType=VARCHAR},
      </if>
      <if test="dyje != null">
        dyje = #{dyje,jdbcType=DOUBLE},
      </if>
      <if test="dydjrq != null">
        dydjrq = #{dydjrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jbr != null">
        jbr = #{jbr,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="sfzmmc != null">
        sfzmmc = #{sfzmmc,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="xzqh != null">
        xzqh = #{xzqh,jdbcType=VARCHAR},
      </if>
      <if test="xxdz != null">
        xxdz = #{xxdz,jdbcType=VARCHAR},
      </if>
      <if test="yzbm != null">
        yzbm = #{yzbm,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        lxdh = #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="jcrq != null">
        jcrq = #{jcrq,jdbcType=TIMESTAMP},
      </if>
      <if test="glbm != null">
        glbm = #{glbm,jdbcType=VARCHAR},
      </if>
      <if test="xgzl != null">
        xgzl = #{xgzl,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        shr = #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        shsj = #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        shsm = #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="shyy != null">
        shyy = #{shyy,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="dyqrdm != null">
        dyqrdm = #{dyqrdm,jdbcType=VARCHAR},
      </if>
      <if test="dyqrlx != null">
        dyqrlx = #{dyqrlx,jdbcType=VARCHAR},
      </if>
      <if test="dyqrsfzmmc != null">
        dyqrsfzmmc = #{dyqrsfzmmc,jdbcType=VARCHAR},
      </if>
      <if test="dyqrsfzmhm != null">
        dyqrsfzmhm = #{dyqrsfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null">
        sjhm = #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="hpzl != null">
        hpzl = #{hpzl,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        hphm = #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="dyzt != null">
        dyzt = #{dyzt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.VehImpawnQuery">
    update veh_impawn
    set create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
        xh = #{xh,jdbcType=VARCHAR},
        clsbdh = #{clsbdh,jdbcType=VARCHAR},
        zhth = #{zhth,jdbcType=VARCHAR},
        dyhth = #{dyhth,jdbcType=VARCHAR},
        dyje = #{dyje,jdbcType=DOUBLE},
        dydjrq = #{dydjrq,jdbcType=TIMESTAMP},
        jbr = #{jbr,jdbcType=VARCHAR},
        lsh = #{lsh,jdbcType=VARCHAR},
        sfzmmc = #{sfzmmc,jdbcType=VARCHAR},
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
        xzqh = #{xzqh,jdbcType=VARCHAR},
        xxdz = #{xxdz,jdbcType=VARCHAR},
        yzbm = #{yzbm,jdbcType=VARCHAR},
        lxdh = #{lxdh,jdbcType=VARCHAR},
        jcrq = #{jcrq,jdbcType=TIMESTAMP},
        glbm = #{glbm,jdbcType=VARCHAR},
        xgzl = #{xgzl,jdbcType=VARCHAR},
        shr = #{shr,jdbcType=VARCHAR},
        shsj = #{shsj,jdbcType=TIMESTAMP},
        shsm = #{shsm,jdbcType=VARCHAR},
        shyy = #{shyy,jdbcType=VARCHAR},
        bz = #{bz,jdbcType=VARCHAR},
        zt = #{zt,jdbcType=VARCHAR},
        dyqrdm = #{dyqrdm,jdbcType=VARCHAR},
        dyqrlx = #{dyqrlx,jdbcType=VARCHAR},
        dyqrsfzmmc = #{dyqrsfzmmc,jdbcType=VARCHAR},
        dyqrsfzmhm = #{dyqrsfzmhm,jdbcType=VARCHAR},
        sjhm = #{sjhm,jdbcType=VARCHAR},
        hpzl = #{hpzl,jdbcType=VARCHAR},
        hphm = #{hphm,jdbcType=VARCHAR},
        dyzt = #{dyzt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>