<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.VehPassMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.VehPass">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="sqr" jdbcType="VARCHAR" property="sqr" />
    <result column="txzlx" jdbcType="VARCHAR" property="txzlx" />
    <result column="cfd" jdbcType="VARCHAR" property="cfd" />
    <result column="mdd" jdbcType="VARCHAR" property="mdd" />
    <result column="yxqkssj" jdbcType="DATE" property="yxqkssj" />
    <result column="yxqjssj" jdbcType="DATE" property="yxqjssj" />
    <result column="hpzl" jdbcType="VARCHAR" property="hpzl" />
    <result column="hphm" jdbcType="VARCHAR" property="hphm" />
    <result column="syr" jdbcType="VARCHAR" property="syr" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="sqsm" jdbcType="VARCHAR" property="sqsm" />
    <result column="txxl" jdbcType="VARCHAR" property="txxl" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="shr" jdbcType="VARCHAR" property="shr" />
    <result column="shsj" jdbcType="TIMESTAMP" property="shsj" />
    <result column="shsm" jdbcType="VARCHAR" property="shsm" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="shyxqkssj" jdbcType="DATE" property="shyxqkssj" />
    <result column="shyxqjssj" jdbcType="DATE" property="shyxqjssj" />
    <result column="txzbh" jdbcType="VARCHAR" property="txzbh" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, sys_org_code, sqr, txzlx, cfd, 
    mdd, yxqkssj, yxqjssj, hpzl, hphm, syr, lxdh, sqsm, txxl, zt, shr, shsj, shsm, openid, 
    lsh, bz, shyxqkssj, shyxqjssj, txzbh
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.VehPassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from veh_pass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from veh_pass
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from veh_pass
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.VehPassExample">
    delete from veh_pass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.VehPass">
    insert into veh_pass (id, create_by, create_time, 
      update_by, update_time, sys_org_code, 
      sqr, txzlx, cfd, mdd, 
      yxqkssj, yxqjssj, hpzl, hphm, 
      syr, lxdh, sqsm, txxl, 
      zt, shr, shsj, shsm, 
      openid, lsh, bz, shyxqkssj, 
      shyxqjssj, txzbh)
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{sysOrgCode,jdbcType=VARCHAR}, 
      #{sqr,jdbcType=VARCHAR}, #{txzlx,jdbcType=VARCHAR}, #{cfd,jdbcType=VARCHAR}, #{mdd,jdbcType=VARCHAR}, 
      #{yxqkssj,jdbcType=DATE}, #{yxqjssj,jdbcType=DATE}, #{hpzl,jdbcType=VARCHAR}, #{hphm,jdbcType=VARCHAR}, 
      #{syr,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, #{sqsm,jdbcType=VARCHAR}, #{txxl,jdbcType=VARCHAR}, 
      #{zt,jdbcType=VARCHAR}, #{shr,jdbcType=VARCHAR}, #{shsj,jdbcType=TIMESTAMP}, #{shsm,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{lsh,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{shyxqkssj,jdbcType=DATE}, 
      #{shyxqjssj,jdbcType=DATE}, #{txzbh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.VehPass">
    insert into veh_pass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="sqr != null">
        sqr,
      </if>
      <if test="txzlx != null">
        txzlx,
      </if>
      <if test="cfd != null">
        cfd,
      </if>
      <if test="mdd != null">
        mdd,
      </if>
      <if test="yxqkssj != null">
        yxqkssj,
      </if>
      <if test="yxqjssj != null">
        yxqjssj,
      </if>
      <if test="hpzl != null">
        hpzl,
      </if>
      <if test="hphm != null">
        hphm,
      </if>
      <if test="syr != null">
        syr,
      </if>
      <if test="lxdh != null">
        lxdh,
      </if>
      <if test="sqsm != null">
        sqsm,
      </if>
      <if test="txxl != null">
        txxl,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="shr != null">
        shr,
      </if>
      <if test="shsj != null">
        shsj,
      </if>
      <if test="shsm != null">
        shsm,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="shyxqkssj != null">
        shyxqkssj,
      </if>
      <if test="shyxqjssj != null">
        shyxqjssj,
      </if>
      <if test="txzbh != null">
        txzbh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="sqr != null">
        #{sqr,jdbcType=VARCHAR},
      </if>
      <if test="txzlx != null">
        #{txzlx,jdbcType=VARCHAR},
      </if>
      <if test="cfd != null">
        #{cfd,jdbcType=VARCHAR},
      </if>
      <if test="mdd != null">
        #{mdd,jdbcType=VARCHAR},
      </if>
      <if test="yxqkssj != null">
        #{yxqkssj,jdbcType=DATE},
      </if>
      <if test="yxqjssj != null">
        #{yxqjssj,jdbcType=DATE},
      </if>
      <if test="hpzl != null">
        #{hpzl,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="syr != null">
        #{syr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="sqsm != null">
        #{sqsm,jdbcType=VARCHAR},
      </if>
      <if test="txxl != null">
        #{txxl,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="shyxqkssj != null">
        #{shyxqkssj,jdbcType=DATE},
      </if>
      <if test="shyxqjssj != null">
        #{shyxqjssj,jdbcType=DATE},
      </if>
      <if test="txzbh != null">
        #{txzbh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.VehPassExample" resultType="java.lang.Long">
    select count(*) from veh_pass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update veh_pass
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysOrgCode != null">
        sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sqr != null">
        sqr = #{record.sqr,jdbcType=VARCHAR},
      </if>
      <if test="record.txzlx != null">
        txzlx = #{record.txzlx,jdbcType=VARCHAR},
      </if>
      <if test="record.cfd != null">
        cfd = #{record.cfd,jdbcType=VARCHAR},
      </if>
      <if test="record.mdd != null">
        mdd = #{record.mdd,jdbcType=VARCHAR},
      </if>
      <if test="record.yxqkssj != null">
        yxqkssj = #{record.yxqkssj,jdbcType=DATE},
      </if>
      <if test="record.yxqjssj != null">
        yxqjssj = #{record.yxqjssj,jdbcType=DATE},
      </if>
      <if test="record.hpzl != null">
        hpzl = #{record.hpzl,jdbcType=VARCHAR},
      </if>
      <if test="record.hphm != null">
        hphm = #{record.hphm,jdbcType=VARCHAR},
      </if>
      <if test="record.syr != null">
        syr = #{record.syr,jdbcType=VARCHAR},
      </if>
      <if test="record.lxdh != null">
        lxdh = #{record.lxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.sqsm != null">
        sqsm = #{record.sqsm,jdbcType=VARCHAR},
      </if>
      <if test="record.txxl != null">
        txxl = #{record.txxl,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.shr != null">
        shr = #{record.shr,jdbcType=VARCHAR},
      </if>
      <if test="record.shsj != null">
        shsj = #{record.shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shsm != null">
        shsm = #{record.shsm,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.shyxqkssj != null">
        shyxqkssj = #{record.shyxqkssj,jdbcType=DATE},
      </if>
      <if test="record.shyxqjssj != null">
        shyxqjssj = #{record.shyxqjssj,jdbcType=DATE},
      </if>
      <if test="record.txzbh != null">
        txzbh = #{record.txzbh,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update veh_pass
    set id = #{record.id,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      sqr = #{record.sqr,jdbcType=VARCHAR},
      txzlx = #{record.txzlx,jdbcType=VARCHAR},
      cfd = #{record.cfd,jdbcType=VARCHAR},
      mdd = #{record.mdd,jdbcType=VARCHAR},
      yxqkssj = #{record.yxqkssj,jdbcType=DATE},
      yxqjssj = #{record.yxqjssj,jdbcType=DATE},
      hpzl = #{record.hpzl,jdbcType=VARCHAR},
      hphm = #{record.hphm,jdbcType=VARCHAR},
      syr = #{record.syr,jdbcType=VARCHAR},
      lxdh = #{record.lxdh,jdbcType=VARCHAR},
      sqsm = #{record.sqsm,jdbcType=VARCHAR},
      txxl = #{record.txxl,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=VARCHAR},
      shr = #{record.shr,jdbcType=VARCHAR},
      shsj = #{record.shsj,jdbcType=TIMESTAMP},
      shsm = #{record.shsm,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      shyxqkssj = #{record.shyxqkssj,jdbcType=DATE},
      shyxqjssj = #{record.shyxqjssj,jdbcType=DATE},
      txzbh = #{record.txzbh,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.VehPass">
    update veh_pass
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="sqr != null">
        sqr = #{sqr,jdbcType=VARCHAR},
      </if>
      <if test="txzlx != null">
        txzlx = #{txzlx,jdbcType=VARCHAR},
      </if>
      <if test="cfd != null">
        cfd = #{cfd,jdbcType=VARCHAR},
      </if>
      <if test="mdd != null">
        mdd = #{mdd,jdbcType=VARCHAR},
      </if>
      <if test="yxqkssj != null">
        yxqkssj = #{yxqkssj,jdbcType=DATE},
      </if>
      <if test="yxqjssj != null">
        yxqjssj = #{yxqjssj,jdbcType=DATE},
      </if>
      <if test="hpzl != null">
        hpzl = #{hpzl,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        hphm = #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="syr != null">
        syr = #{syr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        lxdh = #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="sqsm != null">
        sqsm = #{sqsm,jdbcType=VARCHAR},
      </if>
      <if test="txxl != null">
        txxl = #{txxl,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        shr = #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        shsj = #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        shsm = #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="shyxqkssj != null">
        shyxqkssj = #{shyxqkssj,jdbcType=DATE},
      </if>
      <if test="shyxqjssj != null">
        shyxqjssj = #{shyxqjssj,jdbcType=DATE},
      </if>
      <if test="txzbh != null">
        txzbh = #{txzbh,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.VehPass">
    update veh_pass
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      sqr = #{sqr,jdbcType=VARCHAR},
      txzlx = #{txzlx,jdbcType=VARCHAR},
      cfd = #{cfd,jdbcType=VARCHAR},
      mdd = #{mdd,jdbcType=VARCHAR},
      yxqkssj = #{yxqkssj,jdbcType=DATE},
      yxqjssj = #{yxqjssj,jdbcType=DATE},
      hpzl = #{hpzl,jdbcType=VARCHAR},
      hphm = #{hphm,jdbcType=VARCHAR},
      syr = #{syr,jdbcType=VARCHAR},
      lxdh = #{lxdh,jdbcType=VARCHAR},
      sqsm = #{sqsm,jdbcType=VARCHAR},
      txxl = #{txxl,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      shr = #{shr,jdbcType=VARCHAR},
      shsj = #{shsj,jdbcType=TIMESTAMP},
      shsm = #{shsm,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      lsh = #{lsh,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      shyxqkssj = #{shyxqkssj,jdbcType=DATE},
      shyxqjssj = #{shyxqjssj,jdbcType=DATE},
      txzbh = #{txzbh,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>