<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.VehParkLotMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.VehParkLot">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="gl" jdbcType="VARCHAR" property="gl" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="hphm" jdbcType="VARCHAR" property="hphm" />
    <result column="clsbdh" jdbcType="VARCHAR" property="clsbdh" />
    <result column="fdjh" jdbcType="VARCHAR" property="fdjh" />
    <result column="cllb" jdbcType="VARCHAR" property="cllb" />
    <result column="cpys" jdbcType="VARCHAR" property="cpys" />
    <result column="csys" jdbcType="VARCHAR" property="csys" />
    <result column="syr" jdbcType="VARCHAR" property="syr" />
    <result column="sfzmhm" jdbcType="VARCHAR" property="sfzmhm" />
    <result column="pzbh" jdbcType="VARCHAR" property="pzbh" />
    <result column="xh" jdbcType="VARCHAR" property="xh" />
    <result column="dabh" jdbcType="VARCHAR" property="dabh" />
    <result column="zsxxdz" jdbcType="VARCHAR" property="zsxxdz" />
    <result column="wfsj" jdbcType="TIMESTAMP" property="wfsj" />
    <result column="wfdd" jdbcType="VARCHAR" property="wfdd" />
    <result column="wfdz" jdbcType="VARCHAR" property="wfdz" />
    <result column="zqmj" jdbcType="VARCHAR" property="zqmj" />
    <result column="fxjgmc" jdbcType="VARCHAR" property="fxjgmc" />
    <result column="fzjg" jdbcType="VARCHAR" property="fzjg" />
    <result column="sjxm" jdbcType="VARCHAR" property="sjxm" />
    <result column="zjcbh" jdbcType="VARCHAR" property="zjcbh" />
    <result column="wfdm" jdbcType="VARCHAR" property="wfdm" />
    <result column="rcrq" jdbcType="TIMESTAMP" property="rcrq" />
    <result column="ycy" jdbcType="VARCHAR" property="ycy" />
    <result column="tfwz" jdbcType="VARCHAR" property="tfwz" />
    <result column="ccrq" jdbcType="TIMESTAMP" property="ccrq" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="ccyy" jdbcType="VARCHAR" property="ccyy" />
    <result column="yjdw" jdbcType="VARCHAR" property="yjdw" />
    <result column="yjdwmc" jdbcType="VARCHAR" property="yjdwmc" />
    <result column="ccjsr" jdbcType="VARCHAR" property="ccjsr" />
    <result column="ccrlxdh" jdbcType="VARCHAR" property="ccrlxdh" />
    <result column="ccms" jdbcType="VARCHAR" property="ccms" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
  </resultMap>
  <resultMap id="VehParklotDtoResultMap" type="com.pd.server.main.dto.VehParkLotDto">
    <result column="sumddchp" javaType="INTEGER" property="sumddchp" />
    <result column="sumddcnp" javaType="INTEGER" property="sumddcnp" />
    <result column="sumddcwp" javaType="INTEGER" property="sumddcwp" />
    <result column="summtcyp" javaType="INTEGER" property="summtcyp" />
    <result column="summtcwp" javaType="INTEGER" property="summtcwp" />
    <result column="sumslc" javaType="INTEGER" property="sumslc" />
    <result column="sumqc" javaType="INTEGER" property="sumqc" />
    <result column="sumnyc" javaType="INTEGER" property="sumnyc" />
    <result column="sumqt" javaType="INTEGER" property="sumqt" />
    <result column="sys_org_code" javaType="STRING" property="sysOrgCode" />
  </resultMap>
  <resultMap id="VehParklotGuoupDtoResultMap" type="com.pd.server.main.dto.basewx.my.VehParkLotGuoupDto">
    <result column="syscode" javaType="STRING" property="syscode" />
    <result column="cllb" javaType="STRING" property="cllb" />
    <result column="cpys" javaType="STRING" property="cpys" />
    <result column="count" javaType="INTEGER" property="count" />

  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, sys_org_code, gl, lsh, hphm, 
    clsbdh, fdjh, cllb, cpys, csys, syr, sfzmhm, pzbh, xh, dabh, zsxxdz, wfsj, wfdd, 
    wfdz, zqmj, fxjgmc, fzjg, sjxm, zjcbh, wfdm, rcrq, ycy, tfwz, ccrq, bz, ccyy, yjdw, 
    yjdwmc, ccjsr, ccrlxdh, ccms, zt
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.VehParkLotExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from veh_parklot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from veh_parklot
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from veh_parklot
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.VehParkLotExample">
    delete from veh_parklot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.VehParkLot">
    insert into veh_parklot (id, create_by, create_time, 
      update_by, update_time, sys_org_code, 
      gl, lsh, hphm, clsbdh, 
      fdjh, cllb, cpys, csys, 
      syr, sfzmhm, pzbh, 
      xh, dabh, zsxxdz, wfsj, 
      wfdd, wfdz, zqmj, fxjgmc, 
      fzjg, sjxm, zjcbh, 
      wfdm, rcrq, ycy, 
      tfwz, ccrq, bz, ccyy, 
      yjdw, yjdwmc, ccjsr, 
      ccrlxdh, ccms, zt)
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{sysOrgCode,jdbcType=VARCHAR}, 
      #{gl,jdbcType=VARCHAR}, #{lsh,jdbcType=VARCHAR}, #{hphm,jdbcType=VARCHAR}, #{clsbdh,jdbcType=VARCHAR}, 
      #{fdjh,jdbcType=VARCHAR}, #{cllb,jdbcType=VARCHAR}, #{cpys,jdbcType=VARCHAR}, #{csys,jdbcType=VARCHAR}, 
      #{syr,jdbcType=VARCHAR}, #{sfzmhm,jdbcType=VARCHAR}, #{pzbh,jdbcType=VARCHAR}, 
      #{xh,jdbcType=VARCHAR}, #{dabh,jdbcType=VARCHAR}, #{zsxxdz,jdbcType=VARCHAR}, #{wfsj,jdbcType=TIMESTAMP}, 
      #{wfdd,jdbcType=VARCHAR}, #{wfdz,jdbcType=VARCHAR}, #{zqmj,jdbcType=VARCHAR}, #{fxjgmc,jdbcType=VARCHAR}, 
      #{fzjg,jdbcType=VARCHAR}, #{sjxm,jdbcType=VARCHAR}, #{zjcbh,jdbcType=VARCHAR}, 
      #{wfdm,jdbcType=VARCHAR}, #{rcrq,jdbcType=TIMESTAMP}, #{ycy,jdbcType=VARCHAR}, 
      #{tfwz,jdbcType=VARCHAR}, #{ccrq,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}, #{ccyy,jdbcType=VARCHAR}, 
      #{yjdw,jdbcType=VARCHAR}, #{yjdwmc,jdbcType=VARCHAR}, #{ccjsr,jdbcType=VARCHAR}, 
      #{ccrlxdh,jdbcType=VARCHAR}, #{ccms,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.VehParkLot">
    insert into veh_parklot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="gl != null">
        gl,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="hphm != null">
        hphm,
      </if>
      <if test="clsbdh != null">
        clsbdh,
      </if>
      <if test="fdjh != null">
        fdjh,
      </if>
      <if test="cllb != null">
        cllb,
      </if>
      <if test="cpys != null">
        cpys,
      </if>
      <if test="csys != null">
        csys,
      </if>
      <if test="syr != null">
        syr,
      </if>
      <if test="sfzmhm != null">
        sfzmhm,
      </if>
      <if test="pzbh != null">
        pzbh,
      </if>
      <if test="xh != null">
        xh,
      </if>
      <if test="dabh != null">
        dabh,
      </if>
      <if test="zsxxdz != null">
        zsxxdz,
      </if>
      <if test="wfsj != null">
        wfsj,
      </if>
      <if test="wfdd != null">
        wfdd,
      </if>
      <if test="wfdz != null">
        wfdz,
      </if>
      <if test="zqmj != null">
        zqmj,
      </if>
      <if test="fxjgmc != null">
        fxjgmc,
      </if>
      <if test="fzjg != null">
        fzjg,
      </if>
      <if test="sjxm != null">
        sjxm,
      </if>
      <if test="zjcbh != null">
        zjcbh,
      </if>
      <if test="wfdm != null">
        wfdm,
      </if>
      <if test="rcrq != null">
        rcrq,
      </if>
      <if test="ycy != null">
        ycy,
      </if>
      <if test="tfwz != null">
        tfwz,
      </if>
      <if test="ccrq != null">
        ccrq,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="ccyy != null">
        ccyy,
      </if>
      <if test="yjdw != null">
        yjdw,
      </if>
      <if test="yjdwmc != null">
        yjdwmc,
      </if>
      <if test="ccjsr != null">
        ccjsr,
      </if>
      <if test="ccrlxdh != null">
        ccrlxdh,
      </if>
      <if test="ccms != null">
        ccms,
      </if>
      <if test="zt != null">
        zt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="gl != null">
        #{gl,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="clsbdh != null">
        #{clsbdh,jdbcType=VARCHAR},
      </if>
      <if test="fdjh != null">
        #{fdjh,jdbcType=VARCHAR},
      </if>
      <if test="cllb != null">
        #{cllb,jdbcType=VARCHAR},
      </if>
      <if test="cpys != null">
        #{cpys,jdbcType=VARCHAR},
      </if>
      <if test="csys != null">
        #{csys,jdbcType=VARCHAR},
      </if>
      <if test="syr != null">
        #{syr,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="pzbh != null">
        #{pzbh,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="dabh != null">
        #{dabh,jdbcType=VARCHAR},
      </if>
      <if test="zsxxdz != null">
        #{zsxxdz,jdbcType=VARCHAR},
      </if>
      <if test="wfsj != null">
        #{wfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wfdd != null">
        #{wfdd,jdbcType=VARCHAR},
      </if>
      <if test="wfdz != null">
        #{wfdz,jdbcType=VARCHAR},
      </if>
      <if test="zqmj != null">
        #{zqmj,jdbcType=VARCHAR},
      </if>
      <if test="fxjgmc != null">
        #{fxjgmc,jdbcType=VARCHAR},
      </if>
      <if test="fzjg != null">
        #{fzjg,jdbcType=VARCHAR},
      </if>
      <if test="sjxm != null">
        #{sjxm,jdbcType=VARCHAR},
      </if>
      <if test="zjcbh != null">
        #{zjcbh,jdbcType=VARCHAR},
      </if>
      <if test="wfdm != null">
        #{wfdm,jdbcType=VARCHAR},
      </if>
      <if test="rcrq != null">
        #{rcrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ycy != null">
        #{ycy,jdbcType=VARCHAR},
      </if>
      <if test="tfwz != null">
        #{tfwz,jdbcType=VARCHAR},
      </if>
      <if test="ccrq != null">
        #{ccrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="ccyy != null">
        #{ccyy,jdbcType=VARCHAR},
      </if>
      <if test="yjdw != null">
        #{yjdw,jdbcType=VARCHAR},
      </if>
      <if test="yjdwmc != null">
        #{yjdwmc,jdbcType=VARCHAR},
      </if>
      <if test="ccjsr != null">
        #{ccjsr,jdbcType=VARCHAR},
      </if>
      <if test="ccrlxdh != null">
        #{ccrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="ccms != null">
        #{ccms,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.VehParkLotExample" resultType="java.lang.Long">
    select count(*) from veh_parklot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update veh_parklot
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysOrgCode != null">
        sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.gl != null">
        gl = #{record.gl,jdbcType=VARCHAR},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.hphm != null">
        hphm = #{record.hphm,jdbcType=VARCHAR},
      </if>
      <if test="record.clsbdh != null">
        clsbdh = #{record.clsbdh,jdbcType=VARCHAR},
      </if>
      <if test="record.fdjh != null">
        fdjh = #{record.fdjh,jdbcType=VARCHAR},
      </if>
      <if test="record.cllb != null">
        cllb = #{record.cllb,jdbcType=VARCHAR},
      </if>
      <if test="record.cpys != null">
        cpys = #{record.cpys,jdbcType=VARCHAR},
      </if>
      <if test="record.csys != null">
        csys = #{record.csys,jdbcType=VARCHAR},
      </if>
      <if test="record.syr != null">
        syr = #{record.syr,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzmhm != null">
        sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="record.pzbh != null">
        pzbh = #{record.pzbh,jdbcType=VARCHAR},
      </if>
      <if test="record.xh != null">
        xh = #{record.xh,jdbcType=VARCHAR},
      </if>
      <if test="record.dabh != null">
        dabh = #{record.dabh,jdbcType=VARCHAR},
      </if>
      <if test="record.zsxxdz != null">
        zsxxdz = #{record.zsxxdz,jdbcType=VARCHAR},
      </if>
      <if test="record.wfsj != null">
        wfsj = #{record.wfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wfdd != null">
        wfdd = #{record.wfdd,jdbcType=VARCHAR},
      </if>
      <if test="record.wfdz != null">
        wfdz = #{record.wfdz,jdbcType=VARCHAR},
      </if>
      <if test="record.zqmj != null">
        zqmj = #{record.zqmj,jdbcType=VARCHAR},
      </if>
      <if test="record.fxjgmc != null">
        fxjgmc = #{record.fxjgmc,jdbcType=VARCHAR},
      </if>
      <if test="record.fzjg != null">
        fzjg = #{record.fzjg,jdbcType=VARCHAR},
      </if>
      <if test="record.sjxm != null">
        sjxm = #{record.sjxm,jdbcType=VARCHAR},
      </if>
      <if test="record.zjcbh != null">
        zjcbh = #{record.zjcbh,jdbcType=VARCHAR},
      </if>
      <if test="record.wfdm != null">
        wfdm = #{record.wfdm,jdbcType=VARCHAR},
      </if>
      <if test="record.rcrq != null">
        rcrq = #{record.rcrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ycy != null">
        ycy = #{record.ycy,jdbcType=VARCHAR},
      </if>
      <if test="record.tfwz != null">
        tfwz = #{record.tfwz,jdbcType=VARCHAR},
      </if>
      <if test="record.ccrq != null">
        ccrq = #{record.ccrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.ccyy != null">
        ccyy = #{record.ccyy,jdbcType=VARCHAR},
      </if>
      <if test="record.yjdw != null">
        yjdw = #{record.yjdw,jdbcType=VARCHAR},
      </if>
      <if test="record.yjdwmc != null">
        yjdwmc = #{record.yjdwmc,jdbcType=VARCHAR},
      </if>
      <if test="record.ccjsr != null">
        ccjsr = #{record.ccjsr,jdbcType=VARCHAR},
      </if>
      <if test="record.ccrlxdh != null">
        ccrlxdh = #{record.ccrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.ccms != null">
        ccms = #{record.ccms,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update veh_parklot
    set id = #{record.id,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      gl = #{record.gl,jdbcType=VARCHAR},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      hphm = #{record.hphm,jdbcType=VARCHAR},
      clsbdh = #{record.clsbdh,jdbcType=VARCHAR},
      fdjh = #{record.fdjh,jdbcType=VARCHAR},
      cllb = #{record.cllb,jdbcType=VARCHAR},
      cpys = #{record.cpys,jdbcType=VARCHAR},
      csys = #{record.csys,jdbcType=VARCHAR},
      syr = #{record.syr,jdbcType=VARCHAR},
      sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      pzbh = #{record.pzbh,jdbcType=VARCHAR},
      xh = #{record.xh,jdbcType=VARCHAR},
      dabh = #{record.dabh,jdbcType=VARCHAR},
      zsxxdz = #{record.zsxxdz,jdbcType=VARCHAR},
      wfsj = #{record.wfsj,jdbcType=TIMESTAMP},
      wfdd = #{record.wfdd,jdbcType=VARCHAR},
      wfdz = #{record.wfdz,jdbcType=VARCHAR},
      zqmj = #{record.zqmj,jdbcType=VARCHAR},
      fxjgmc = #{record.fxjgmc,jdbcType=VARCHAR},
      fzjg = #{record.fzjg,jdbcType=VARCHAR},
      sjxm = #{record.sjxm,jdbcType=VARCHAR},
      zjcbh = #{record.zjcbh,jdbcType=VARCHAR},
      wfdm = #{record.wfdm,jdbcType=VARCHAR},
      rcrq = #{record.rcrq,jdbcType=TIMESTAMP},
      ycy = #{record.ycy,jdbcType=VARCHAR},
      tfwz = #{record.tfwz,jdbcType=VARCHAR},
      ccrq = #{record.ccrq,jdbcType=TIMESTAMP},
      bz = #{record.bz,jdbcType=VARCHAR},
      ccyy = #{record.ccyy,jdbcType=VARCHAR},
      yjdw = #{record.yjdw,jdbcType=VARCHAR},
      yjdwmc = #{record.yjdwmc,jdbcType=VARCHAR},
      ccjsr = #{record.ccjsr,jdbcType=VARCHAR},
      ccrlxdh = #{record.ccrlxdh,jdbcType=VARCHAR},
      ccms = #{record.ccms,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.VehParkLot">
    update veh_parklot
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="gl != null">
        gl = #{gl,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        hphm = #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="clsbdh != null">
        clsbdh = #{clsbdh,jdbcType=VARCHAR},
      </if>
      <if test="fdjh != null">
        fdjh = #{fdjh,jdbcType=VARCHAR},
      </if>
      <if test="cllb != null">
        cllb = #{cllb,jdbcType=VARCHAR},
      </if>
      <if test="cpys != null">
        cpys = #{cpys,jdbcType=VARCHAR},
      </if>
      <if test="csys != null">
        csys = #{csys,jdbcType=VARCHAR},
      </if>
      <if test="syr != null">
        syr = #{syr,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="pzbh != null">
        pzbh = #{pzbh,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        xh = #{xh,jdbcType=VARCHAR},
      </if>
      <if test="dabh != null">
        dabh = #{dabh,jdbcType=VARCHAR},
      </if>
      <if test="zsxxdz != null">
        zsxxdz = #{zsxxdz,jdbcType=VARCHAR},
      </if>
      <if test="wfsj != null">
        wfsj = #{wfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wfdd != null">
        wfdd = #{wfdd,jdbcType=VARCHAR},
      </if>
      <if test="wfdz != null">
        wfdz = #{wfdz,jdbcType=VARCHAR},
      </if>
      <if test="zqmj != null">
        zqmj = #{zqmj,jdbcType=VARCHAR},
      </if>
      <if test="fxjgmc != null">
        fxjgmc = #{fxjgmc,jdbcType=VARCHAR},
      </if>
      <if test="fzjg != null">
        fzjg = #{fzjg,jdbcType=VARCHAR},
      </if>
      <if test="sjxm != null">
        sjxm = #{sjxm,jdbcType=VARCHAR},
      </if>
      <if test="zjcbh != null">
        zjcbh = #{zjcbh,jdbcType=VARCHAR},
      </if>
      <if test="wfdm != null">
        wfdm = #{wfdm,jdbcType=VARCHAR},
      </if>
      <if test="rcrq != null">
        rcrq = #{rcrq,jdbcType=TIMESTAMP},
      </if>
      <if test="ycy != null">
        ycy = #{ycy,jdbcType=VARCHAR},
      </if>
      <if test="tfwz != null">
        tfwz = #{tfwz,jdbcType=VARCHAR},
      </if>
      <if test="ccrq != null">
        ccrq = #{ccrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="ccyy != null">
        ccyy = #{ccyy,jdbcType=VARCHAR},
      </if>
      <if test="yjdw != null">
        yjdw = #{yjdw,jdbcType=VARCHAR},
      </if>
      <if test="yjdwmc != null">
        yjdwmc = #{yjdwmc,jdbcType=VARCHAR},
      </if>
      <if test="ccjsr != null">
        ccjsr = #{ccjsr,jdbcType=VARCHAR},
      </if>
      <if test="ccrlxdh != null">
        ccrlxdh = #{ccrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="ccms != null">
        ccms = #{ccms,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.VehParkLot">
    update veh_parklot
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      gl = #{gl,jdbcType=VARCHAR},
      lsh = #{lsh,jdbcType=VARCHAR},
      hphm = #{hphm,jdbcType=VARCHAR},
      clsbdh = #{clsbdh,jdbcType=VARCHAR},
      fdjh = #{fdjh,jdbcType=VARCHAR},
      cllb = #{cllb,jdbcType=VARCHAR},
      cpys = #{cpys,jdbcType=VARCHAR},
      csys = #{csys,jdbcType=VARCHAR},
      syr = #{syr,jdbcType=VARCHAR},
      sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      pzbh = #{pzbh,jdbcType=VARCHAR},
      xh = #{xh,jdbcType=VARCHAR},
      dabh = #{dabh,jdbcType=VARCHAR},
      zsxxdz = #{zsxxdz,jdbcType=VARCHAR},
      wfsj = #{wfsj,jdbcType=TIMESTAMP},
      wfdd = #{wfdd,jdbcType=VARCHAR},
      wfdz = #{wfdz,jdbcType=VARCHAR},
      zqmj = #{zqmj,jdbcType=VARCHAR},
      fxjgmc = #{fxjgmc,jdbcType=VARCHAR},
      fzjg = #{fzjg,jdbcType=VARCHAR},
      sjxm = #{sjxm,jdbcType=VARCHAR},
      zjcbh = #{zjcbh,jdbcType=VARCHAR},
      wfdm = #{wfdm,jdbcType=VARCHAR},
      rcrq = #{rcrq,jdbcType=TIMESTAMP},
      ycy = #{ycy,jdbcType=VARCHAR},
      tfwz = #{tfwz,jdbcType=VARCHAR},
      ccrq = #{ccrq,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=VARCHAR},
      ccyy = #{ccyy,jdbcType=VARCHAR},
      yjdw = #{yjdw,jdbcType=VARCHAR},
      yjdwmc = #{yjdwmc,jdbcType=VARCHAR},
      ccjsr = #{ccjsr,jdbcType=VARCHAR},
      ccrlxdh = #{ccrlxdh,jdbcType=VARCHAR},
      ccms = #{ccms,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getStatisticsByRcToday" parameterType="com.pd.server.main.dto.basewx.my.VehParkLotGuoupDto" resultMap="VehParklotGuoupDtoResultMap">
    SELECT sys_org_code as syscode,cllb,cpys,COUNT(*) as count
    FROM veh_parklot v WHERE v.zt=#{zt,jdbcType=VARCHAR} AND DATE_FORMAT(v.rcrq,'%Y-%m-%d')=current_date
                       AND sys_org_code in

    <foreach close=")" collection="sysOrgCodeListStr" item="listItem" open="(" separator=",">
      #{listItem}
    </foreach>
    GROUP BY  sys_org_code ,cllb, cpys
  </select>
  <select id="getStatisticsByCcToday" parameterType="com.pd.server.main.dto.basewx.my.VehParkLotGuoupDto" resultMap="VehParklotGuoupDtoResultMap">
    SELECT sys_org_code as syscode,cllb,cpys,COUNT(*) as count
    FROM veh_parklot v WHERE v.zt=#{zt,jdbcType=VARCHAR} AND DATE_FORMAT(v.ccrq,'%Y-%m-%d')=current_date
    AND sys_org_code in

    <foreach close=")" collection="sysOrgCodeListStr" item="listItem" open="(" separator=",">
      #{listItem}
    </foreach>
    GROUP BY  sys_org_code ,cllb, cpys
  </select>
  <select id="getStatisticsByRcDay" parameterType="com.pd.server.main.dto.VehParkLotDto" resultMap="VehParklotGuoupDtoResultMap">
    SELECT v.sys_org_code as syscode,COUNT(*) as count
    FROM (SELECT * FROM veh_parklot WHERE
    DATE_FORMAT(rcrq,#{chooseType,jdbcType=VARCHAR})=#{checkdate,jdbcType=VARCHAR}
    and zt = #{zt,jdbcType=VARCHAR} and
    sys_org_code in
    <foreach close=")" collection="sysOrgCodeListStr" item="listItem" open="(" separator=",">
      #{listItem}
    </foreach>
    ) v
    GROUP BY  sys_org_code
  </select>
  <select id="getStatisticsByCcDay" parameterType="com.pd.server.main.dto.VehParkLotDto" resultMap="VehParklotGuoupDtoResultMap">
    SELECT v.sys_org_code as syscode,COUNT(*) as count
    FROM (SELECT * FROM veh_parklot WHERE
    DATE_FORMAT(ccrq,#{chooseType,jdbcType=VARCHAR})=#{checkdate,jdbcType=VARCHAR}
    and zt = #{zt,jdbcType=VARCHAR} and
    sys_org_code in
    <foreach close=")" collection="sysOrgCodeListStr" item="listItem" open="(" separator=",">
      #{listItem}
    </foreach>
    ) v
    GROUP BY  sys_org_code
  </select>
</mapper>