<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.VehParkLotStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.VehParkLotStatistics">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ddchp" jdbcType="INTEGER" property="ddchp" />
    <result column="ddcnp" jdbcType="INTEGER" property="ddcnp" />
    <result column="ddcwp" jdbcType="INTEGER" property="ddcwp" />
    <result column="mtcyp" jdbcType="INTEGER" property="mtcyp" />
    <result column="mtcwp" jdbcType="INTEGER" property="mtcwp" />
    <result column="slc" jdbcType="INTEGER" property="slc" />
    <result column="qc" jdbcType="INTEGER" property="qc" />
    <result column="nyc" jdbcType="INTEGER" property="nyc" />
    <result column="qt" jdbcType="INTEGER" property="qt" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <resultMap id="DtoResulMap" type="com.pd.server.main.dto.VehParkLotStatisticsDto">
    <result column="sumddchp" javaType="INTEGER" property="sumddchp" />
    <result column="sumddcnp" javaType="INTEGER" property="sumddcnp" />
    <result column="sumddcwp" javaType="INTEGER" property="sumddcwp" />
    <result column="summtcyp" javaType="INTEGER" property="summtcyp" />
    <result column="summtcwp" javaType="INTEGER" property="summtcwp" />
    <result column="sumslc" javaType="INTEGER" property="sumslc" />
    <result column="sumqc" javaType="INTEGER" property="sumqc" />
    <result column="sumnyc" javaType="INTEGER" property="sumnyc" />
    <result column="sumqt" javaType="INTEGER" property="sumqt" />
    <result column="sys_org_code" javaType="STRING" property="sysOrgCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ddchp, ddcnp, ddcwp, mtcyp, mtcwp, slc, qc, nyc, qt, sys_org_code, zt, create_time
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.VehParkLotStatisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from veh_parklot_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from veh_parklot_statistics
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from veh_parklot_statistics
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.VehParkLotStatisticsExample">
    delete from veh_parklot_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.VehParkLotStatistics">
    insert into veh_parklot_statistics (id, ddchp, ddcnp, 
      ddcwp, mtcyp, mtcwp, 
      slc, qc, nyc, qt, 
      sys_org_code, zt, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{ddchp,jdbcType=INTEGER}, #{ddcnp,jdbcType=INTEGER}, 
      #{ddcwp,jdbcType=INTEGER}, #{mtcyp,jdbcType=INTEGER}, #{mtcwp,jdbcType=INTEGER}, 
      #{slc,jdbcType=INTEGER}, #{qc,jdbcType=INTEGER}, #{nyc,jdbcType=INTEGER}, #{qt,jdbcType=INTEGER}, 
      #{sysOrgCode,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.VehParkLotStatistics">
    insert into veh_parklot_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ddchp != null">
        ddchp,
      </if>
      <if test="ddcnp != null">
        ddcnp,
      </if>
      <if test="ddcwp != null">
        ddcwp,
      </if>
      <if test="mtcyp != null">
        mtcyp,
      </if>
      <if test="mtcwp != null">
        mtcwp,
      </if>
      <if test="slc != null">
        slc,
      </if>
      <if test="qc != null">
        qc,
      </if>
      <if test="nyc != null">
        nyc,
      </if>
      <if test="qt != null">
        qt,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ddchp != null">
        #{ddchp,jdbcType=INTEGER},
      </if>
      <if test="ddcnp != null">
        #{ddcnp,jdbcType=INTEGER},
      </if>
      <if test="ddcwp != null">
        #{ddcwp,jdbcType=INTEGER},
      </if>
      <if test="mtcyp != null">
        #{mtcyp,jdbcType=INTEGER},
      </if>
      <if test="mtcwp != null">
        #{mtcwp,jdbcType=INTEGER},
      </if>
      <if test="slc != null">
        #{slc,jdbcType=INTEGER},
      </if>
      <if test="qc != null">
        #{qc,jdbcType=INTEGER},
      </if>
      <if test="nyc != null">
        #{nyc,jdbcType=INTEGER},
      </if>
      <if test="qt != null">
        #{qt,jdbcType=INTEGER},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.VehParkLotStatisticsExample" resultType="java.lang.Long">
    select count(*) from veh_parklot_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update veh_parklot_statistics
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ddchp != null">
        ddchp = #{record.ddchp,jdbcType=INTEGER},
      </if>
      <if test="record.ddcnp != null">
        ddcnp = #{record.ddcnp,jdbcType=INTEGER},
      </if>
      <if test="record.ddcwp != null">
        ddcwp = #{record.ddcwp,jdbcType=INTEGER},
      </if>
      <if test="record.mtcyp != null">
        mtcyp = #{record.mtcyp,jdbcType=INTEGER},
      </if>
      <if test="record.mtcwp != null">
        mtcwp = #{record.mtcwp,jdbcType=INTEGER},
      </if>
      <if test="record.slc != null">
        slc = #{record.slc,jdbcType=INTEGER},
      </if>
      <if test="record.qc != null">
        qc = #{record.qc,jdbcType=INTEGER},
      </if>
      <if test="record.nyc != null">
        nyc = #{record.nyc,jdbcType=INTEGER},
      </if>
      <if test="record.qt != null">
        qt = #{record.qt,jdbcType=INTEGER},
      </if>
      <if test="record.sysOrgCode != null">
        sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update veh_parklot_statistics
    set id = #{record.id,jdbcType=VARCHAR},
      ddchp = #{record.ddchp,jdbcType=INTEGER},
      ddcnp = #{record.ddcnp,jdbcType=INTEGER},
      ddcwp = #{record.ddcwp,jdbcType=INTEGER},
      mtcyp = #{record.mtcyp,jdbcType=INTEGER},
      mtcwp = #{record.mtcwp,jdbcType=INTEGER},
      slc = #{record.slc,jdbcType=INTEGER},
      qc = #{record.qc,jdbcType=INTEGER},
      nyc = #{record.nyc,jdbcType=INTEGER},
      qt = #{record.qt,jdbcType=INTEGER},
      sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.VehParkLotStatistics">
    update veh_parklot_statistics
    <set>
      <if test="ddchp != null">
        ddchp = #{ddchp,jdbcType=INTEGER},
      </if>
      <if test="ddcnp != null">
        ddcnp = #{ddcnp,jdbcType=INTEGER},
      </if>
      <if test="ddcwp != null">
        ddcwp = #{ddcwp,jdbcType=INTEGER},
      </if>
      <if test="mtcyp != null">
        mtcyp = #{mtcyp,jdbcType=INTEGER},
      </if>
      <if test="mtcwp != null">
        mtcwp = #{mtcwp,jdbcType=INTEGER},
      </if>
      <if test="slc != null">
        slc = #{slc,jdbcType=INTEGER},
      </if>
      <if test="qc != null">
        qc = #{qc,jdbcType=INTEGER},
      </if>
      <if test="nyc != null">
        nyc = #{nyc,jdbcType=INTEGER},
      </if>
      <if test="qt != null">
        qt = #{qt,jdbcType=INTEGER},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.VehParkLotStatistics">
    update veh_parklot_statistics
    set ddchp = #{ddchp,jdbcType=INTEGER},
      ddcnp = #{ddcnp,jdbcType=INTEGER},
      ddcwp = #{ddcwp,jdbcType=INTEGER},
      mtcyp = #{mtcyp,jdbcType=INTEGER},
      mtcwp = #{mtcwp,jdbcType=INTEGER},
      slc = #{slc,jdbcType=INTEGER},
      qc = #{qc,jdbcType=INTEGER},
      nyc = #{nyc,jdbcType=INTEGER},
      qt = #{qt,jdbcType=INTEGER},
      sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="getStatistics" parameterType="com.pd.server.main.dto.VehParkLotStatisticsDto" resultMap="DtoResulMap">
    SELECT v.sys_org_code,
           SUM(v.ddchp) sumddchp,
           SUM(v.ddcnp) sumddcnp,
           SUM(v.ddcwp) sumddcwp,
           SUM(v.mtcyp) summtcyp,
           SUM(v.mtcwp) summtcwp,
           SUM(v.slc) sumslc,
           SUM(v.qc) sumqc,
           SUM(v.nyc) sumnyc,
           SUM(v.qt) sumqt
    FROM (SELECT * FROM veh_parklot_statistics WHERE
        DATE_FORMAT(create_time,#{chooseType,jdbcType=VARCHAR})=#{checkdate,jdbcType=VARCHAR}
         and zt = #{zt,jdbcType=VARCHAR} and
    sys_org_code in
    <foreach close=")" collection="sysOrgCodeListStr" item="listItem" open="(" separator=",">
      #{listItem}
    </foreach>
     ) v
    GROUP BY v.sys_org_code
  </select>

</mapper>