<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.VehScrewMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.VehScrew">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="sfzmhm" jdbcType="VARCHAR" property="sfzmhm" />
    <result column="hphm" jdbcType="VARCHAR" property="hphm" />
    <result column="sqyy" jdbcType="VARCHAR" property="sqyy" />
    <result column="slsl" jdbcType="VARCHAR" property="slsl" />
    <result column="sjr" jdbcType="VARCHAR" property="sjr" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="sf" jdbcType="VARCHAR" property="sf" />
    <result column="cs" jdbcType="VARCHAR" property="cs" />
    <result column="qx" jdbcType="VARCHAR" property="qx" />
    <result column="jddz" jdbcType="VARCHAR" property="jddz" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="shr" jdbcType="VARCHAR" property="shr" />
    <result column="shsj" jdbcType="TIMESTAMP" property="shsj" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="shyy" jdbcType="VARCHAR" property="shyy" />
    <result column="ywmc" jdbcType="VARCHAR" property="ywmc" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="sfbr" jdbcType="VARCHAR" property="sfbr" />
    <result column="sllb" jdbcType="VARCHAR" property="sllb" />
    <result column="dh" jdbcType="VARCHAR" property="dh" />
  </resultMap>

  <resultMap id="ReportResultMap" type="com.pd.server.main.dto.VehScrewDto">
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="sfzmhm" jdbcType="VARCHAR" property="sfzmhm" />
    <result column="hphm" jdbcType="VARCHAR" property="hphm" />
    <result column="sllb" jdbcType="VARCHAR" property="sllb" />
    <result column="sumsl" jdbcType="INTEGER" property="sumsl" />
    <result column="xssl" jdbcType="INTEGER" property="xssl" />
    <result column="xxsl" jdbcType="INTEGER" property="xxsl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, sys_org_code, sfzmhm, hphm, sqyy, 
    slsl, sjr, lxdh, sf, cs, qx, jddz, zt, shr, shsj, bz, openid, shyy, ywmc, lsh, sfbr, 
    sllb, dh
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.VehScrewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from veh_screw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="vehScrewReport" parameterType="com.pd.server.main.domain.VehScrewExample" resultMap="ReportResultMap">
    select sys_org_code,sfzmhm,hphm, count(hphm) as sumsl from veh_screw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by hphm,sys_org_code,sfzmhm having sumsl>0;
  </select>

  <select id="getSllbReport" parameterType="com.pd.server.main.domain.VehScrewExample" resultMap="ReportResultMap">
    SELECT a.sys_org_code,
    (SELECT COUNT(1) FROM veh_screw WHERE a.sys_org_code = sys_org_code and sllb='1' group by sys_org_code) xssl,
    (SELECT COUNT(1) FROM veh_screw WHERE a.sys_org_code = sys_org_code and sllb='2' group by sys_org_code) xxsl
    FROM veh_screw a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    GROUP BY a.sys_org_code
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from veh_screw
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from veh_screw
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.VehScrewExample">
    delete from veh_screw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.VehScrew">
    insert into veh_screw (id, create_by, create_time, 
      update_by, update_time, sys_org_code, 
      sfzmhm, hphm, sqyy, 
      slsl, sjr, lxdh, sf, 
      cs, qx, jddz, zt, 
      shr, shsj, bz, openid, 
      shyy, ywmc, lsh, sfbr, 
      sllb, dh)
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{sysOrgCode,jdbcType=VARCHAR}, 
      #{sfzmhm,jdbcType=VARCHAR}, #{hphm,jdbcType=VARCHAR}, #{sqyy,jdbcType=VARCHAR}, 
      #{slsl,jdbcType=VARCHAR}, #{sjr,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, #{sf,jdbcType=VARCHAR}, 
      #{cs,jdbcType=VARCHAR}, #{qx,jdbcType=VARCHAR}, #{jddz,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, 
      #{shr,jdbcType=VARCHAR}, #{shsj,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{shyy,jdbcType=VARCHAR}, #{ywmc,jdbcType=VARCHAR}, #{lsh,jdbcType=VARCHAR}, #{sfbr,jdbcType=VARCHAR}, 
      #{sllb,jdbcType=VARCHAR}, #{dh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.VehScrew">
    insert into veh_screw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="sfzmhm != null">
        sfzmhm,
      </if>
      <if test="hphm != null">
        hphm,
      </if>
      <if test="sqyy != null">
        sqyy,
      </if>
      <if test="slsl != null">
        slsl,
      </if>
      <if test="sjr != null">
        sjr,
      </if>
      <if test="lxdh != null">
        lxdh,
      </if>
      <if test="sf != null">
        sf,
      </if>
      <if test="cs != null">
        cs,
      </if>
      <if test="qx != null">
        qx,
      </if>
      <if test="jddz != null">
        jddz,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="shr != null">
        shr,
      </if>
      <if test="shsj != null">
        shsj,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="shyy != null">
        shyy,
      </if>
      <if test="ywmc != null">
        ywmc,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="sfbr != null">
        sfbr,
      </if>
      <if test="sllb != null">
        sllb,
      </if>
      <if test="dh != null">
        dh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="sqyy != null">
        #{sqyy,jdbcType=VARCHAR},
      </if>
      <if test="slsl != null">
        #{slsl,jdbcType=VARCHAR},
      </if>
      <if test="sjr != null">
        #{sjr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="sf != null">
        #{sf,jdbcType=VARCHAR},
      </if>
      <if test="cs != null">
        #{cs,jdbcType=VARCHAR},
      </if>
      <if test="qx != null">
        #{qx,jdbcType=VARCHAR},
      </if>
      <if test="jddz != null">
        #{jddz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="shyy != null">
        #{shyy,jdbcType=VARCHAR},
      </if>
      <if test="ywmc != null">
        #{ywmc,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="sfbr != null">
        #{sfbr,jdbcType=VARCHAR},
      </if>
      <if test="sllb != null">
        #{sllb,jdbcType=VARCHAR},
      </if>
      <if test="dh != null">
        #{dh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.VehScrewExample" resultType="java.lang.Long">
    select count(*) from veh_screw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update veh_screw
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysOrgCode != null">
        sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzmhm != null">
        sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="record.hphm != null">
        hphm = #{record.hphm,jdbcType=VARCHAR},
      </if>
      <if test="record.sqyy != null">
        sqyy = #{record.sqyy,jdbcType=VARCHAR},
      </if>
      <if test="record.slsl != null">
        slsl = #{record.slsl,jdbcType=VARCHAR},
      </if>
      <if test="record.sjr != null">
        sjr = #{record.sjr,jdbcType=VARCHAR},
      </if>
      <if test="record.lxdh != null">
        lxdh = #{record.lxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.sf != null">
        sf = #{record.sf,jdbcType=VARCHAR},
      </if>
      <if test="record.cs != null">
        cs = #{record.cs,jdbcType=VARCHAR},
      </if>
      <if test="record.qx != null">
        qx = #{record.qx,jdbcType=VARCHAR},
      </if>
      <if test="record.jddz != null">
        jddz = #{record.jddz,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.shr != null">
        shr = #{record.shr,jdbcType=VARCHAR},
      </if>
      <if test="record.shsj != null">
        shsj = #{record.shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.shyy != null">
        shyy = #{record.shyy,jdbcType=VARCHAR},
      </if>
      <if test="record.ywmc != null">
        ywmc = #{record.ywmc,jdbcType=VARCHAR},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.sfbr != null">
        sfbr = #{record.sfbr,jdbcType=VARCHAR},
      </if>
      <if test="record.sllb != null">
        sllb = #{record.sllb,jdbcType=VARCHAR},
      </if>
      <if test="record.dh != null">
        dh = #{record.dh,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update veh_screw
    set id = #{record.id,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      hphm = #{record.hphm,jdbcType=VARCHAR},
      sqyy = #{record.sqyy,jdbcType=VARCHAR},
      slsl = #{record.slsl,jdbcType=VARCHAR},
      sjr = #{record.sjr,jdbcType=VARCHAR},
      lxdh = #{record.lxdh,jdbcType=VARCHAR},
      sf = #{record.sf,jdbcType=VARCHAR},
      cs = #{record.cs,jdbcType=VARCHAR},
      qx = #{record.qx,jdbcType=VARCHAR},
      jddz = #{record.jddz,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=VARCHAR},
      shr = #{record.shr,jdbcType=VARCHAR},
      shsj = #{record.shsj,jdbcType=TIMESTAMP},
      bz = #{record.bz,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      shyy = #{record.shyy,jdbcType=VARCHAR},
      ywmc = #{record.ywmc,jdbcType=VARCHAR},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      sfbr = #{record.sfbr,jdbcType=VARCHAR},
      sllb = #{record.sllb,jdbcType=VARCHAR},
      dh = #{record.dh,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.VehScrew">
    update veh_screw
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null">
        hphm = #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="sqyy != null">
        sqyy = #{sqyy,jdbcType=VARCHAR},
      </if>
      <if test="slsl != null">
        slsl = #{slsl,jdbcType=VARCHAR},
      </if>
      <if test="sjr != null">
        sjr = #{sjr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        lxdh = #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="sf != null">
        sf = #{sf,jdbcType=VARCHAR},
      </if>
      <if test="cs != null">
        cs = #{cs,jdbcType=VARCHAR},
      </if>
      <if test="qx != null">
        qx = #{qx,jdbcType=VARCHAR},
      </if>
      <if test="jddz != null">
        jddz = #{jddz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        shr = #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        shsj = #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="shyy != null">
        shyy = #{shyy,jdbcType=VARCHAR},
      </if>
      <if test="ywmc != null">
        ywmc = #{ywmc,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="sfbr != null">
        sfbr = #{sfbr,jdbcType=VARCHAR},
      </if>
      <if test="sllb != null">
        sllb = #{sllb,jdbcType=VARCHAR},
      </if>
      <if test="dh != null">
        dh = #{dh,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.VehScrew">
    update veh_screw
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      hphm = #{hphm,jdbcType=VARCHAR},
      sqyy = #{sqyy,jdbcType=VARCHAR},
      slsl = #{slsl,jdbcType=VARCHAR},
      sjr = #{sjr,jdbcType=VARCHAR},
      lxdh = #{lxdh,jdbcType=VARCHAR},
      sf = #{sf,jdbcType=VARCHAR},
      cs = #{cs,jdbcType=VARCHAR},
      qx = #{qx,jdbcType=VARCHAR},
      jddz = #{jddz,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      shr = #{shr,jdbcType=VARCHAR},
      shsj = #{shsj,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      shyy = #{shyy,jdbcType=VARCHAR},
      ywmc = #{ywmc,jdbcType=VARCHAR},
      lsh = #{lsh,jdbcType=VARCHAR},
      sfbr = #{sfbr,jdbcType=VARCHAR},
      sllb = #{sllb,jdbcType=VARCHAR},
      dh = #{dh,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>