<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WaterQualityResultMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WaterQualityResult">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="datacenter" jdbcType="VARCHAR" property="datacenter" />
    <result column="jcxm" jdbcType="VARCHAR" property="jcxm" />
    <result column="instruct" jdbcType="VARCHAR" property="instruct" />
    <result column="data_result" jdbcType="VARCHAR" property="dataResult" />
    <result column="data_original" jdbcType="VARCHAR" property="dataOriginal" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sm1" jdbcType="VARCHAR" property="sm1" />
    <result column="sm2" jdbcType="VARCHAR" property="sm2" />
    <result column="sm3" jdbcType="VARCHAR" property="sm3" />
    <result column="sm4" jdbcType="VARCHAR" property="sm4" />
  </resultMap>
  <resultMap id="AvgResultMap" type="com.pd.server.main.dto.WaterQualityAvgDto">
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="datacenter" jdbcType="VARCHAR" property="datacenter" />
    <result column="jcxm" jdbcType="VARCHAR" property="jcxm" />
    <result column="sumDataResult" jdbcType="DOUBLE" property="sumDataResult" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>

  <resultMap id="BaseResultMapKV" type="com.pd.server.main.dto.KvIntDto">
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">coun
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ip, port, datacenter, jcxm, instruct, data_result, data_original, create_time, 
    bz, sm1, sm2, sm3, sm4
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WaterQualityResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from water_quality_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from water_quality_result
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from water_quality_result
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WaterQualityResultExample">
    delete from water_quality_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WaterQualityResult">
    insert into water_quality_result (id, ip, port, 
      datacenter, jcxm, instruct, 
      data_result, data_original, create_time, 
      bz, sm1, sm2, sm3, 
      sm4)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, 
      #{datacenter,jdbcType=VARCHAR}, #{jcxm,jdbcType=VARCHAR}, #{instruct,jdbcType=VARCHAR}, 
      #{dataResult,jdbcType=VARCHAR}, #{dataOriginal,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{bz,jdbcType=VARCHAR}, #{sm1,jdbcType=VARCHAR}, #{sm2,jdbcType=VARCHAR}, #{sm3,jdbcType=VARCHAR}, 
      #{sm4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WaterQualityResult">
    insert into water_quality_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="datacenter != null">
        datacenter,
      </if>
      <if test="jcxm != null">
        jcxm,
      </if>
      <if test="instruct != null">
        instruct,
      </if>
      <if test="dataResult != null">
        data_result,
      </if>
      <if test="dataOriginal != null">
        data_original,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sm1 != null">
        sm1,
      </if>
      <if test="sm2 != null">
        sm2,
      </if>
      <if test="sm3 != null">
        sm3,
      </if>
      <if test="sm4 != null">
        sm4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="datacenter != null">
        #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="jcxm != null">
        #{jcxm,jdbcType=VARCHAR},
      </if>
      <if test="instruct != null">
        #{instruct,jdbcType=VARCHAR},
      </if>
      <if test="dataResult != null">
        #{dataResult,jdbcType=VARCHAR},
      </if>
      <if test="dataOriginal != null">
        #{dataOriginal,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm1 != null">
        #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        #{sm2,jdbcType=VARCHAR},
      </if>
      <if test="sm3 != null">
        #{sm3,jdbcType=VARCHAR},
      </if>
      <if test="sm4 != null">
        #{sm4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WaterQualityResultExample" resultType="java.lang.Long">
    select count(*) from water_quality_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update water_quality_result
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null">
        port = #{record.port,jdbcType=INTEGER},
      </if>
      <if test="record.datacenter != null">
        datacenter = #{record.datacenter,jdbcType=VARCHAR},
      </if>
      <if test="record.jcxm != null">
        jcxm = #{record.jcxm,jdbcType=VARCHAR},
      </if>
      <if test="record.instruct != null">
        instruct = #{record.instruct,jdbcType=VARCHAR},
      </if>
      <if test="record.dataResult != null">
        data_result = #{record.dataResult,jdbcType=VARCHAR},
      </if>
      <if test="record.dataOriginal != null">
        data_original = #{record.dataOriginal,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sm1 != null">
        sm1 = #{record.sm1,jdbcType=VARCHAR},
      </if>
      <if test="record.sm2 != null">
        sm2 = #{record.sm2,jdbcType=VARCHAR},
      </if>
      <if test="record.sm3 != null">
        sm3 = #{record.sm3,jdbcType=VARCHAR},
      </if>
      <if test="record.sm4 != null">
        sm4 = #{record.sm4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update water_quality_result
    set id = #{record.id,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=INTEGER},
      datacenter = #{record.datacenter,jdbcType=VARCHAR},
      jcxm = #{record.jcxm,jdbcType=VARCHAR},
      instruct = #{record.instruct,jdbcType=VARCHAR},
      data_result = #{record.dataResult,jdbcType=VARCHAR},
      data_original = #{record.dataOriginal,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      bz = #{record.bz,jdbcType=VARCHAR},
      sm1 = #{record.sm1,jdbcType=VARCHAR},
      sm2 = #{record.sm2,jdbcType=VARCHAR},
      sm3 = #{record.sm3,jdbcType=VARCHAR},
      sm4 = #{record.sm4,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WaterQualityResult">
    update water_quality_result
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="datacenter != null">
        datacenter = #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="jcxm != null">
        jcxm = #{jcxm,jdbcType=VARCHAR},
      </if>
      <if test="instruct != null">
        instruct = #{instruct,jdbcType=VARCHAR},
      </if>
      <if test="dataResult != null">
        data_result = #{dataResult,jdbcType=VARCHAR},
      </if>
      <if test="dataOriginal != null">
        data_original = #{dataOriginal,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm1 != null">
        sm1 = #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        sm2 = #{sm2,jdbcType=VARCHAR},
      </if>
      <if test="sm3 != null">
        sm3 = #{sm3,jdbcType=VARCHAR},
      </if>
      <if test="sm4 != null">
        sm4 = #{sm4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WaterQualityResult">
    update water_quality_result
    set ip = #{ip,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER},
      datacenter = #{datacenter,jdbcType=VARCHAR},
      jcxm = #{jcxm,jdbcType=VARCHAR},
      instruct = #{instruct,jdbcType=VARCHAR},
      data_result = #{dataResult,jdbcType=VARCHAR},
      data_original = #{dataOriginal,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=VARCHAR},
      sm1 = #{sm1,jdbcType=VARCHAR},
      sm2 = #{sm2,jdbcType=VARCHAR},
      sm3 = #{sm3,jdbcType=VARCHAR},
      sm4 = #{sm4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getLatestDate"  resultMap="BaseResultMap" parameterType="com.pd.server.main.domain.WaterQualityResultExample">
    SELECT a.* FROM water_quality_result a,(
    SELECT ip,jcxm , MAX(create_time) AS create_time  FROM water_quality_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    and TO_DAYS(create_time) = TO_DAYS(NOW())
    GROUP BY ip ,jcxm
    ) b WHERE a.ip = b.ip AND a.create_time = b.create_time  AND a.jcxm = b.jcxm  ORDER BY a.ip ,a.jcxm
  </select>


  <select id="getAlljcsjByDept" parameterType="com.pd.server.main.domain.WaterQualityResultExample"  resultMap="BaseResultMapKV">
    SELECT sm1 `key` ,COUNT(*)  `value` FROM  water_quality_result
      <if test="_parameter != null">
        <include refid="Example_Where_Clause" />
       </if>
      and   TO_DAYS(create_time) = TO_DAYS(NOW()) GROUP  BY  sm1

  </select>



  <select id="selectAvgByExample" parameterType="com.pd.server.main.domain.WaterQualityResultExample" resultMap="AvgResultMap">
    select ip,datacenter,jcxm,SUM(data_result) sumDataResult,COUNT(*) count
    from water_quality_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    GROUP BY ip,datacenter,jcxm
  </select>
</mapper>