<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WaterQualityAvgMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WaterQualityAvg">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="datacenter" jdbcType="VARCHAR" property="datacenter" />
    <result column="jcxm" jdbcType="VARCHAR" property="jcxm" />
    <result column="data_result" jdbcType="VARCHAR" property="dataResult" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sm1" jdbcType="VARCHAR" property="sm1" />
    <result column="sm2" jdbcType="VARCHAR" property="sm2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ip, datacenter, jcxm, data_result, create_time, sm1, sm2
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WaterQualityAvgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from water_quality_avg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from water_quality_avg
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from water_quality_avg
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WaterQualityAvgExample">
    delete from water_quality_avg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WaterQualityAvg">
    insert into water_quality_avg (id, ip, datacenter, 
      jcxm, data_result, create_time, 
      sm1, sm2)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{datacenter,jdbcType=VARCHAR}, 
      #{jcxm,jdbcType=VARCHAR}, #{dataResult,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{sm1,jdbcType=VARCHAR}, #{sm2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WaterQualityAvg">
    insert into water_quality_avg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="datacenter != null">
        datacenter,
      </if>
      <if test="jcxm != null">
        jcxm,
      </if>
      <if test="dataResult != null">
        data_result,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="sm1 != null">
        sm1,
      </if>
      <if test="sm2 != null">
        sm2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="datacenter != null">
        #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="jcxm != null">
        #{jcxm,jdbcType=VARCHAR},
      </if>
      <if test="dataResult != null">
        #{dataResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sm1 != null">
        #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        #{sm2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WaterQualityAvgExample" resultType="java.lang.Long">
    select count(*) from water_quality_avg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update water_quality_avg
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.datacenter != null">
        datacenter = #{record.datacenter,jdbcType=VARCHAR},
      </if>
      <if test="record.jcxm != null">
        jcxm = #{record.jcxm,jdbcType=VARCHAR},
      </if>
      <if test="record.dataResult != null">
        data_result = #{record.dataResult,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sm1 != null">
        sm1 = #{record.sm1,jdbcType=VARCHAR},
      </if>
      <if test="record.sm2 != null">
        sm2 = #{record.sm2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update water_quality_avg
    set id = #{record.id,jdbcType=VARCHAR},
      ip = #{record.ip,jdbcType=VARCHAR},
      datacenter = #{record.datacenter,jdbcType=VARCHAR},
      jcxm = #{record.jcxm,jdbcType=VARCHAR},
      data_result = #{record.dataResult,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      sm1 = #{record.sm1,jdbcType=VARCHAR},
      sm2 = #{record.sm2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WaterQualityAvg">
    update water_quality_avg
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="datacenter != null">
        datacenter = #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="jcxm != null">
        jcxm = #{jcxm,jdbcType=VARCHAR},
      </if>
      <if test="dataResult != null">
        data_result = #{dataResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sm1 != null">
        sm1 = #{sm1,jdbcType=VARCHAR},
      </if>
      <if test="sm2 != null">
        sm2 = #{sm2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WaterQualityAvg">
    update water_quality_avg
    set ip = #{ip,jdbcType=VARCHAR},
      datacenter = #{datacenter,jdbcType=VARCHAR},
      jcxm = #{jcxm,jdbcType=VARCHAR},
      data_result = #{dataResult,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sm1 = #{sm1,jdbcType=VARCHAR},
      sm2 = #{sm2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>