<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WaveDataMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WaveData">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="sbbh" jdbcType="VARCHAR" property="sbbh" />
    <result column="wave_h" jdbcType="VARCHAR" property="waveH" />
    <result column="wave_direction" jdbcType="VARCHAR" property="waveDirection" />
    <result column="wave_period" jdbcType="VARCHAR" property="wavePeriod" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cjsj, sbbh, wave_h, wave_direction, wave_period, bz, sm
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WaveDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wave_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wave_data
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wave_data
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WaveDataExample">
    delete from wave_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WaveData">
    insert into wave_data (id, cjsj, sbbh, 
      wave_h, wave_direction, wave_period, 
      bz, sm)
    values (#{id,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, #{sbbh,jdbcType=VARCHAR}, 
      #{waveH,jdbcType=VARCHAR}, #{waveDirection,jdbcType=VARCHAR}, #{wavePeriod,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR}, #{sm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WaveData">
    insert into wave_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="sbbh != null">
        sbbh,
      </if>
      <if test="waveH != null">
        wave_h,
      </if>
      <if test="waveDirection != null">
        wave_direction,
      </if>
      <if test="wavePeriod != null">
        wave_period,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="sm != null">
        sm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sbbh != null">
        #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="waveH != null">
        #{waveH,jdbcType=VARCHAR},
      </if>
      <if test="waveDirection != null">
        #{waveDirection,jdbcType=VARCHAR},
      </if>
      <if test="wavePeriod != null">
        #{wavePeriod,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        #{sm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WaveDataExample" resultType="java.lang.Long">
    select count(*) from wave_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wave_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sbbh != null">
        sbbh = #{record.sbbh,jdbcType=VARCHAR},
      </if>
      <if test="record.waveH != null">
        wave_h = #{record.waveH,jdbcType=VARCHAR},
      </if>
      <if test="record.waveDirection != null">
        wave_direction = #{record.waveDirection,jdbcType=VARCHAR},
      </if>
      <if test="record.wavePeriod != null">
        wave_period = #{record.wavePeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.sm != null">
        sm = #{record.sm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wave_data
    set id = #{record.id,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      sbbh = #{record.sbbh,jdbcType=VARCHAR},
      wave_h = #{record.waveH,jdbcType=VARCHAR},
      wave_direction = #{record.waveDirection,jdbcType=VARCHAR},
      wave_period = #{record.wavePeriod,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      sm = #{record.sm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WaveData">
    update wave_data
    <set>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sbbh != null">
        sbbh = #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="waveH != null">
        wave_h = #{waveH,jdbcType=VARCHAR},
      </if>
      <if test="waveDirection != null">
        wave_direction = #{waveDirection,jdbcType=VARCHAR},
      </if>
      <if test="wavePeriod != null">
        wave_period = #{wavePeriod,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sm != null">
        sm = #{sm,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WaveData">
    update wave_data
    set cjsj = #{cjsj,jdbcType=TIMESTAMP},
      sbbh = #{sbbh,jdbcType=VARCHAR},
      wave_h = #{waveH,jdbcType=VARCHAR},
      wave_direction = #{waveDirection,jdbcType=VARCHAR},
      wave_period = #{wavePeriod,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      sm = #{sm,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>