<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WebchatUsersMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WebchatUsers">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="zjmc" jdbcType="VARCHAR" property="zjmc" />
    <result column="zjhm" jdbcType="VARCHAR" property="zjhm" />
    <result column="zjlx" jdbcType="VARCHAR" property="zjlx" />
    <result column="yxqs" jdbcType="TIMESTAMP" property="yxqs" />
    <result column="yxqz" jdbcType="TIMESTAMP" property="yxqz" />
    <result column="zjdz" jdbcType="VARCHAR" property="zjdz" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="sfrz" jdbcType="VARCHAR" property="sfrz" />
    <result column="zjcx" jdbcType="VARCHAR" property="zjcx" />
    <result column="xtbh" jdbcType="VARCHAR" property="xtbh" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="similarity" jdbcType="VARCHAR" property="similarity" />
    <result column="failFlag" jdbcType="VARCHAR" property="failflag" />
    <result column="jszh" jdbcType="VARCHAR" property="jszh" />
    <result column="cclzrq" jdbcType="TIMESTAMP" property="cclzrq" />
    <result column="jszyxqz" jdbcType="TIMESTAMP" property="jszyxqz" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="yhdj" jdbcType="VARCHAR" property="yhdj" />
    <result column="gzcl" jdbcType="VARCHAR" property="gzcl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pd.server.main.domain.WebchatUsers">
    <result column="headimgurl" jdbcType="LONGVARCHAR" property="headimgurl" />
    <result column="zjtp" jdbcType="LONGVARCHAR" property="zjtp" />
    <result column="tp1" jdbcType="LONGVARCHAR" property="tp1" />
    <result column="tp2" jdbcType="LONGVARCHAR" property="tp2" />
    <result column="tp3" jdbcType="LONGVARCHAR" property="tp3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, openid, nickname, remark, sex, city, province, country, zjmc, zjhm, zjlx, yxqs, 
    yxqz, zjdz, cjsj, sfrz, zjcx, xtbh, bz, similarity, failFlag, jszh, cclzrq, jszyxqz, 
    lxdh, yhdj, gzcl
  </sql>
  <sql id="Blob_Column_List">
    headimgurl, zjtp, tp1, tp2, tp3
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pd.server.main.domain.WebchatUsersExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from webchat_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WebchatUsersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webchat_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from webchat_users
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from webchat_users
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WebchatUsersExample">
    delete from webchat_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WebchatUsers">
    insert into webchat_users (id, openid, nickname,
      remark, sex, city, 
      province, country, zjmc, 
      zjhm, zjlx, yxqs, 
      yxqz, zjdz, cjsj, 
      sfrz, zjcx, xtbh, bz, 
      similarity, failFlag, jszh, 
      cclzrq, jszyxqz, lxdh, 
      yhdj, gzcl, headimgurl, 
      zjtp, tp1, tp2, 
      tp3)
    values (#{id,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{zjmc,jdbcType=VARCHAR}, 
      #{zjhm,jdbcType=VARCHAR}, #{zjlx,jdbcType=VARCHAR}, #{yxqs,jdbcType=TIMESTAMP}, 
      #{yxqz,jdbcType=TIMESTAMP}, #{zjdz,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{sfrz,jdbcType=VARCHAR}, #{zjcx,jdbcType=VARCHAR}, #{xtbh,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{similarity,jdbcType=VARCHAR}, #{failflag,jdbcType=VARCHAR}, #{jszh,jdbcType=VARCHAR}, 
      #{cclzrq,jdbcType=TIMESTAMP}, #{jszyxqz,jdbcType=TIMESTAMP}, #{lxdh,jdbcType=VARCHAR}, 
      #{yhdj,jdbcType=VARCHAR}, #{gzcl,jdbcType=VARCHAR}, #{headimgurl,jdbcType=LONGVARCHAR}, 
      #{zjtp,jdbcType=LONGVARCHAR}, #{tp1,jdbcType=LONGVARCHAR}, #{tp2,jdbcType=LONGVARCHAR}, 
      #{tp3,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WebchatUsers">
    insert into webchat_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="zjmc != null">
        zjmc,
      </if>
      <if test="zjhm != null">
        zjhm,
      </if>
      <if test="zjlx != null">
        zjlx,
      </if>
      <if test="yxqs != null">
        yxqs,
      </if>
      <if test="yxqz != null">
        yxqz,
      </if>
      <if test="zjdz != null">
        zjdz,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="sfrz != null">
        sfrz,
      </if>
      <if test="zjcx != null">
        zjcx,
      </if>
      <if test="xtbh != null">
        xtbh,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="similarity != null">
        similarity,
      </if>
      <if test="failflag != null">
        failFlag,
      </if>
      <if test="jszh != null">
        jszh,
      </if>
      <if test="cclzrq != null">
        cclzrq,
      </if>
      <if test="jszyxqz != null">
        jszyxqz,
      </if>
      <if test="lxdh != null">
        lxdh,
      </if>
      <if test="yhdj != null">
        yhdj,
      </if>
      <if test="gzcl != null">
        gzcl,
      </if>
      <if test="headimgurl != null">
        headimgurl,
      </if>
      <if test="zjtp != null">
        zjtp,
      </if>
      <if test="tp1 != null">
        tp1,
      </if>
      <if test="tp2 != null">
        tp2,
      </if>
      <if test="tp3 != null">
        tp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="zjmc != null">
        #{zjmc,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null">
        #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="yxqs != null">
        #{yxqs,jdbcType=TIMESTAMP},
      </if>
      <if test="yxqz != null">
        #{yxqz,jdbcType=TIMESTAMP},
      </if>
      <if test="zjdz != null">
        #{zjdz,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sfrz != null">
        #{sfrz,jdbcType=VARCHAR},
      </if>
      <if test="zjcx != null">
        #{zjcx,jdbcType=VARCHAR},
      </if>
      <if test="xtbh != null">
        #{xtbh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="similarity != null">
        #{similarity,jdbcType=VARCHAR},
      </if>
      <if test="failflag != null">
        #{failflag,jdbcType=VARCHAR},
      </if>
      <if test="jszh != null">
        #{jszh,jdbcType=VARCHAR},
      </if>
      <if test="cclzrq != null">
        #{cclzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jszyxqz != null">
        #{jszyxqz,jdbcType=TIMESTAMP},
      </if>
      <if test="lxdh != null">
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="yhdj != null">
        #{yhdj,jdbcType=VARCHAR},
      </if>
      <if test="gzcl != null">
        #{gzcl,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        #{headimgurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="zjtp != null">
        #{zjtp,jdbcType=LONGVARCHAR},
      </if>
      <if test="tp1 != null">
        #{tp1,jdbcType=LONGVARCHAR},
      </if>
      <if test="tp2 != null">
        #{tp2,jdbcType=LONGVARCHAR},
      </if>
      <if test="tp3 != null">
        #{tp3,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WebchatUsersExample" resultType="java.lang.Long">
    select count(*) from webchat_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update webchat_users
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.zjmc != null">
        zjmc = #{record.zjmc,jdbcType=VARCHAR},
      </if>
      <if test="record.zjhm != null">
        zjhm = #{record.zjhm,jdbcType=VARCHAR},
      </if>
      <if test="record.zjlx != null">
        zjlx = #{record.zjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.yxqs != null">
        yxqs = #{record.yxqs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yxqz != null">
        yxqz = #{record.yxqz,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zjdz != null">
        zjdz = #{record.zjdz,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sfrz != null">
        sfrz = #{record.sfrz,jdbcType=VARCHAR},
      </if>
      <if test="record.zjcx != null">
        zjcx = #{record.zjcx,jdbcType=VARCHAR},
      </if>
      <if test="record.xtbh != null">
        xtbh = #{record.xtbh,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.similarity != null">
        similarity = #{record.similarity,jdbcType=VARCHAR},
      </if>
      <if test="record.failflag != null">
        failFlag = #{record.failflag,jdbcType=VARCHAR},
      </if>
      <if test="record.jszh != null">
        jszh = #{record.jszh,jdbcType=VARCHAR},
      </if>
      <if test="record.cclzrq != null">
        cclzrq = #{record.cclzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jszyxqz != null">
        jszyxqz = #{record.jszyxqz,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lxdh != null">
        lxdh = #{record.lxdh,jdbcType=VARCHAR},
      </if>
      <if test="record.yhdj != null">
        yhdj = #{record.yhdj,jdbcType=VARCHAR},
      </if>
      <if test="record.gzcl != null">
        gzcl = #{record.gzcl,jdbcType=VARCHAR},
      </if>
      <if test="record.headimgurl != null">
        headimgurl = #{record.headimgurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.zjtp != null">
        zjtp = #{record.zjtp,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tp1 != null">
        tp1 = #{record.tp1,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tp2 != null">
        tp2 = #{record.tp2,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tp3 != null">
        tp3 = #{record.tp3,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update webchat_users
    set id = #{record.id,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      zjmc = #{record.zjmc,jdbcType=VARCHAR},
      zjhm = #{record.zjhm,jdbcType=VARCHAR},
      zjlx = #{record.zjlx,jdbcType=VARCHAR},
      yxqs = #{record.yxqs,jdbcType=TIMESTAMP},
      yxqz = #{record.yxqz,jdbcType=TIMESTAMP},
      zjdz = #{record.zjdz,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      sfrz = #{record.sfrz,jdbcType=VARCHAR},
      zjcx = #{record.zjcx,jdbcType=VARCHAR},
      xtbh = #{record.xtbh,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      similarity = #{record.similarity,jdbcType=VARCHAR},
      failFlag = #{record.failflag,jdbcType=VARCHAR},
      jszh = #{record.jszh,jdbcType=VARCHAR},
      cclzrq = #{record.cclzrq,jdbcType=TIMESTAMP},
      jszyxqz = #{record.jszyxqz,jdbcType=TIMESTAMP},
      lxdh = #{record.lxdh,jdbcType=VARCHAR},
      yhdj = #{record.yhdj,jdbcType=VARCHAR},
      gzcl = #{record.gzcl,jdbcType=VARCHAR},
      headimgurl = #{record.headimgurl,jdbcType=LONGVARCHAR},
      zjtp = #{record.zjtp,jdbcType=LONGVARCHAR},
      tp1 = #{record.tp1,jdbcType=LONGVARCHAR},
      tp2 = #{record.tp2,jdbcType=LONGVARCHAR},
      tp3 = #{record.tp3,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update webchat_users
    set id = #{record.id,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      zjmc = #{record.zjmc,jdbcType=VARCHAR},
      zjhm = #{record.zjhm,jdbcType=VARCHAR},
      zjlx = #{record.zjlx,jdbcType=VARCHAR},
      yxqs = #{record.yxqs,jdbcType=TIMESTAMP},
      yxqz = #{record.yxqz,jdbcType=TIMESTAMP},
      zjdz = #{record.zjdz,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      sfrz = #{record.sfrz,jdbcType=VARCHAR},
      zjcx = #{record.zjcx,jdbcType=VARCHAR},
      xtbh = #{record.xtbh,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      similarity = #{record.similarity,jdbcType=VARCHAR},
      failFlag = #{record.failflag,jdbcType=VARCHAR},
      jszh = #{record.jszh,jdbcType=VARCHAR},
      cclzrq = #{record.cclzrq,jdbcType=TIMESTAMP},
      jszyxqz = #{record.jszyxqz,jdbcType=TIMESTAMP},
      lxdh = #{record.lxdh,jdbcType=VARCHAR},
      yhdj = #{record.yhdj,jdbcType=VARCHAR},
      gzcl = #{record.gzcl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WebchatUsers">
    update webchat_users
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="zjmc != null">
        zjmc = #{zjmc,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null">
        zjhm = #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        zjlx = #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="yxqs != null">
        yxqs = #{yxqs,jdbcType=TIMESTAMP},
      </if>
      <if test="yxqz != null">
        yxqz = #{yxqz,jdbcType=TIMESTAMP},
      </if>
      <if test="zjdz != null">
        zjdz = #{zjdz,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="sfrz != null">
        sfrz = #{sfrz,jdbcType=VARCHAR},
      </if>
      <if test="zjcx != null">
        zjcx = #{zjcx,jdbcType=VARCHAR},
      </if>
      <if test="xtbh != null">
        xtbh = #{xtbh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="similarity != null">
        similarity = #{similarity,jdbcType=VARCHAR},
      </if>
      <if test="failflag != null">
        failFlag = #{failflag,jdbcType=VARCHAR},
      </if>
      <if test="jszh != null">
        jszh = #{jszh,jdbcType=VARCHAR},
      </if>
      <if test="cclzrq != null">
        cclzrq = #{cclzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="jszyxqz != null">
        jszyxqz = #{jszyxqz,jdbcType=TIMESTAMP},
      </if>
      <if test="lxdh != null">
        lxdh = #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="yhdj != null">
        yhdj = #{yhdj,jdbcType=VARCHAR},
      </if>
      <if test="gzcl != null">
        gzcl = #{gzcl,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        headimgurl = #{headimgurl,jdbcType=LONGVARCHAR},
      </if>
      <if test="zjtp != null">
        zjtp = #{zjtp,jdbcType=LONGVARCHAR},
      </if>
      <if test="tp1 != null">
        tp1 = #{tp1,jdbcType=LONGVARCHAR},
      </if>
      <if test="tp2 != null">
        tp2 = #{tp2,jdbcType=LONGVARCHAR},
      </if>
      <if test="tp3 != null">
        tp3 = #{tp3,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pd.server.main.domain.WebchatUsers">
    update webchat_users
    set openid = #{openid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      zjmc = #{zjmc,jdbcType=VARCHAR},
      zjhm = #{zjhm,jdbcType=VARCHAR},
      zjlx = #{zjlx,jdbcType=VARCHAR},
      yxqs = #{yxqs,jdbcType=TIMESTAMP},
      yxqz = #{yxqz,jdbcType=TIMESTAMP},
      zjdz = #{zjdz,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      sfrz = #{sfrz,jdbcType=VARCHAR},
      zjcx = #{zjcx,jdbcType=VARCHAR},
      xtbh = #{xtbh,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      similarity = #{similarity,jdbcType=VARCHAR},
      failFlag = #{failflag,jdbcType=VARCHAR},
      jszh = #{jszh,jdbcType=VARCHAR},
      cclzrq = #{cclzrq,jdbcType=TIMESTAMP},
      jszyxqz = #{jszyxqz,jdbcType=TIMESTAMP},
      lxdh = #{lxdh,jdbcType=VARCHAR},
      yhdj = #{yhdj,jdbcType=VARCHAR},
      gzcl = #{gzcl,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=LONGVARCHAR},
      zjtp = #{zjtp,jdbcType=LONGVARCHAR},
      tp1 = #{tp1,jdbcType=LONGVARCHAR},
      tp2 = #{tp2,jdbcType=LONGVARCHAR},
      tp3 = #{tp3,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WebchatUsers">
    update webchat_users
    set openid = #{openid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      zjmc = #{zjmc,jdbcType=VARCHAR},
      zjhm = #{zjhm,jdbcType=VARCHAR},
      zjlx = #{zjlx,jdbcType=VARCHAR},
      yxqs = #{yxqs,jdbcType=TIMESTAMP},
      yxqz = #{yxqz,jdbcType=TIMESTAMP},
      zjdz = #{zjdz,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      sfrz = #{sfrz,jdbcType=VARCHAR},
      zjcx = #{zjcx,jdbcType=VARCHAR},
      xtbh = #{xtbh,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      similarity = #{similarity,jdbcType=VARCHAR},
      failFlag = #{failflag,jdbcType=VARCHAR},
      jszh = #{jszh,jdbcType=VARCHAR},
      cclzrq = #{cclzrq,jdbcType=TIMESTAMP},
      jszyxqz = #{jszyxqz,jdbcType=TIMESTAMP},
      lxdh = #{lxdh,jdbcType=VARCHAR},
      yhdj = #{yhdj,jdbcType=VARCHAR},
      gzcl = #{gzcl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>