<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WebchatFileinfoMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WebchatFileinfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="zpzl" jdbcType="VARCHAR" property="zpzl" />
    <result column="zplj" jdbcType="VARCHAR" property="zplj" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="zplx" jdbcType="VARCHAR" property="zplx" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, zpzl, zplj, lsh, bz, cjsj, zplx
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WebchatFileinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webchat_fileinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from webchat_fileinfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from webchat_fileinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WebchatFileinfoExample">
    delete from webchat_fileinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WebchatFileinfo">
    insert into webchat_fileinfo (id, zpzl, zplj, 
      lsh, bz, cjsj, zplx
      )
    values (#{id,jdbcType=VARCHAR}, #{zpzl,jdbcType=VARCHAR}, #{zplj,jdbcType=VARCHAR}, 
      #{lsh,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{cjsj,jdbcType=TIMESTAMP}, #{zplx,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WebchatFileinfo">
    insert into webchat_fileinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="zpzl != null">
        zpzl,
      </if>
      <if test="zplj != null">
        zplj,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="zplx != null">
        zplx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="zpzl != null">
        #{zpzl,jdbcType=VARCHAR},
      </if>
      <if test="zplj != null">
        #{zplj,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zplx != null">
        #{zplx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WebchatFileinfoExample" resultType="java.lang.Long">
    select count(*) from webchat_fileinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update webchat_fileinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.zpzl != null">
        zpzl = #{record.zpzl,jdbcType=VARCHAR},
      </if>
      <if test="record.zplj != null">
        zplj = #{record.zplj,jdbcType=VARCHAR},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zplx != null">
        zplx = #{record.zplx,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update webchat_fileinfo
    set id = #{record.id,jdbcType=VARCHAR},
      zpzl = #{record.zpzl,jdbcType=VARCHAR},
      zplj = #{record.zplj,jdbcType=VARCHAR},
      lsh = #{record.lsh,jdbcType=VARCHAR},
      bz = #{record.bz,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=TIMESTAMP},
      zplx = #{record.zplx,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WebchatFileinfo">
    update webchat_fileinfo
    <set>
      <if test="zpzl != null">
        zpzl = #{zpzl,jdbcType=VARCHAR},
      </if>
      <if test="zplj != null">
        zplj = #{zplj,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zplx != null">
        zplx = #{zplx,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WebchatFileinfo">
    update webchat_fileinfo
    set zpzl = #{zpzl,jdbcType=VARCHAR},
      zplj = #{zplj,jdbcType=VARCHAR},
      lsh = #{lsh,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      zplx = #{zplx,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>