<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WebchatIllegalSaveMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WebchatIllegalSave">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
    <result column="wfxwms" jdbcType="VARCHAR" property="wfxwms" />
    <result column="wflb" jdbcType="VARCHAR" property="wflb" />
    <result column="wfxw" jdbcType="VARCHAR" property="wfxw" />
    <result column="czzp" jdbcType="VARCHAR" property="czzp" />
    <result column="wfsj" jdbcType="TIMESTAMP" property="wfsj" />
    <result column="wfld" jdbcType="VARCHAR" property="wfld" />
    <result column="wfgps" jdbcType="VARCHAR" property="wfgps" />
    <result column="wfldxxdz" jdbcType="VARCHAR" property="wfldxxdz" />
    <result column="cplx" jdbcType="VARCHAR" property="cplx" />
    <result column="cphm" jdbcType="VARCHAR" property="cphm" />
    <result column="jbr" jdbcType="VARCHAR" property="jbr" />
    <result column="sfzmhm" jdbcType="VARCHAR" property="sfzmhm" />
    <result column="sjh" jdbcType="VARCHAR" property="sjh" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="shr" jdbcType="VARCHAR" property="shr" />
    <result column="shyy" jdbcType="VARCHAR" property="shyy" />
    <result column="shsj" jdbcType="TIMESTAMP" property="shsj" />
    <result column="shsm" jdbcType="VARCHAR" property="shsm" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="lsh" jdbcType="VARCHAR" property="lsh" />
    <result column="jlff" jdbcType="VARCHAR" property="jlff" />
    <result column="wfxwxx" jdbcType="VARCHAR" property="wfxwxx" />
    <result column="is_checked" jdbcType="VARCHAR" property="isChecked" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, sys_org_code, wfxwms, wflb, wfxw,
    czzp, wfsj, wfld, wfgps, wfldxxdz, cplx, cphm, jbr, sfzmhm, sjh, bz, shr, shyy, shsj,
    shsm, zt, openid, lsh, jlff, wfxwxx, is_checked
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WebchatIllegalSaveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webchat_illegal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from webchat_illegal
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from webchat_illegal
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WebchatIllegalSaveExample">
    delete from webchat_illegal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WebchatIllegalSave">
    insert into webchat_illegal (id, create_by, create_time,
                                 update_by, update_time, sys_org_code,
                                 wfxwms, wflb, wfxw,
                                 czzp, wfsj, wfld,
                                 wfgps, wfldxxdz, cplx,
                                 cphm, jbr, sfzmhm,
                                 sjh, bz, shr, shyy,
                                 shsj, shsm, zt, openid,
                                 lsh, jlff, wfxwxx,
                                 is_checked)
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{sysOrgCode,jdbcType=VARCHAR},
            #{wfxwms,jdbcType=VARCHAR}, #{wflb,jdbcType=VARCHAR}, #{wfxw,jdbcType=VARCHAR},
            #{czzp,jdbcType=VARCHAR}, #{wfsj,jdbcType=TIMESTAMP}, #{wfld,jdbcType=VARCHAR},
            #{wfgps,jdbcType=VARCHAR}, #{wfldxxdz,jdbcType=VARCHAR}, #{cplx,jdbcType=VARCHAR},
            #{cphm,jdbcType=VARCHAR}, #{jbr,jdbcType=VARCHAR}, #{sfzmhm,jdbcType=VARCHAR},
            #{sjh,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{shr,jdbcType=VARCHAR}, #{shyy,jdbcType=VARCHAR},
            #{shsj,jdbcType=TIMESTAMP}, #{shsm,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR},
            #{lsh,jdbcType=VARCHAR}, #{jlff,jdbcType=VARCHAR}, #{wfxwxx,jdbcType=VARCHAR},
            #{isChecked,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WebchatIllegalSave">
    insert into webchat_illegal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysOrgCode != null">
        sys_org_code,
      </if>
      <if test="wfxwms != null">
        wfxwms,
      </if>
      <if test="wflb != null">
        wflb,
      </if>
      <if test="wfxw != null">
        wfxw,
      </if>
      <if test="czzp != null">
        czzp,
      </if>
      <if test="wfsj != null">
        wfsj,
      </if>
      <if test="wfld != null">
        wfld,
      </if>
      <if test="wfgps != null">
        wfgps,
      </if>
      <if test="wfldxxdz != null">
        wfldxxdz,
      </if>
      <if test="cplx != null">
        cplx,
      </if>
      <if test="cphm != null">
        cphm,
      </if>
      <if test="jbr != null">
        jbr,
      </if>
      <if test="sfzmhm != null">
        sfzmhm,
      </if>
      <if test="sjh != null">
        sjh,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="shr != null">
        shr,
      </if>
      <if test="shyy != null">
        shyy,
      </if>
      <if test="shsj != null">
        shsj,
      </if>
      <if test="shsm != null">
        shsm,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="lsh != null">
        lsh,
      </if>
      <if test="jlff != null">
        jlff,
      </if>
      <if test="wfxwxx != null">
        wfxwxx,
      </if>
      <if test="isChecked != null">
        is_checked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="wfxwms != null">
        #{wfxwms,jdbcType=VARCHAR},
      </if>
      <if test="wflb != null">
        #{wflb,jdbcType=VARCHAR},
      </if>
      <if test="wfxw != null">
        #{wfxw,jdbcType=VARCHAR},
      </if>
      <if test="czzp != null">
        #{czzp,jdbcType=VARCHAR},
      </if>
      <if test="wfsj != null">
        #{wfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wfld != null">
        #{wfld,jdbcType=VARCHAR},
      </if>
      <if test="wfgps != null">
        #{wfgps,jdbcType=VARCHAR},
      </if>
      <if test="wfldxxdz != null">
        #{wfldxxdz,jdbcType=VARCHAR},
      </if>
      <if test="cplx != null">
        #{cplx,jdbcType=VARCHAR},
      </if>
      <if test="cphm != null">
        #{cphm,jdbcType=VARCHAR},
      </if>
      <if test="jbr != null">
        #{jbr,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="sjh != null">
        #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shyy != null">
        #{shyy,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="jlff != null">
        #{jlff,jdbcType=VARCHAR},
      </if>
      <if test="wfxwxx != null">
        #{wfxwxx,jdbcType=VARCHAR},
      </if>
      <if test="isChecked != null">
        #{isChecked,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WebchatIllegalSaveExample" resultType="java.lang.Long">
    select count(*) from webchat_illegal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update webchat_illegal
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysOrgCode != null">
        sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.wfxwms != null">
        wfxwms = #{record.wfxwms,jdbcType=VARCHAR},
      </if>
      <if test="record.wflb != null">
        wflb = #{record.wflb,jdbcType=VARCHAR},
      </if>
      <if test="record.wfxw != null">
        wfxw = #{record.wfxw,jdbcType=VARCHAR},
      </if>
      <if test="record.czzp != null">
        czzp = #{record.czzp,jdbcType=VARCHAR},
      </if>
      <if test="record.wfsj != null">
        wfsj = #{record.wfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wfld != null">
        wfld = #{record.wfld,jdbcType=VARCHAR},
      </if>
      <if test="record.wfgps != null">
        wfgps = #{record.wfgps,jdbcType=VARCHAR},
      </if>
      <if test="record.wfldxxdz != null">
        wfldxxdz = #{record.wfldxxdz,jdbcType=VARCHAR},
      </if>
      <if test="record.cplx != null">
        cplx = #{record.cplx,jdbcType=VARCHAR},
      </if>
      <if test="record.cphm != null">
        cphm = #{record.cphm,jdbcType=VARCHAR},
      </if>
      <if test="record.jbr != null">
        jbr = #{record.jbr,jdbcType=VARCHAR},
      </if>
      <if test="record.sfzmhm != null">
        sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="record.sjh != null">
        sjh = #{record.sjh,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.shr != null">
        shr = #{record.shr,jdbcType=VARCHAR},
      </if>
      <if test="record.shyy != null">
        shyy = #{record.shyy,jdbcType=VARCHAR},
      </if>
      <if test="record.shsj != null">
        shsj = #{record.shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shsm != null">
        shsm = #{record.shsm,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.lsh != null">
        lsh = #{record.lsh,jdbcType=VARCHAR},
      </if>
      <if test="record.jlff != null">
        jlff = #{record.jlff,jdbcType=VARCHAR},
      </if>
      <if test="record.wfxwxx != null">
        wfxwxx = #{record.wfxwxx,jdbcType=VARCHAR},
      </if>
      <if test="record.isChecked != null">
        is_checked = #{record.isChecked,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update webchat_illegal
    set id = #{record.id,jdbcType=VARCHAR},
    create_by = #{record.createBy,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_by = #{record.updateBy,jdbcType=VARCHAR},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    sys_org_code = #{record.sysOrgCode,jdbcType=VARCHAR},
    wfxwms = #{record.wfxwms,jdbcType=VARCHAR},
    wflb = #{record.wflb,jdbcType=VARCHAR},
    wfxw = #{record.wfxw,jdbcType=VARCHAR},
    czzp = #{record.czzp,jdbcType=VARCHAR},
    wfsj = #{record.wfsj,jdbcType=TIMESTAMP},
    wfld = #{record.wfld,jdbcType=VARCHAR},
    wfgps = #{record.wfgps,jdbcType=VARCHAR},
    wfldxxdz = #{record.wfldxxdz,jdbcType=VARCHAR},
    cplx = #{record.cplx,jdbcType=VARCHAR},
    cphm = #{record.cphm,jdbcType=VARCHAR},
    jbr = #{record.jbr,jdbcType=VARCHAR},
    sfzmhm = #{record.sfzmhm,jdbcType=VARCHAR},
    sjh = #{record.sjh,jdbcType=VARCHAR},
    bz = #{record.bz,jdbcType=VARCHAR},
    shr = #{record.shr,jdbcType=VARCHAR},
    shyy = #{record.shyy,jdbcType=VARCHAR},
    shsj = #{record.shsj,jdbcType=TIMESTAMP},
    shsm = #{record.shsm,jdbcType=VARCHAR},
    zt = #{record.zt,jdbcType=VARCHAR},
    openid = #{record.openid,jdbcType=VARCHAR},
    lsh = #{record.lsh,jdbcType=VARCHAR},
    jlff = #{record.jlff,jdbcType=VARCHAR},
    wfxwxx = #{record.wfxwxx,jdbcType=VARCHAR},
    is_checked = #{record.isChecked,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WebchatIllegalSave">
    update webchat_illegal
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysOrgCode != null">
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="wfxwms != null">
        wfxwms = #{wfxwms,jdbcType=VARCHAR},
      </if>
      <if test="wflb != null">
        wflb = #{wflb,jdbcType=VARCHAR},
      </if>
      <if test="wfxw != null">
        wfxw = #{wfxw,jdbcType=VARCHAR},
      </if>
      <if test="czzp != null">
        czzp = #{czzp,jdbcType=VARCHAR},
      </if>
      <if test="wfsj != null">
        wfsj = #{wfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="wfld != null">
        wfld = #{wfld,jdbcType=VARCHAR},
      </if>
      <if test="wfgps != null">
        wfgps = #{wfgps,jdbcType=VARCHAR},
      </if>
      <if test="wfldxxdz != null">
        wfldxxdz = #{wfldxxdz,jdbcType=VARCHAR},
      </if>
      <if test="cplx != null">
        cplx = #{cplx,jdbcType=VARCHAR},
      </if>
      <if test="cphm != null">
        cphm = #{cphm,jdbcType=VARCHAR},
      </if>
      <if test="jbr != null">
        jbr = #{jbr,jdbcType=VARCHAR},
      </if>
      <if test="sfzmhm != null">
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
      </if>
      <if test="sjh != null">
        sjh = #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="shr != null">
        shr = #{shr,jdbcType=VARCHAR},
      </if>
      <if test="shyy != null">
        shyy = #{shyy,jdbcType=VARCHAR},
      </if>
      <if test="shsj != null">
        shsj = #{shsj,jdbcType=TIMESTAMP},
      </if>
      <if test="shsm != null">
        shsm = #{shsm,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="lsh != null">
        lsh = #{lsh,jdbcType=VARCHAR},
      </if>
      <if test="jlff != null">
        jlff = #{jlff,jdbcType=VARCHAR},
      </if>
      <if test="wfxwxx != null">
        wfxwxx = #{wfxwxx,jdbcType=VARCHAR},
      </if>
      <if test="isChecked != null">
        is_checked = #{isChecked,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateById" parameterType="java.lang.String">
    update webchat_illegal set is_checked = '1'

    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WebchatIllegalSave">
    update webchat_illegal
    set create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
        wfxwms = #{wfxwms,jdbcType=VARCHAR},
        wflb = #{wflb,jdbcType=VARCHAR},
        wfxw = #{wfxw,jdbcType=VARCHAR},
        czzp = #{czzp,jdbcType=VARCHAR},
        wfsj = #{wfsj,jdbcType=TIMESTAMP},
        wfld = #{wfld,jdbcType=VARCHAR},
        wfgps = #{wfgps,jdbcType=VARCHAR},
        wfldxxdz = #{wfldxxdz,jdbcType=VARCHAR},
        cplx = #{cplx,jdbcType=VARCHAR},
        cphm = #{cphm,jdbcType=VARCHAR},
        jbr = #{jbr,jdbcType=VARCHAR},
        sfzmhm = #{sfzmhm,jdbcType=VARCHAR},
        sjh = #{sjh,jdbcType=VARCHAR},
        bz = #{bz,jdbcType=VARCHAR},
        shr = #{shr,jdbcType=VARCHAR},
        shyy = #{shyy,jdbcType=VARCHAR},
        shsj = #{shsj,jdbcType=TIMESTAMP},
        shsm = #{shsm,jdbcType=VARCHAR},
        zt = #{zt,jdbcType=VARCHAR},
        openid = #{openid,jdbcType=VARCHAR},
        lsh = #{lsh,jdbcType=VARCHAR},
        jlff = #{jlff,jdbcType=VARCHAR},
        wfxwxx = #{wfxwxx,jdbcType=VARCHAR},
        is_checked = #{isChecked,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>