<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WxYyStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WxYyStatistics">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="deptcode" jdbcType="VARCHAR" property="deptcode" />
    <result column="ywfl" jdbcType="VARCHAR" property="ywfl" />
    <result column="ywlx" jdbcType="VARCHAR" property="ywlx" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="nf" jdbcType="VARCHAR" property="nf" />
    <result column="yf" jdbcType="VARCHAR" property="yf" />
    <result column="rq" jdbcType="VARCHAR" property="rq" />
    <result column="yysl" jdbcType="INTEGER" property="yysl" />
    <result column="bzzd1" jdbcType="VARCHAR" property="bzzd1" />
    <result column="bzzd2" jdbcType="VARCHAR" property="bzzd2" />
    <result column="bzzd3" jdbcType="VARCHAR" property="bzzd3" />
  </resultMap>
  <resultMap id="DtoResulMap" type="com.pd.server.main.dto.WxYyStatisticsDto">
    <result column="deptcode" javaType="STRING" property="deptcode" />
    <result column="ywfl" javaType="STRING" property="ywfl" />
    <result column="ywlx" jdbcType="VARCHAR" property="ywlx" />
    <result column="sumYysl" jdbcType="INTEGER" property="sumYysl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deptcode, ywfl, ywlx, zt, nf, yf, rq, yysl, bzzd1, bzzd2, bzzd3
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WxYyStatisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_yy_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_yy_statistics
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wx_yy_statistics
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WxYyStatisticsExample">
    delete from wx_yy_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WxYyStatistics">
    insert into wx_yy_statistics (id, deptcode, ywfl, 
      ywlx, zt, nf, yf, 
      rq, yysl, bzzd1, bzzd2, 
      bzzd3)
    values (#{id,jdbcType=VARCHAR}, #{deptcode,jdbcType=VARCHAR}, #{ywfl,jdbcType=VARCHAR}, 
      #{ywlx,jdbcType=VARCHAR}, #{zt,jdbcType=VARCHAR}, #{nf,jdbcType=VARCHAR}, #{yf,jdbcType=VARCHAR}, 
      #{rq,jdbcType=VARCHAR}, #{yysl,jdbcType=INTEGER}, #{bzzd1,jdbcType=VARCHAR}, #{bzzd2,jdbcType=VARCHAR}, 
      #{bzzd3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WxYyStatistics">
    insert into wx_yy_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptcode != null">
        deptcode,
      </if>
      <if test="ywfl != null">
        ywfl,
      </if>
      <if test="ywlx != null">
        ywlx,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="nf != null">
        nf,
      </if>
      <if test="yf != null">
        yf,
      </if>
      <if test="rq != null">
        rq,
      </if>
      <if test="yysl != null">
        yysl,
      </if>
      <if test="bzzd1 != null">
        bzzd1,
      </if>
      <if test="bzzd2 != null">
        bzzd2,
      </if>
      <if test="bzzd3 != null">
        bzzd3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null">
        #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="ywfl != null">
        #{ywfl,jdbcType=VARCHAR},
      </if>
      <if test="ywlx != null">
        #{ywlx,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        #{nf,jdbcType=VARCHAR},
      </if>
      <if test="yf != null">
        #{yf,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        #{rq,jdbcType=VARCHAR},
      </if>
      <if test="yysl != null">
        #{yysl,jdbcType=INTEGER},
      </if>
      <if test="bzzd1 != null">
        #{bzzd1,jdbcType=VARCHAR},
      </if>
      <if test="bzzd2 != null">
        #{bzzd2,jdbcType=VARCHAR},
      </if>
      <if test="bzzd3 != null">
        #{bzzd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WxYyStatisticsExample" resultType="java.lang.Long">
    select count(*) from wx_yy_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wx_yy_statistics
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deptcode != null">
        deptcode = #{record.deptcode,jdbcType=VARCHAR},
      </if>
      <if test="record.ywfl != null">
        ywfl = #{record.ywfl,jdbcType=VARCHAR},
      </if>
      <if test="record.ywlx != null">
        ywlx = #{record.ywlx,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.nf != null">
        nf = #{record.nf,jdbcType=VARCHAR},
      </if>
      <if test="record.yf != null">
        yf = #{record.yf,jdbcType=VARCHAR},
      </if>
      <if test="record.rq != null">
        rq = #{record.rq,jdbcType=VARCHAR},
      </if>
      <if test="record.yysl != null">
        yysl = #{record.yysl,jdbcType=INTEGER},
      </if>
      <if test="record.bzzd1 != null">
        bzzd1 = #{record.bzzd1,jdbcType=VARCHAR},
      </if>
      <if test="record.bzzd2 != null">
        bzzd2 = #{record.bzzd2,jdbcType=VARCHAR},
      </if>
      <if test="record.bzzd3 != null">
        bzzd3 = #{record.bzzd3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wx_yy_statistics
    set id = #{record.id,jdbcType=VARCHAR},
      deptcode = #{record.deptcode,jdbcType=VARCHAR},
      ywfl = #{record.ywfl,jdbcType=VARCHAR},
      ywlx = #{record.ywlx,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=VARCHAR},
      nf = #{record.nf,jdbcType=VARCHAR},
      yf = #{record.yf,jdbcType=VARCHAR},
      rq = #{record.rq,jdbcType=VARCHAR},
      yysl = #{record.yysl,jdbcType=INTEGER},
      bzzd1 = #{record.bzzd1,jdbcType=VARCHAR},
      bzzd2 = #{record.bzzd2,jdbcType=VARCHAR},
      bzzd3 = #{record.bzzd3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WxYyStatistics">
    update wx_yy_statistics
    <set>
      <if test="deptcode != null">
        deptcode = #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="ywfl != null">
        ywfl = #{ywfl,jdbcType=VARCHAR},
      </if>
      <if test="ywlx != null">
        ywlx = #{ywlx,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        nf = #{nf,jdbcType=VARCHAR},
      </if>
      <if test="yf != null">
        yf = #{yf,jdbcType=VARCHAR},
      </if>
      <if test="rq != null">
        rq = #{rq,jdbcType=VARCHAR},
      </if>
      <if test="yysl != null">
        yysl = #{yysl,jdbcType=INTEGER},
      </if>
      <if test="bzzd1 != null">
        bzzd1 = #{bzzd1,jdbcType=VARCHAR},
      </if>
      <if test="bzzd2 != null">
        bzzd2 = #{bzzd2,jdbcType=VARCHAR},
      </if>
      <if test="bzzd3 != null">
        bzzd3 = #{bzzd3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WxYyStatistics">
    update wx_yy_statistics
    set deptcode = #{deptcode,jdbcType=VARCHAR},
      ywfl = #{ywfl,jdbcType=VARCHAR},
      ywlx = #{ywlx,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=VARCHAR},
      nf = #{nf,jdbcType=VARCHAR},
      yf = #{yf,jdbcType=VARCHAR},
      rq = #{rq,jdbcType=VARCHAR},
      yysl = #{yysl,jdbcType=INTEGER},
      bzzd1 = #{bzzd1,jdbcType=VARCHAR},
      bzzd2 = #{bzzd2,jdbcType=VARCHAR},
      bzzd3 = #{bzzd3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getStatistics" parameterType="com.pd.server.main.domain.WxYyExample" resultMap="DtoResulMap">
    SELECT v.deptcode,
    v.ywfl,
    v.ywlx,
    v.zt,
    SUM(v.yysl) sumYysl
    FROM (SELECT * FROM wx_yy_statistics
    <if test="_parameter != null">
        <include refid="Example_Where_Clause" />
    </if>
    ) v
    GROUP BY v.deptcode,v.ywfl,v.ywlx,v.zt
  </select>
  <select id="getStatisticsByDeptCode" parameterType="com.pd.server.main.domain.WxYyExample" resultMap="DtoResulMap">
    SELECT v.deptcode,
    v.zt,
    SUM(v.yysl) sumYysl
    FROM (SELECT * FROM wx_yy_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    ) v
    GROUP BY v.deptcode,v.zt
  </select>
</mapper>