<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.server.main.mapper.WxYyMapper">
  <resultMap id="BaseResultMap" type="com.pd.server.main.domain.WxYy">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="deptcode" jdbcType="VARCHAR" property="deptcode" />
    <result column="yysd" jdbcType="VARCHAR" property="yysd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sjhm" jdbcType="VARCHAR" property="sjhm" />
    <result column="zjlx" jdbcType="VARCHAR" property="zjlx" />
    <result column="zjhm" jdbcType="VARCHAR" property="zjhm" />
    <result column="kclx" jdbcType="VARCHAR" property="kclx" />
    <result column="sfxny" jdbcType="VARCHAR" property="sfxny" />
    <result column="vin" jdbcType="VARCHAR" property="vin" />
    <result column="dwmc" jdbcType="VARCHAR" property="dwmc" />
    <result column="xydm" jdbcType="VARCHAR" property="xydm" />
    <result column="cjsj" jdbcType="VARCHAR" property="cjsj" />
    <result column="yysj" jdbcType="VARCHAR" property="yysj" />
    <result column="yysl" jdbcType="INTEGER" property="yysl" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="slsj" jdbcType="VARCHAR" property="slsj" />
    <result column="yyrq" jdbcType="VARCHAR" property="yyrq" />
    <result column="ywfl" jdbcType="VARCHAR" property="ywfl" />
    <result column="ywlx" jdbcType="VARCHAR" property="ywlx" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="yytype" jdbcType="VARCHAR" property="yytype" />
  </resultMap>
  <resultMap id="WxyyGuoupDtoResultMap" type="com.pd.server.main.dto.basewx.my.WxyyGuoupDto">
    <result column="deptcode" jdbcType="VARCHAR" property="deptcode" />
    <result column="ywfl" jdbcType="VARCHAR" property="ywfl" />
    <result column="ywlx" jdbcType="VARCHAR" property="ywlx" />
    <result column="zt" jdbcType="VARCHAR" property="zt" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deptcode, yysd, `name`, sjhm, zjlx, zjhm, kclx, sfxny, vin, dwmc, xydm, cjsj, 
    yysj, yysl, zt, slsj, yyrq, ywfl, ywlx, openid, yytype
  </sql>
  <select id="selectByExample" parameterType="com.pd.server.main.domain.WxYyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_yy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_yy
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wx_yy
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.server.main.domain.WxYyExample">
    delete from wx_yy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.server.main.domain.WxYy">
    insert into wx_yy (id, deptcode, yysd, 
      `name`, sjhm, zjlx, zjhm, 
      kclx, sfxny, vin, dwmc, 
      xydm, cjsj, yysj, yysl, 
      zt, slsj, yyrq, ywfl, 
      ywlx, openid, yytype
      )
    values (#{id,jdbcType=VARCHAR}, #{deptcode,jdbcType=VARCHAR}, #{yysd,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sjhm,jdbcType=VARCHAR}, #{zjlx,jdbcType=VARCHAR}, #{zjhm,jdbcType=VARCHAR}, 
      #{kclx,jdbcType=VARCHAR}, #{sfxny,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{dwmc,jdbcType=VARCHAR}, 
      #{xydm,jdbcType=VARCHAR}, #{cjsj,jdbcType=VARCHAR}, #{yysj,jdbcType=VARCHAR}, #{yysl,jdbcType=INTEGER}, 
      #{zt,jdbcType=VARCHAR}, #{slsj,jdbcType=VARCHAR}, #{yyrq,jdbcType=VARCHAR}, #{ywfl,jdbcType=VARCHAR}, 
      #{ywlx,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{yytype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.server.main.domain.WxYy">
    insert into wx_yy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptcode != null">
        deptcode,
      </if>
      <if test="yysd != null">
        yysd,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sjhm != null">
        sjhm,
      </if>
      <if test="zjlx != null">
        zjlx,
      </if>
      <if test="zjhm != null">
        zjhm,
      </if>
      <if test="kclx != null">
        kclx,
      </if>
      <if test="sfxny != null">
        sfxny,
      </if>
      <if test="vin != null">
        vin,
      </if>
      <if test="dwmc != null">
        dwmc,
      </if>
      <if test="xydm != null">
        xydm,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="yysj != null">
        yysj,
      </if>
      <if test="yysl != null">
        yysl,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="slsj != null">
        slsj,
      </if>
      <if test="yyrq != null">
        yyrq,
      </if>
      <if test="ywfl != null">
        ywfl,
      </if>
      <if test="ywlx != null">
        ywlx,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="yytype != null">
        yytype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deptcode != null">
        #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="yysd != null">
        #{yysd,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null">
        #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null">
        #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="kclx != null">
        #{kclx,jdbcType=VARCHAR},
      </if>
      <if test="sfxny != null">
        #{sfxny,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null">
        #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="xydm != null">
        #{xydm,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="yysj != null">
        #{yysj,jdbcType=VARCHAR},
      </if>
      <if test="yysl != null">
        #{yysl,jdbcType=INTEGER},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="slsj != null">
        #{slsj,jdbcType=VARCHAR},
      </if>
      <if test="yyrq != null">
        #{yyrq,jdbcType=VARCHAR},
      </if>
      <if test="ywfl != null">
        #{ywfl,jdbcType=VARCHAR},
      </if>
      <if test="ywlx != null">
        #{ywlx,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="yytype != null">
        #{yytype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.server.main.domain.WxYyExample" resultType="java.lang.Long">
    select count(*) from wx_yy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wx_yy
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deptcode != null">
        deptcode = #{record.deptcode,jdbcType=VARCHAR},
      </if>
      <if test="record.yysd != null">
        yysd = #{record.yysd,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sjhm != null">
        sjhm = #{record.sjhm,jdbcType=VARCHAR},
      </if>
      <if test="record.zjlx != null">
        zjlx = #{record.zjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.zjhm != null">
        zjhm = #{record.zjhm,jdbcType=VARCHAR},
      </if>
      <if test="record.kclx != null">
        kclx = #{record.kclx,jdbcType=VARCHAR},
      </if>
      <if test="record.sfxny != null">
        sfxny = #{record.sfxny,jdbcType=VARCHAR},
      </if>
      <if test="record.vin != null">
        vin = #{record.vin,jdbcType=VARCHAR},
      </if>
      <if test="record.dwmc != null">
        dwmc = #{record.dwmc,jdbcType=VARCHAR},
      </if>
      <if test="record.xydm != null">
        xydm = #{record.xydm,jdbcType=VARCHAR},
      </if>
      <if test="record.cjsj != null">
        cjsj = #{record.cjsj,jdbcType=VARCHAR},
      </if>
      <if test="record.yysj != null">
        yysj = #{record.yysj,jdbcType=VARCHAR},
      </if>
      <if test="record.yysl != null">
        yysl = #{record.yysl,jdbcType=INTEGER},
      </if>
      <if test="record.zt != null">
        zt = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.slsj != null">
        slsj = #{record.slsj,jdbcType=VARCHAR},
      </if>
      <if test="record.yyrq != null">
        yyrq = #{record.yyrq,jdbcType=VARCHAR},
      </if>
      <if test="record.ywfl != null">
        ywfl = #{record.ywfl,jdbcType=VARCHAR},
      </if>
      <if test="record.ywlx != null">
        ywlx = #{record.ywlx,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.yytype != null">
        yytype = #{record.yytype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wx_yy
    set id = #{record.id,jdbcType=VARCHAR},
      deptcode = #{record.deptcode,jdbcType=VARCHAR},
      yysd = #{record.yysd,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      sjhm = #{record.sjhm,jdbcType=VARCHAR},
      zjlx = #{record.zjlx,jdbcType=VARCHAR},
      zjhm = #{record.zjhm,jdbcType=VARCHAR},
      kclx = #{record.kclx,jdbcType=VARCHAR},
      sfxny = #{record.sfxny,jdbcType=VARCHAR},
      vin = #{record.vin,jdbcType=VARCHAR},
      dwmc = #{record.dwmc,jdbcType=VARCHAR},
      xydm = #{record.xydm,jdbcType=VARCHAR},
      cjsj = #{record.cjsj,jdbcType=VARCHAR},
      yysj = #{record.yysj,jdbcType=VARCHAR},
      yysl = #{record.yysl,jdbcType=INTEGER},
      zt = #{record.zt,jdbcType=VARCHAR},
      slsj = #{record.slsj,jdbcType=VARCHAR},
      yyrq = #{record.yyrq,jdbcType=VARCHAR},
      ywfl = #{record.ywfl,jdbcType=VARCHAR},
      ywlx = #{record.ywlx,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      yytype = #{record.yytype,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.server.main.domain.WxYy">
    update wx_yy
    <set>
      <if test="deptcode != null">
        deptcode = #{deptcode,jdbcType=VARCHAR},
      </if>
      <if test="yysd != null">
        yysd = #{yysd,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null">
        sjhm = #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        zjlx = #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null">
        zjhm = #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="kclx != null">
        kclx = #{kclx,jdbcType=VARCHAR},
      </if>
      <if test="sfxny != null">
        sfxny = #{sfxny,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null">
        dwmc = #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="xydm != null">
        xydm = #{xydm,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="yysj != null">
        yysj = #{yysj,jdbcType=VARCHAR},
      </if>
      <if test="yysl != null">
        yysl = #{yysl,jdbcType=INTEGER},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="slsj != null">
        slsj = #{slsj,jdbcType=VARCHAR},
      </if>
      <if test="yyrq != null">
        yyrq = #{yyrq,jdbcType=VARCHAR},
      </if>
      <if test="ywfl != null">
        ywfl = #{ywfl,jdbcType=VARCHAR},
      </if>
      <if test="ywlx != null">
        ywlx = #{ywlx,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="yytype != null">
        yytype = #{yytype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.server.main.domain.WxYy">
    update wx_yy
    set deptcode = #{deptcode,jdbcType=VARCHAR},
      yysd = #{yysd,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      sjhm = #{sjhm,jdbcType=VARCHAR},
      zjlx = #{zjlx,jdbcType=VARCHAR},
      zjhm = #{zjhm,jdbcType=VARCHAR},
      kclx = #{kclx,jdbcType=VARCHAR},
      sfxny = #{sfxny,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      dwmc = #{dwmc,jdbcType=VARCHAR},
      xydm = #{xydm,jdbcType=VARCHAR},
      cjsj = #{cjsj,jdbcType=VARCHAR},
      yysj = #{yysj,jdbcType=VARCHAR},
      yysl = #{yysl,jdbcType=INTEGER},
      zt = #{zt,jdbcType=VARCHAR},
      slsj = #{slsj,jdbcType=VARCHAR},
      yyrq = #{yyrq,jdbcType=VARCHAR},
      ywfl = #{ywfl,jdbcType=VARCHAR},
      ywlx = #{ywlx,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      yytype = #{yytype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getStatisticsByDay" parameterType="com.pd.server.main.dto.basewx.my.WxyyGuoupDto" resultMap="WxyyGuoupDtoResultMap">
    SELECT deptcode,ywfl,ywlx,zt,SUM(yysl) as count
    FROM wx_yy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    GROUP BY  deptcode ,ywfl, ywlx, zt
  </select>
  <select id="getStatisticsByTodayAndDeptcode" parameterType="com.pd.server.main.dto.basewx.my.WxyyGuoupDto" resultMap="WxyyGuoupDtoResultMap">
    SELECT deptcode,zt,SUM(yysl) as count
    FROM wx_yy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    GROUP BY  deptcode, zt
  </select>
  <select id="getYyslByExample" parameterType="com.pd.server.main.dto.basewx.my.WxyyGuoupDto" resultMap="WxyyGuoupDtoResultMap">
    SELECT yysj,zt,SUM(yysl) as count
    FROM wx_yy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    GROUP BY yysj
  </select>
  <select id="getYyslByBeforeTen" parameterType="com.pd.server.main.dto.basewx.my.WxyyGuoupDto" resultMap="WxyyGuoupDtoResultMap">
    SELECT tem.deptcode as deptcode,tem.count as count FROM(
      SELECT deptcode,SUM(yysl) as count
      FROM wx_yy
      <if test="_parameter != null">
        <include refid="Example_Where_Clause" />
      </if>
      GROUP BY deptcode
    ) AS tem ORDER BY tem.count ASC limit 10
  </select>
</mapper>