<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pd.power.main.mapper.DcbDataSecMapper">
  <resultMap id="BaseResultMap" type="com.pd.power.main.domain.DcbDataSec">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ICCID" jdbcType="VARCHAR" property="iccid" />
    <result column="IPPort" jdbcType="VARCHAR" property="ipport" />
    <result column="dy" jdbcType="VARCHAR" property="dy" />
    <result column="rl" jdbcType="VARCHAR" property="rl" />
    <result column="dl" jdbcType="VARCHAR" property="dl" />
    <result column="sjdate" jdbcType="TIMESTAMP" property="sjdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ICCID, IPPort, dy, rl, dl, sjdate
  </sql>
  <select id="selectByExample" parameterType="com.pd.power.main.domain.DcbDataSecExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dcb_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dcb_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dcb_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pd.power.main.domain.DcbDataSecExample">
    delete from dcb_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pd.power.main.domain.DcbDataSec">
    insert into dcb_data (id, ICCID, IPPort, 
      dy, rl, dl, sjdate
      )
    values (#{id,jdbcType=INTEGER}, #{iccid,jdbcType=VARCHAR}, #{ipport,jdbcType=VARCHAR}, 
      #{dy,jdbcType=VARCHAR}, #{rl,jdbcType=VARCHAR}, #{dl,jdbcType=VARCHAR}, #{sjdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pd.power.main.domain.DcbDataSec">
    insert into dcb_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="iccid != null">
        ICCID,
      </if>
      <if test="ipport != null">
        IPPort,
      </if>
      <if test="dy != null">
        dy,
      </if>
      <if test="rl != null">
        rl,
      </if>
      <if test="dl != null">
        dl,
      </if>
      <if test="sjdate != null">
        sjdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="iccid != null">
        #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="ipport != null">
        #{ipport,jdbcType=VARCHAR},
      </if>
      <if test="dy != null">
        #{dy,jdbcType=VARCHAR},
      </if>
      <if test="rl != null">
        #{rl,jdbcType=VARCHAR},
      </if>
      <if test="dl != null">
        #{dl,jdbcType=VARCHAR},
      </if>
      <if test="sjdate != null">
        #{sjdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pd.power.main.domain.DcbDataSecExample" resultType="java.lang.Long">
    select count(*) from dcb_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dcb_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.iccid != null">
        ICCID = #{record.iccid,jdbcType=VARCHAR},
      </if>
      <if test="record.ipport != null">
        IPPort = #{record.ipport,jdbcType=VARCHAR},
      </if>
      <if test="record.dy != null">
        dy = #{record.dy,jdbcType=VARCHAR},
      </if>
      <if test="record.rl != null">
        rl = #{record.rl,jdbcType=VARCHAR},
      </if>
      <if test="record.dl != null">
        dl = #{record.dl,jdbcType=VARCHAR},
      </if>
      <if test="record.sjdate != null">
        sjdate = #{record.sjdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dcb_data
    set id = #{record.id,jdbcType=INTEGER},
      ICCID = #{record.iccid,jdbcType=VARCHAR},
      IPPort = #{record.ipport,jdbcType=VARCHAR},
      dy = #{record.dy,jdbcType=VARCHAR},
      rl = #{record.rl,jdbcType=VARCHAR},
      dl = #{record.dl,jdbcType=VARCHAR},
      sjdate = #{record.sjdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pd.power.main.domain.DcbDataSec">
    update dcb_data
    <set>
      <if test="iccid != null">
        ICCID = #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="ipport != null">
        IPPort = #{ipport,jdbcType=VARCHAR},
      </if>
      <if test="dy != null">
        dy = #{dy,jdbcType=VARCHAR},
      </if>
      <if test="rl != null">
        rl = #{rl,jdbcType=VARCHAR},
      </if>
      <if test="dl != null">
        dl = #{dl,jdbcType=VARCHAR},
      </if>
      <if test="sjdate != null">
        sjdate = #{sjdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pd.power.main.domain.DcbDataSec">
    update dcb_data
    set ICCID = #{iccid,jdbcType=VARCHAR},
      IPPort = #{ipport,jdbcType=VARCHAR},
      dy = #{dy,jdbcType=VARCHAR},
      rl = #{rl,jdbcType=VARCHAR},
      dl = #{dl,jdbcType=VARCHAR},
      sjdate = #{sjdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>